<div class="collapse--group">
  <div class="collapse--group__item">
    <div class="collapse--group__header u-d-flex u-align-items-center u-justify-content-between">
      <div class="u-d-flex u-align-items-md-center">
        <label class="g-radiobtn"
          >Tarjeta bancaria
          <input
            type="radio"
            name="payment-accordion"
            checked
            id="payment-accordion-content-0"
            value="box-payment__card"
          />
          <span class="g-radiobtn--checkmark"></span>
        </label>
      </div>
      <div class="u-d-flex">
        <img src="../../../assets/img/visa.svg" alt="visa" class="box-payment__card" />
        <img src="../../../assets/img/mastercard.svg" alt="mastercard" class="box-payment__card" />
        <img src="../../../assets/img/american-express.svg" alt="americanexpress" class="box-payment__card" />
      </div>
    </div>
    <div class="collapse--group__body box-payment__item active">
      <div class="item__content">
        <div class="o-row">
          <div class="o-col-lg-10 margin-responsive">
            <div class="form__input-wrapper">
              <input
                class="g-input form__input"
                type="text"
                name="label"
                placeholder=" "
                data-input="payment-card-number"
              />
              <label>Número de la tarjeta</label>
            </div>
          </div>
          <div class="o-col-lg-14 margin-responsive">
            <div class="form__input-wrapper">
              <input class="g-input form__input" type="text" name="label" placeholder=" " />
              <label>Titular de la tarjeta</label>
            </div>
          </div>
          <div class="o-col-lg-4 margin-responsive">
            <div class="form__input-wrapper">
              <input
                class="g-input form__input"
                type="text"
                name="label"
                placeholder=" "
                data-input="payment-card-expiry"
              />
              <label>Fecha de caducidad</label>
            </div>
          </div>
          <div class="o-col-lg-4 u-d-flex u-align-items-center margin-responsive">
            <div class="form__input-wrapper">
              <input
                class="g-input form__input"
                type="text"
                name="label"
                placeholder=" "
                data-input="payment-card-cvc"
              />
              <label>CVV</label>
            </div>
            <img src="../../../assets/img/card-cvv.svg" alt="cvv" class="o-ml--2" />
          </div>
        </div>
        <div class="o-row">
          <div class="o-col-lg-24 o-mb--2 o-mt--2">
            <div class="g-calendar--check">
              <label class="control control--checkbox"
                >Guardar tarjeta para futuras compras <i class="icon-info tooltips u-text--secondary"></i>
                <input type="checkbox" data-input="payment-save-card" />
                <div class="control__indicator"></div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse--group__item">
    <div class="collapse--group__header u-d-flex u-align-items-center u-justify-content-between">
      <div class="u-d-flex u-align-items-md-center">
        <label class="g-radiobtn"
          ><img src="../../../assets/img/Paypal.svg" alt="" />
          <input type="radio" name="payment-accordion" id="payment-accordion-content-1" value="box-payment__payapl" />
          <span class="g-radiobtn--checkmark"></span>
        </label>
      </div>
    </div>
    <div class="collapse--group__body box-payment__item">
      <div class="item__content">
        <div class="o-row">
          <div class="o-col-lg-24">
            <div
              class="banner-information banner-information--small u-d-flex u-align-items-center u-justify-content-between"
            >
              <div class="banner-information__info u-d-md-flex">
                <i class="icon-ticket o-mr--2 banner-information__icon"></i>
                <div>
                  <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                    Al hacer clic en “Completar reserva”
                    <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
                  </h2>
                  <p class="banner-information__subtitle u-label">
                    serás redirigido a nuestra plataforma de pago para completar tu reserva de forma 100% segura.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse--group__item">
    <div class="collapse--group__header u-d-flex u-align-items-center u-justify-content-between">
      <div class="u-d-flex u-align-items-md-center">
        <label class="g-radiobtn"
          ><img src="../../../assets/img/Bizum.svg" alt="" />
          <input type="radio" name="payment-accordion" id="payment-accordion-content-2" value="box-payment__bizum" />
          <span class="g-radiobtn--checkmark"></span>
        </label>
      </div>
    </div>
    <div class="collapse--group__body box-payment__item">
      <div class="item__content">
        <div class="o-row">
          <div class="o-col-lg-24">
            <div
              class="banner-information banner-information--small u-d-flex u-align-items-center u-justify-content-between"
            >
              <div class="banner-information__info u-d-md-flex">
                <i class="icon-ticket o-mr--2 banner-information__icon"></i>
                <div>
                  <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                    Al hacer clic en “Completar reserva”
                    <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
                  </h2>
                  <p class="banner-information__subtitle u-label">
                    serás redirigido a nuestra plataforma de pago para completar tu reserva de forma 100% segura.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse--group__item">
    <div class="collapse--group__header u-d-flex u-align-items-center u-justify-content-between">
      <div class="u-d-flex u-align-items-md-center">
        <label class="g-radiobtn"
          ><img src="../../../assets/img/Amazon_Pay.svg" alt="" />
          <input
            type="radio"
            name="payment-accordion"
            id="payment-accordion-content-3"
            value="box-payment__amazon-pay"
          />
          <span class="g-radiobtn--checkmark"></span>
        </label>
      </div>
      <div class="tag tag--green u-align-items-center">
        <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>
        RegaloIncluido
      </div>
    </div>
    <div class="collapse--group__body box-payment__item">
      <div class="item__content">
        <div class="o-row">
          <div class="o-col-lg-24">
            <div class="banner-information banner-information--small u-d-flex u-align-items-center">
              <div class="banner-information__info u-d-md-flex u-border--bottom-gray o-pb--3 u-w--100">
                <i class="icon-ticket o-mr--2 banner-information__icon"></i>
                <div>
                  <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                    Al hacer clic en “Completar reserva”
                    <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
                  </h2>
                  <p class="banner-information__subtitle u-label">
                    serás redirigido a nuestra plataforma de pago para completar tu reserva de forma 100% segura.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="banner-information banner-information--small u-d-flex u-align-items-center o-mb--3"
              data-element="amazon-prize"
            >
              <div class="banner-information__info u-d-md-flex">
                <i class="icon-gift o-mr--2 banner-information__icon u-text--secondary"></i>
                <div>
                  <h2 class="banner-information__title u-text">Consigue tu premio</h2>
                  <p class="banner-information__subtitle u-label">
                    Paga con Amazon pay y consigue tu Tablet series X y muchos premios más.
                  </p>
                  <a href="#" class="g-link u-d-block o-mt--2">Ver detalles del concurso</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
