<div class="u-bg--lighter confirmation o-pb--12">
  <section class="g-header g-header--button g-header--button-lg g-header--button--not-back">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
      <div class="g-header__logo">
        <a href="javascript:void(0)" class="u-text--no-underline">
          <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
        </a>
      </div>
      <button class="btn btn--secondary g-header__btn">
        <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo.svg" alt="" class="mobile-none g-header__btn--logo" />
        <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
      </button>
    </div>
  </section>
  <div class="o-container">
    <div class="o-row">
      <div class="o-col-md-24 o-mb--4 o-mb-md--3">
        <div class="box banner-confirmation u-w--100 u-d-md-flex u-flex-wrap">
          <div class="banner-confirmation__img">
            <img src="../../../assets/img/phone.svg" alt="ilustration" class="img" />
          </div>
          <div class="banner-confirmation__box o-pb--6">
            <div class="u-d-lg-flex u-justify-content-between">
              <div>
                <p class="u-text o-mb--1">¡Gracias Marco!</p>
                <h2 class="u-sub-title banner-confirmation__title">Tu Check-in está hecho!</h2>
              </div>
              <div class="u-text-right">
                <p class="u-text o-mb--1">Tu localizador</p>
                <h2 class="u-sub-title u-text--secondary">CQYP050</h2>
              </div>
            </div>
            <ul class="list list--check u-w--100">
              <li class="list__item">
                <p>
                  Hemos enviado la confirmación a
                  <span class="u-text--secondary u-font-weight-semibold o-pr--2">
                    marco@gmail.com<i
                      class="icon-edit edit u-cursor-pointer o-ml--1"
                      data-micromodal-trigger="modal-update-email"
                    ></i
                  ></span>
                </p>
              </li>
            </ul>
            <div
              class="banner-confirmation__buttons u-d-flex u-align-items-center u-justify-content-end margin-responsive"
            >
              <button class="btn btn--primary btn--primary__border">Ver reserva</button>
              <button class="btn btn--primary" data-micromodal-trigger="modal-embarque">
                Descargar tarjetas de embarque <i class="icon-qr"></i>
              </button>
            </div>
          </div>
          <div class="box__header-content u-w--100 o-pt--2 u-border--top-gray">
            <div class="box-travel">
              <div class="o-row u-align-items-center u-justify-content-between">
                <div class="o-col-md-16 o-col-lg-13 u-d-flex u-align-items-center u-justify-content-center u-justify-content-md-between u-flex-wrap u-flex-md-nowrap">
                  <div class="box-travel__details u-d-flex u-align-items-center u-w-mobile--100 u-justify-content-between">
                    <div class="u-d-flex u-align-items-center u-justify-content-md-between u-flex-wrap">
                      <i class="icon-boat o-mr--2 box-travel__icon"></i>
                      <div>
                        <p class="box-travel__text u-text--gray">Ida</p>
                        <p class="box-travel__text u-text--secondary">Sábado, 29 enero 2021</p>
                      </div>
                    </div>
                    <a data-micromodal-trigger="detail" class="g-link u-d-md-none">Ver detalle</a>
                  </div>
                  <div class="box-time u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100">
                    <div class="box-time__text">
                      <p class="large">13:30</p>
                      <p class="small">Barcelona</p>
                    </div>
                    <div class="box-time__line">
                      <i class="icon-time icon"></i>
                      <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                    </div>
                    <div class="box-time__text">
                      <p class="large">19:00</p>
                      <p class="small">Mallorca</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-6 o-col-lg-4 u-d-none u-d-md-block">
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-seat o-mr--2 box-travel__icon"></i>
                    <div>
                      <p class="box-travel__text u-text--gray u-font-weight-semibold">Asiento</p>
                      <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">Butaca Sirena</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-4 u-d-none u-d-lg-block">
                  <div class="tag tag--green2 u-align-items-center">
                    <i class="icon-check-bold tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Check-in realizado
                  </div>
                </div>
              </div>
            </div>
            <div class="box-travel">
              <div class="o-row u-align-items-center u-justify-content-between">
                <div class="o-col-md-16 o-col-lg-13 u-d-flex u-align-items-center u-justify-content-center u-justify-content-md-between u-flex-wrap u-flex-md-nowrap">
                  <div class="box-travel__details u-d-flex u-align-items-center u-w-mobile--100 u-justify-content-between">
                    <div class="u-d-flex u-align-items-center u-justify-content-md-between u-flex-wrap">
                      <i class="icon-boat o-mr--2 box-travel__icon"></i>
                      <div>
                        <p class="box-travel__text u-text--gray">Ida</p>
                        <p class="box-travel__text u-text--secondary">Sábado, 29 enero 2021</p>
                      </div>
                    </div>
                    <a data-micromodal-trigger="detail" class="g-link u-d-md-none">Ver detalle</a>
                  </div>
                  <div class="box-time u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100">
                    <div class="box-time__text">
                      <p class="large">13:30</p>
                      <p class="small">Barcelona</p>
                    </div>
                    <div class="box-time__line">
                      <i class="icon-time icon"></i>
                      <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                    </div>
                    <div class="box-time__text">
                      <p class="large">19:00</p>
                      <p class="small">Mallorca</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-6 o-col-lg-4 u-d-none u-d-md-block">
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-seat o-mr--2 box-travel__icon"></i>
                    <div>
                      <p class="box-travel__text u-text--gray u-font-weight-semibold">Asiento</p>
                      <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">Butaca Sirena</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-4 u-d-none u-d-lg-block">
                  <div class="tag tag--green2 u-align-items-center">
                    <i class="icon-check-bold tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Check-in realizado
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="o-col-md-24 o-mb--4 o-mb-md--3">
        <div class="box banner-information">
          <div class="o-row u-w--100">
            <div class="o-col-md-12 o-col-lg-16 u-d-flex u-flex-column u-justify-content-between">
              <div class="u-d-flex u-align-items-start">
                <img src="../../../assets/img/mobile.svg" alt="" class="o-mr--2 u-img--large">
                <div>
                  <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                    Descarga la app Balearia mejora tu experiencia a bordo
                  </h2>
                  <p class="banner-information__subtitle u-label">
                    Internet gratis, las tarjetas de embarque en tu móvil y entretenimiento a bordo
                  </p>
                </div>
              </div>
              <div class="banner-information__btns u-d-flex u-flex-md-wrap margin-mobile">
                <button class="btn btn--primary btn--medium banner-information__btn u-d-block u-w-mobile--100 o-mr--2">
                  Descargar la app
                </button>
                <button class="btn btn--primary btn--primary__border btn--medium banner-information__btn u-d-block u-w-mobile--100">
                  Descubre más
                </button>
              </div>
            </div>
            <div class="o-col-md-12 o-col-lg-8">
              <ul class="list">
                <li class="list__item u-text--text-light u-d-flex u-align-items-center o-mb--3">
                  <i class="icon-cine o-mr--1"></i>
                  <span class="u-text-default u-text-default--small">Cine y telévisión a bordo con series y películas</span>
                </li>
                <li class="list__item u-text--text-light u-d-flex u-align-items-center o-mb--3">
                  <i class="icon-game o-mr--1"></i>
                  <span class="u-text-default u-text-default--small">Entretenimiento a bordo con juegos y revistas online</span>
                </li>
                <li class="list__item u-text--text-light u-d-flex u-align-items-center o-mb--3">
                  <i class="icon-pet o-mr--1"></i>
                  <span class="u-text-default u-text-default--small">Mira tus mascotas con nuestra cámaras en tiempo real</span>
                </li>
                <li class="list__item u-text--text-light u-d-flex u-align-items-center">
                  <i class="icon-lighting o-mr--1"></i>
                  <span class="u-text-default u-text-default--small">Y mucho más</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="o-col-md-24 margin-responsive">
        <div class="box banner-information u-d-flex u-align-items-center u-justify-content-between u-flex-wrap u-flex-lg-nowrap">
          <div class="u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100 o-mb--1 o-mb-md--0">
            <img src="../../../assets/img/proposal-5.svg" alt="" class="u-img--medium o-mr--2">
            <p class="u-text-default u-text-default--xlarge u-text--secondary u-font-weight-bold u-d-flex u-align-items-center u-align-items-md-end">
              +300
              <span class="u-text-default u-text-default--small u-font-weight-normal u-text--text-light">puntos</span>
            </p>
          </div>
          <p class="u-text-default u-text-default--large u-text--gray u-font-weight-semibold u-w-mobile--100 o-mb--1 o-mb-lg--0 o-pl-lg--2">
            <span class="u-d-lg-block">Te sumaremos 300 puntos</span> <span> una vez hayas viajado</span>
          </p>
          <div class="u-d-flex u-align-items-md-center u-justify-content-between u-w-mobile--100 u-flex-column u-border-lg--left-gray o-pl-lg--2">
            <p class="u-text-default u-text-default--small u-text--text-light">
              Descubre ventajas con las que usar tus puntos que ya tienes hoy
            </p>
            <div class="box-border-text u-d-flex u-align-items-center u-w--100 margin-mobile">
              <i class="icon-coins2 u-text--fz-24 o-mr--1"></i>
              <div class="u-d-md-flex u-align-items-center">
                <p class="u-d-flex u-align-items-center u-text--text-light o-mr--2 u-text-default">
                  <span class="u-text--secondary u-font-weight-bold text-lg-mobile">345</span>puntos
                </p>
                <p class="u-text-default u-text-default--small u-text--text-light">
                  <span class="u-font-weight-semibold">255 </span> puntos caducan el 26/6/2022
                </p>
              </div>
            </div>
          </div>
          <button class="btn btn--primary btn--primary__border u-w-mobile--100">Ir a la tienda del Club</button>
        </div>
      </div>

      <div class="o-col-md-24 margin-responsive">
        <div class="box no-padding box--mobile">
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-seat no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <div class="u-d-flex u-flex-column u-align-items-start">
                    <span>Asientos</span>
                    <span class="u-font-weight-normal u-text--fz-12">8B, 2E, 2F</span>
                  </div>  
                </div>
              </div>
              <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="table-responsive o-pl-lg--6">
                <div class="table-responsive__body">
                  <div class="table-responsive__row u-border--bottom-gray o-pb--1">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                      <p class="u-text--gray-light">Titular de la reserva</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 8B Básico</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 8B Básico(Vuelta)</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 8B Básico</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 8B Básico(Vuelta)</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 8B Básico</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 8B Básico(Vuelta)</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 8B Básico</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 8B Básico(Vuelta)</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-meal no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <div class="u-d-flex u-flex-column u-align-items-start">
                    <span>Comida a bordo</span>
                  </div>  
                </div>
              </div>
              <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="table-responsive o-pl-lg--6">
                <div class="table-responsive__body">
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Bono restaurante 30 €</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Cantidad</span> 2 unidades</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Menú bocadillo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Cantidad</span> 1 unidad (Ida)</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 1 unidad (vuelta)</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Menú cena</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Cantidad</span> 1 unidad (Ida)</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Asiento</span> 1 unidad (vuelta)</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-wifi2 no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <div class="u-d-flex u-flex-column u-align-items-start">
                    <span>Wi-Fi a bordo</span>
                  </div>  
                </div>
              </div>
              <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="table-responsive o-pl-lg--6">
                <div class="table-responsive__body">
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Pack 25 GB</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Cantidad</span> 2 unidades (Ida)</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Cantidad</span> 2 unidades (vuelta)</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="o-col-md-8 o-mb--4 o-mb-md--3">
        <div class="box box--header">
          <div class="box__header box__header--small u-d-flex u-align-items-center u-border--bottom-gray">
            <h2 class="box__header-title u-text--gray u-text">Información importante</h2>
          </div>
          <div class="box__header-content">
            <p class="box__header-text u-d-flex u-align-items-center u-text--text-light">
              <i class="icon-time box__header-icon u-text--gray"></i>Estar en el puerto 1,5 horas antes de la salida
            </p>
            <p class="box__header-text u-d-flex u-align-items-center u-text--text-light">
              <i class="icon-dni box__header-icon u-text--gray"></i>Todos los pasajeros deben llevar su DNI
            </p>
            <button class="btn btn--primary btn--primary__border btn--medium u-d-block u-w--100">
              Ver guía de viaje completa
            </button>
          </div>
        </div>
      </div>
      <div class="o-col-md-8 o-mb--4 o-mb-md--3">
        <div class="box box--header">
          <div
            class="box__header box__header--small u-d-flex u-align-items-center u-justify-content-between u-border--bottom-gray"
          >
            <h2 class="box__header-title u-text--gray u-text">Cómo llegar al puerto</h2>
          </div>
          <div class="box__header-content">
            <div class="u-d-flex u-align-items-center u-justify-content-between">
              <div class="o-mb--2 o-mb-md--0">
                <p
                  class="box__header-text box__header-text--small bold u-text--gray u-d-flex u-align-items-center o-mb--1"
                >
                  <i class="icon-boat box__header-icon-big"></i>Viaje de ida
                </p>
                <p class="box__header-text box__header-text--small">
                  Barcelona <i class="icon-arrow-right o-ml--1 o-mr--1"></i> Mallorca
                </p>
              </div>
              <a href="#" class="g-link">Cómo llegar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="o-col-md-8 margin-responsive">
        <div class="box box--header">
          <div class="box__header box__header--small u-d-flex u-align-items-center u-border--bottom-gray">
            <h2 class="box__header-title u-text--gray u-text">¿Tienes dudas?</h2>
          </div>
          <div class="box__header-content">
            <div class="u-d-flex u-align-items-center">
              <img src="../../../assets/img/contact.svg" alt="" class="u-img--large o-mr--2" />
              <p class="u-text-default u-text-default--medium o-mb--3">
                Visita nuestro centro de ayuda y te resolveremos todas tus dudas
              </p>
            </div>
            <button class="btn btn--primary btn--primary__border btn--medium u-d-block u-w--100">
              Ir al centro de ayuda
            </button>
          </div>
        </div>
      </div>
      
      <div class="o-col-md-24">
        <div class="box no-padding box--mobile">
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table dropdown-collapse-table--edit u-w--100 g-dropdown-divider"
          >
            <div class="dropdown-collapse__header u-w--100">
              <button class="g-dropdown-basic--btn u-text u-d-flex u-align-items-center u-justify-content-between">
                <div class="u-d-flex u-align-items-center">
                  <i class="icon-user no-rotate o-mr--2"></i>
                  <span class="u-text--text-gray">Datos de contacto</span>
                </div>
                <div class="details">
                  <p class="details-text text--small u-text--text-light o-mb--2">
                    Si surge algun problema o cambio te informaremos a través de estos canales de contacto
                  </p>
                  <div class="u-d-flex u-align-items-md-center u-flex-column u-flex-md-row">
                    <p class="details-text text--small u-text--text-light o-mr--2 u-d-flex u-align-items-center">
                      <i class="icon-mail no-rotate o-mr--1"></i>marco@gmail.com
                    </p>
                    <p class="details-text text--small u-text--text-light u-d-flex u-align-items-center">
                      <i class="icon-calling no-rotate o-mr--1"></i>marco@gmail.com
                    </p>
                  </div>
                </div>
                <div class="u-w-tablet--100 u-d-flex u-align-items-center u-justify-content-end">
                  <a
                    class="btn btn--secondary btn--secondary__ghost btn--small"
                    data-micromodal-trigger="modal-gestion-anulacion"
                    >Modificar</a
                  >
                </div>
              </button>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table dropdown-collapse-table--edit u-w--100 g-dropdown-divider o-mt--2"
          >
            <div class="dropdown-collapse__header u-w--100">
              <button class="g-dropdown-basic--btn u-text u-d-flex u-align-items-center u-justify-content-between">
                <div class="u-d-flex u-align-items-center">
                  <i class="icon-credit-card no-rotate o-mr--2"></i>
                  <span class="u-text--text-gray">Datos de pago</span>
                </div>
                <div class="details">
                  <p class="details-text text--small u-text--text-gray u-d-flex u-align-items-center">
                    <img src="../../../assets/img/visa.svg" alt="" class="o-mr--1" /> Visa terminada en
                    <span class="o-ml--1 u-font-weight-semibold">6788</span>
                  </p>
                </div>
                <div class="u-d-lg-none u-w--100 u-d-flex u-align-items-center u-justify-content-end">
                  <a class="btn btn--secondary btn--secondary__ghost btn--small">Modificar</a>
                </div>
                <div class="summary u-d-flex u-align-items-center u-justify-content-between u-justify-content-lg-end">
                  <p class="u-text--secondary price">87,70 €</p>
                  <a
                    class="btn btn--secondary btn--secondary__ghost btn--small text"
                    data-micromodal-trigger="modal-desglose-precio"
                    >Ver desglose</a
                  >
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="o-row">
      <div class="o-col-md-24 o-pt--7">
        <div class="o-row o-pb--1 o-pb-lg--3">
          <div class="o-col-md-19 o-pb--3 o-pb-lg--0">
            <h2 class="u-sub-title">Actividades en Mallorca</h2>
          </div>
        </div>
      </div>
      <div class="o-col-md-24">
        <div class="o-row g-scroll--hrz o-mt--3 u-align-items-end">
          <div class="o-col-22 o-col-md-10 o-col-lg-8 o-mb--2">
            <div class="card card--border">
              <div class="card__img">
                <div class="tags">
                  <div class="tag tag--red u-align-items-center">
                    <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Últimas plazas
                  </div>
                </div>
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="img">
                <div class="card__text">
                  <div class="title-box no-extras">
                    <h3 class="title">Vuelta a casa, temporeros</h3>
                  </div>
                </div>
              </div>
              <div class="card__info">
                <p class="card__title">Vuelve a casa por navidad</p>
                <div class="card__details u-flex-column u-justify-content-between">
                  <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                    <p class="o-m--0 u-d-flex u-align-items-center">
                      <span class="text--small">Desde</span>
                    </p>
                  </div>
                  <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100 o-mb--1">
                    <p class="o-m--0 u-d-flex u-align-items-center">
                      <span class="card__discount u-font-weight-bold">16</span><span class="currency">€</span>
                      <span class="o-ml--1 text--small">de descuento</span>
                    </p>
                    <a href="#" class="card__link">ver detalles</a>
                  </div>
                  <button class="btn btn--primary btn--medium">Reservar ahora</button>
                </div>
              </div>
            </div>
          </div>
          <div class="o-col-22 o-col-md-10 o-col-lg-8 o-mb--2">
            <div class="card card--border">
              <div class="card__img">
                <div class="tags">
                  <div class="tag tag--red u-align-items-center">
                    <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Últimas plazas
                  </div>
                </div>
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="img">
                <div class="card__text">
                  <div class="title-box no-extras">
                    <h3 class="title">Vuelta a casa, temporeros</h3>
                  </div>
                </div>
              </div>
              <div class="card__info">
                <p class="card__title">Vuelve a casa por navidad</p>
                <div class="card__details u-flex-column u-justify-content-between">
                  <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                    <p class="o-m--0 u-d-flex u-align-items-center">
                      <span class="text--small">Desde</span>
                    </p>
                  </div>
                  <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100 o-mb--1">
                    <p class="o-m--0 u-d-flex u-align-items-center">
                      <span class="card__discount u-font-weight-bold">16</span><span class="currency">€</span>
                      <span class="o-ml--1 text--small">de descuento</span>
                    </p>
                    <a href="#" class="card__link">ver detalles</a>
                  </div>
                  <button class="btn btn--primary btn--medium">Reservar ahora</button>
                </div>
              </div>
            </div>
          </div>
          <div class="o-col-22 o-col-md-10 o-col-lg-8 o-mb--2">
            <div class="card card--border">
              <div class="card__img">
                <div class="tags">
                  <div class="tag tag--red u-align-items-center">
                    <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Últimas plazas
                  </div>
                </div>
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="img">
                <div class="card__text">
                  <div class="title-box no-extras">
                    <h3 class="title">Vuelta a casa, temporeros</h3>
                  </div>
                </div>
              </div>
              <div class="card__info">
                <p class="card__title">Vuelve a casa por navidad</p>
                <div class="card__details u-flex-column u-justify-content-between">
                  <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                    <p class="o-m--0 u-d-flex u-align-items-center">
                      <span class="text--small">Desde</span>
                    </p>
                  </div>
                  <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100 o-mb--1">
                    <p class="o-m--0 u-d-flex u-align-items-center">
                      <span class="card__discount u-font-weight-bold">16</span><span class="currency">€</span>
                      <span class="o-ml--1 text--small">de descuento</span>
                    </p>
                    <a href="#" class="card__link">ver detalles</a>
                  </div>
                  <button class="btn btn--primary btn--medium">Reservar ahora</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="o-row">
      <div class="o-col-md-24 o-pt--7">
        <div class="o-row o-pb--1 o-pb-lg--3">
          <div class="o-col-md-19 o-pb--3 o-pb-lg--0">
            <h2 class="u-sub-title">Descubre el barco y el destino</h2>
          </div>
        </div>
        <div class="o-row o-mb--5 o-mb-md--10">
          <div class="o-col-lg-12">
            <div class="u-d-lg-flex u-flex-lg-column u-h--100 u-justify-content-lg-between">
              <div class="g-card-destination g-card-destination--medium">
                <img src="../../../assets/img/destination-1.jpeg" alt="">
                <div class="info">
                  <div class="texto">
                    <h3 class="title">Eleanor Roosevelt</h3>
                    <p class="o-mb--3">Fast Ferry a gas natural</p>
                    <button class="btn btn--primary btn--medium g-card-destination__btn">
                      Descúbrelo<i class="icon-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="o-col-lg-12">
            <div class="u-d-lg-flex u-flex-lg-column u-h--100 u-justify-content-lg-between">
              <div class="g-card-destination g-card-destination--medium">
                <img src="../../../assets/img/destination-1.jpeg" alt="">
                <div class="info">
                  <div class="texto">
                    <h3 class="title">Eleanor Roosevelt</h3>
                    <p class="o-mb--3">Fast Ferry a gas natural</p>
                    <button class="btn btn--primary btn--medium g-card-destination__btn">
                      Descúbrelo<i class="icon-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="footer-small footer-small--spacer o-mt--0">
  <div class="o-container">
    <button class="btn btn--secondary floating-btn">
      <i class="icon-chat icon"></i>
      Ayuda
    </button>
    <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
      <div class="footer-small__info">
        <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
      </div>
      <div class="footer-small__links">
        <a href="" class="footer-small__link">Política de cookies</a>
        <a href="" class="footer-small__link">Política de privacidad</a>
        <a href="" class="footer-small__link">Condiciones de uso</a>
      </div>
    </div>
  </div>
</section>

<div class="modal micromodal-slide" id="modal-embarque" aria-hidden="true">
  <div class="g-modal--medium g-modal--full-mobile g-modal--code modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Tarjetas de embarque <span class="o-ml--2 u-text--secondary">CQYP050</span></h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-pt--2 o-pb--2 o-pr--3 o-pl--3">
        <div class="o-row">
          <div class="o-col-md-24">
            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="u-d-md-flex u-justify-content-between">
                <div>
                  <div class="o-mb-lg--4 o-mb--1">
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <span class="u-font-weight-semibold o-mr--1 u-text-default--large">Barcelona</span>
                      <i class="icon-arrow-doble u-text--secondary o-mr--1"></i>
                      <span class="u-font-weight-semibold o-mr--1 u-text-default--large">Alcúdia</span>
                    </div>
                    <div class="u-text--text-light u-d-md-flex u-align-items-center">
                      <span>22 enero 2022 · 13.00h -</span>
                      <div class="o-ml-lg--1">
                        <i class="icon-seat"></i>
                        <span>Butaca Sirena</span>
                      </div>
                    </div>
                  </div>
                  <ul class="card-product__list u-d-flex o-mb--2 o-mb-lg--0">
                    <li class="card-product__list-item u-text--text-light">4 pasajeros | 2 mascotas | 1 vehículo</li>
                  </ul>
                </div>
                <div class="u-d-flex u-align-items-start u-align-items-md-end u-flex-column">
                  <div class="tag tag--green u-align-items-center o-mb--1">
                    <i class="icon-check-bold tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Check-in realizado
                  </div>
                  <button class="btn btn--primary btn--medium o-mt--3 u-w-mobile--100" data-micromodal-close data-micromodal-trigger="modal-download-app2">Tarjeta de embarque<i class="icon-qr"></i></button>
                </div>
              </div>
            </div>
            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="u-d-md-flex u-justify-content-between">
                <div>
                  <div class="o-mb-lg--4 o-mb--1">
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <span class="u-font-weight-semibold o-mr--1 u-text-default--large">Barcelona</span>
                      <i class="icon-arrow-doble u-text--secondary o-mr--1"></i>
                      <span class="u-font-weight-semibold o-mr--1 u-text-default--large">Alcúdia</span>
                    </div>
                    <div class="u-text--text-light u-d-md-flex u-align-items-center">
                      <span>22 enero 2022 · 13.00h -</span>
                      <div class="o-ml-lg--1">
                        <i class="icon-seat"></i>
                        <span>Butaca Sirena</span>
                      </div>
                    </div>
                  </div>
                  <ul class="card-product__list u-d-flex o-mb--2 o-mb-lg--0">
                    <li class="card-product__list-item u-text--text-light">4 pasajeros | 2 mascotas | 1 vehículo</li>
                  </ul>
                </div>
                <div class="u-d-flex u-align-items-start u-align-items-md-end u-flex-column">
                  <div class="tag tag--green u-align-items-center o-mb--1">
                    <i class="icon-check-bold tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Check-in realizado
                  </div>
                  <button class="btn btn--primary btn--medium o-mt--3 u-w-mobile--100" data-micromodal-close data-micromodal-trigger="modal-download-app2">Tarjeta de embarque<i class="icon-qr"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="modal-download-app2" aria-hidden="true">
  <div class="g-modal--medium g-modal--code modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Descarga tus tarjetas de embarque</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-pt--2 o-pb--2 o-pr--3 o-pl--3">
        <div class="o-row">
          <div class="o-col-md-24 o-mb--3">
            <div class="u-box-border u-box-border--light">
              <div class="o-row u-justify-content-between">
                <div class="o-col-md-24 u-d-flex u-justify-content-end margin-mobile">
                  <div class="tag tag--green u-align-items-center o-mr--1">
                    <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                    >Recomendada
                  </div>
                </div>
                <div class="o-col-md-24">
                  <div class="u-d-flex u-justify-content-between u-flex-wrap u-flex-md-nowrap">
                    <img class="o-mr--2" src="../../../assets/img/proposal-8.svg" alt="">
                    <div class="u-w-mobile--100 o-mb--3">
                      <p class="text-3">Las tarjeta de embarque en tu móvil</p>
                      <p class="g-modal--medium__txt">
                        Con nuestra App gratis no necesitas ni datos, ni Wifi ni impresora para tener tus tarjetas de
                        embarque.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-24 u-d-flex u-justify-content-md-end u-w--100">
                  <button
                    class="btn btn--primary btn--medium u-w-mobile--100"
                    data-micromodal-close
                    data-micromodal-trigger="modal-download-app"
                  >
                    Descargar la app<i class="icon-download"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="o-col-md-24 o-mb--3">
            <p class="g-modal--medium__txt u-text-center">O si lo prefieres</p>
          </div>
          <div class="o-col-md-8 margin-responsive">
            <button
              class="btn btn--primary btn--primary__border u-w--100"
              data-micromodal-close
              data-micromodal-trigger="modal-whatsapp"
            >
              Por Whatsapp <i class="icon-user"></i>
            </button>
          </div>
          <div class="o-col-md-8 margin-responsive">
            <button
              class="btn btn--primary btn--primary__border u-w--100"
              data-micromodal-close
              data-micromodal-trigger="modal-wallet"
            >
              Añadir al Wallet <i class="icon-ticket"></i>
            </button>
          </div>
          <div class="o-col-md-8 margin-responsive">
            <button class="btn btn--primary btn--primary__border u-w--100">
              Descargar en PDF <i class="icon-file"></i>
            </button>
          </div>
          <div class="o-col-md-24 o-mb--1">
            <div class="u-border--top-gray o-pt--3">
              <a
                href="#"
                class="g-link u-d-flex u-align-items-center u-align-items-center u-justify-content-center"
                data-micromodal-close
                data-micromodal-trigger="modal-email"
                >Compartir tarjetas por email<i class="icon-send o-ml--1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="modal-whatsapp" aria-hidden="true">
  <div class="g-modal--medium modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Tus tarjetas de embarque por Whatsapp</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-pt--2 o-pb--2 o-pr--3 o-pl--3">
        <div class="o-row u-justify-content-between">
          <div class="o-col-md-24">
            <p class="g-modal--medium__txt o-mb--2">
              Con nuestra App gratis no necesitas ni datos, ni Wifi ni impresora para tener tus tarjetas de embarque.
            </p>
            <p class="g-modal--medium__txt o-mb--3">
              Te enviaremos un SMS con un enlace para descargarte la app gratis.
            </p>
            <div class="o-row">
              <div class="o-col-md-12 o-mb--3">
                <div class="select-input">
                  <select class="form__select" id="extra" name="extra" required="">
                    <option value="" selected="">+31</option>
                    <option value="tinted">+58</option>
                    <option value="turbo">+51</option>
                    <option value="speed">+56</option>
                  </select>
                  <div class="form__input-wrapper u-w--100">
                    <input class="g-input form__input" type="text" name="label" placeholder=" " />
                    <label>Label</label>
                  </div>
                </div>
              </div>
              <div class="o-col-md-12 o-mb--3">
                <button
                  class="btn btn--primary btn--medium u-w--100"
                  data-micromodal-close
                  data-micromodal-trigger="modal-whatsapp-ok"
                >
                  Enviadme el enlace al móvil<i class="icon-mobile"></i>
                </button>
              </div>
            </div>
            <p class="g-modal--medium__txt">
              Si nos indicas tu número, quiere decir que aceptas recibir un SMS automático con el enlace para
              descargarte la app.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="modal-download-app" aria-hidden="true">
  <div class="g-modal--medium modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Descarga la app gratis</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-pt--2 o-pb--2 o-pr--3 o-pl--3">
        <div class="o-row u-justify-content-between">
          <div class="o-col-md-24 margin-responsive">
            <p class="g-modal--medium__txt o-mb--2">
              Con nuestra App gratis no necesitas ni datos, ni Wifi ni impresora para tener tus tarjetas de embarque.
            </p>
            <p class="g-modal--medium__txt o-mb--3">
              Te enviaremos un SMS con un enlace para descargarte la app gratis.
            </p>
            <div class="o-row">
              <div class="o-col-md-12 o-mb--3">
                <div class="select-input">
                  <select class="form__select" id="extra" name="extra" required="">
                    <option value="" selected="">+31</option>
                    <option value="tinted">+58</option>
                    <option value="turbo">+51</option>
                    <option value="speed">+56</option>
                  </select>
                  <div class="form__input-wrapper u-w--100">
                    <input class="g-input form__input" type="text" name="label" placeholder=" " />
                    <label>Label</label>
                  </div>
                </div>
              </div>
              <div class="o-col-md-12 o-mb--3">
                <button class="btn btn--primary btn--medium u-w--100" data-micromodal-close data-micromodal-trigger="modal-wallet-ok">
                  Enviadme el enlace al móvil <i class="icon-mobile"></i>
                </button>
              </div>
            </div>
            <p class="g-modal--medium__txt">
              Si nos indicas tu número, quiere decir que aceptas recibir un SMS automático con el enlace para
              descargarte la app.
            </p>
          </div>
          <div class="o-col-md-24">
            <div class="u-d-flex u-align-items-center u-justify-content-between u-flex-wrap u-border--top-gray o-pt--3">
              <p class="g-modal--medium__txt u-d-flex u-align-items-center u-w-mobile--100 margin-mobile">
                <i class="icon-mobile icon--medium o-mr--2"></i>Si lo prefieres, escanea el QR con tu móvil para
                descargar la App
              </p>
              <div class="u-d-flex u-justify-content-center u-w-mobile--100">
                <img src="../../../assets/img/qr.svg" alt="qr" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="modal-wallet" aria-hidden="true">
  <div class="g-modal--medium modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Añadir tarjetas de embarque al Wallet</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-pt--2 o-pb--2 o-pr--3 o-pl--3">
        <div class="o-row u-justify-content-between">
          <div class="o-col-md-24">
            <p class="g-modal--medium__txt o-mb--2">
              Añade las tarjetas de embaque a tu app Wallet y olvídate de la impresora
            </p>
          </div>
          <div class="o-col-md-8 o-mb--3">
            <label class="g-radiobtn"
              >Sólo a mi
              <input type="radio" checked="checked" name="radio" />
              <span class="g-radiobtn--checkmark"></span>
            </label>
          </div>
          <div class="o-col-md-16 o-mb--3">
            <label class="g-radiobtn"
              >A mi y al resto de pasajeros
              <input type="radio" checked="checked" name="radio" />
              <span class="g-radiobtn--checkmark"></span>
            </label>
          </div>
          <div class="o-col-md-24">
            <p class="g-modal--medium__txt o-mb--3">
              Te enviaremos un SMS con un enlace para descargarte la app gratis.
            </p>
          </div>
          <div class="o-col-lg-24 o-pb--1 o-pt--1 u-border--bottom-gray u-border--top-gray">
            <div class="o-row u-align-items-center">
              <div class="o-col-lg-12 u-d-flex u-align-items-center">
                <div class="g-calendar--check o-pt--2 o-pb--2">
                  <label class="control control--checkbox o-mb--0">Marco Cuadrado Redondo
                    <input type="checkbox">
                    <div class="control__indicator"></div>
                  </label>
                </div>
              </div>
              <div class="o-col-md-12">
                <div class="select-input">
                  <select class="form__select" id="extra" name="extra" required="">
                    <option value="" selected="">+31</option>
                    <option value="tinted">+58</option>
                    <option value="turbo">+51</option>
                    <option value="speed">+56</option>
                  </select>
                  <div class="form__input-wrapper u-w--100">
                    <input class="g-input form__input" type="text" name="label" placeholder=" " />
                    <label>Label</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="o-col-lg-24 o-pb--1 o-pt--1 u-border--bottom-gray">
            <div class="o-row u-align-items-center">
              <div class="o-col-lg-12 u-d-flex u-align-items-center">
                <div class="g-calendar--check o-pt--2 o-pb--2">
                  <label class="control control--checkbox o-mb--0">Marco Cuadrado Redondo
                    <input type="checkbox">
                    <div class="control__indicator"></div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="o-col-lg-24 o-pb--1 o-pt--1 u-border--bottom-gray">
            <div class="o-row u-align-items-center">
              <div class="o-col-lg-12 u-d-flex u-align-items-center">
                <div class="g-calendar--check o-pt--2 o-pb--2">
                  <label class="control control--checkbox o-mb--0">Marco Cuadrado Redondo
                    <input type="checkbox">
                    <div class="control__indicator"></div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="o-col-md-24">
            <div class="o-row u-justify-content-end">
              <div class="o-col-md-8 o-mb--3 o-mt--5">
                <button class="btn btn--primary btn--medium u-w--100" data-micromodal-close data-micromodal-trigger="modal-wallet-ok">
                  Enviar enlaces al móvil
                </button>
              </div>
            </div>
          </div>
          <div class="o-col-md-24">
            <p class="g-modal--medium__txt">
              Si nos indicas tu número, quiere decir que aceptas recibir un SMS automático con el enlace para
              descargarte la app.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="modal-wallet-ok" aria-hidden="true">
  <div class="g-modal--medium g-modal--code modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Descarga la app gratis</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-p--3">
        <div class="o-row">
          <div class="o-col-md-24 u-d-flex u-align-items-center u-justify-content-center u-flex-column o-pt--2">
            <img src="../../../assets/img/success.svg" alt="success" />
            <h2 class="text-3 o-mb--2">¡Ya te hemos enviado el SMS!</h2>
            <p class="g-modal--medium__txt o-mb--5 u-text-center">
              Te enviaremos las tarjetas all <span class="u-font-weight-semibold">+34 675435623</span> , al
              <span class="u-font-weight-semibold">+34 675435623</span> y al
              <span class="u-font-weight-semibold">+34 675435623</span> al con el enlace para poder añadir las tarjetas
              de embarque a tu Wallet
            </p>
            <button class="btn btn--primary u-w-mobile--100 o-mb--3" data-micromodal-close>Entendido</button>
            <p class="g-modal--medium__txt">¡No has recibido el SMS? <a href="#" class="g-link">Reenviar</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="modal-whatsapp-ok" aria-hidden="true">
  <div class="g-modal--medium g-modal--code modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Tus tarjetas de embarque por Whatsapp</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-p--3">
        <div class="o-row">
          <div class="o-col-md-24 u-d-flex u-align-items-center u-justify-content-center u-flex-column o-pt--2">
            <img src="../../../assets/img/success.svg" alt="success" />
            <h2 class="text-3 o-mb--2">¡Tarjeta enviadas por Whatsapp!</h2>
            <p class="g-modal--medium__txt o-mb--5">
              Te enviaremos las tarjetas all <span class="u-font-weight-semibold">+34 675435623</span>
            </p>
            <button class="btn btn--primary u-w-mobile--100 o-mb--3" data-micromodal-close>Entendido</button>
            <p class="g-modal--medium__txt">¡No has recibido el SMS? <a href="#" class="g-link">Reenviar</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>