<section class="o-container">
  <div class="o-row u-justify-content-center">
    <div class="o-col-lg-22 o-mb--6">
      <div class="o-row u-align-items-center u-justify-content-between">
        <div class="o-col-md-18">
          <h2 class="u-sub-title o-mb--2 o-mb-lg--0">Inspírate con nuestros top destinos</h2>
        </div>
        <div class="o-col-md-6 o-col-lg-4">
          <div class="form__input-wrapper">
            <select class="form__select" id="extra" name="extra" required>
              <option value="" selected> </option>
              <option value="tinted">Label</option>
              <option value="turbo">Label</option>
              <option value="speed">Label</option>
            </select>
            <label>Todas las zonas</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-row">
    <div class="o-col-lg-12">
      <div class="g-card-destination g-card-destination--large">
        <img src="../../../assets/img/destination-1.jpeg" alt="">
        <div class="info">
          <div class="texto">
            <h3 class="title">Mallorca</h3>
            <div class="price">
              <span class="nro">33</span>
              <span class="coin">€</span>
              <span class="des">Desde</span>
            </div>
          </div>
          <button class="btn btn--primary btn--medium g-card-destination__btn">Descúbrelo<i class="icon-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="o-col-lg-12">
      <div class="u-d-lg-flex u-flex-lg-column u-h--100 u-justify-content-lg-between">
        <div class="g-card-destination g-card-destination--medium">
          <img src="../../../assets/img/destination-2.jpeg" alt="">
          <div class="info">
            <div class="texto">
              <h3 class="title">Mallorca</h3>
              <div class="price">
                <span class="nro">33</span>
                <span class="coin">€</span>
                <span class="des">Desde</span>
              </div>
            </div>
            <button class="btn btn--primary btn--medium g-card-destination__btn">Descúbrelo<i class="icon-arrow-right"></i></button>
          </div>
        </div>
        <div class="g-card-destination g-card-destination--medium">
          <img src="../../../assets/img/destination-3.jpeg" alt="">
          <div class="info">
            <div class="texto">
              <h3 class="title">Mallorca</h3>
              <div class="price">
                <span class="nro">33</span>
                <span class="coin">€</span>
                <span class="des">Desde</span>
              </div>
            </div>
            <button class="btn btn--primary btn--medium g-card-destination__btn">Descúbrelo<i class="icon-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-row u-justify-content-center o-mt--6">
    <div class="o-col-md-22 o-mb--6 u-d-flex u-justify-content-center">
      <button class="btn btn--primary btn--primary__ghost o-mb--2">Ver todos los destinos<i
          class="icon-arrow-right"></i></button>
    </div>
  </div>
</section>