<section class="banner-club">
  <div class="o-container">
    <div class="o-row u-align-items-center">
      <div class="o-col-md-14">
        <img src="../../../assets/img/logo-green.svg" alt="logoGreen" class="logo" />
        <h2 class="u-text o-mb--4">El club de socios de Balearia donde viajar tiene recompensa.</h2>
        <ul class="list list--number o-mb--4">
          <li class="list__item">1 minuto para darte de alta</li>
          <li class="list__item">10% de descuento en tu próxima reserva</li>
          <li class="list__item">Sigue disfrutando de descuentos y ventajas</li>
        </ul>
        <div class="u-d-none u-d-md-flex u-align-items-center">
          <button class="btn btn--primary o-mb--2">Hacerte una cuenta</button>
          <button class="btn btn--primary__ghost o-mb--2">Iniciar sesión</button>
        </div>
      </div>
      <div class="o-col-md-10">
        <img src="../../../assets/img/true-idea.svg" alt="idea" class="u-w--100 img" />
        <div class="u-d-flex u-d-md-none u-align-items-center u-justify-content-center">
          <button class="btn btn--primary o-mb--2">Hacerte una cuenta</button>
          <button class="btn btn--primary__ghost o-mb--2">Iniciar sesión</button>
        </div>
      </div>
    </div>
  </div>
</section>
