<div class="u-bg--lighter">
  <section class="g-nav-sticky">
    <!-- Header -->
    <div class="g-header g-header--button g-header--button-lg">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
        <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
          <i class="icon-arrow-left2 back o-mr--3"></i>
          <p class="title">Ya casi estás, finaliza tu reserva</p>
        </div>
        <p class="g-header__text u-d-flex u-align-items-center mobile-none">
          <i class="icon-info icon o-mr--1"></i> Pago 100% seguro
        </p>
        <div class="g-header__logo mobile-none">
          <a href="javascript:void(0)" class="u-text--no-underline">
            <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
          </a>
        </div>
        <div class="g-header--button g-header__btn u-border--bottom-0">
          <div class="g-header__item g-header__btn-box o-ml-lg--2">
            <div class="u-d-flex g-header--logado__agency">
              <div class="g-header--logado__favi">
                <span>M</span>
              </div>
              <div class="g-header--logado__info o-ml--1">
                <p class="g-header--logado__name">Mari Luz</p>
                <div class="g-header--logado__date">
                  <p class="u-font-weight-normal">Basic | 345 pts</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bar items -->
    <div class="bar-items u-d-flex u-align-items-center">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-between">
        <div class="bar-items__text">
          <div class="u-d-flex u-align-items-center">
            <p class="text">Barcelona</p>
            <i class="icon-arrow-doble icon o-ml--2 o-mr--2"></i>
            <p class="text">Mallorca</p>
          </div>
          <ul class="bar-items__list u-d-flex u-align-items-center u-justify-content-between">
            <li class="bar-items__item u-d-flex u-align-items-center">
              15 dic <span class="mobile-none">2021</span>- 16 dic
              <span class="mobile-none">2021</span>
            </li>
            <li class="bar-items__item u-d-flex u-align-items-center">2 personas</li>
            <li class="bar-items__item u-d-flex u-align-items-center">1 vehículo</li>
            <li class="bar-items__item u-d-flex u-align-items-center">3 mascotas</li>
            <li class="bar-items__item u-d-flex u-align-items-center edit mobile-none">
              Editar <i class="icon-edit icon"></i>
            </li>
            <li class="bar-items__item u-d-flex u-align-items-center edit desktop-none">
              <i class="icon-search icon"></i>
            </li>
          </ul>
        </div>
        <div class="bar-items__buttons u-d-flex u-align-items-center">
          <div class="g-dropdown-basic dropdown-list g-dropdown-basic--details">
            <button class="g-dropdown-basic--btn">
              <p>
                <span class="u-d-block total">Total</span>
                <span class="u-d-block price">0,00 €</span>
              </p>
              <i class="icon-arrow-down o-ml--1"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="g-dropdown-basic--bkg details">
                <div
                  class="g-dropdown__header u-border--bottom-gray u-d-flex u-d-lg-none u-align-items-center u-justify-content-between o-pl--2 o-pr--2 o-mb--2"
                >
                  <p class="title">Ya casi estás, finaliza tu reserva</p>
                  <i class="icon-close icon"></i>
                </div>
                <div class="g-dropdown__content">
                  <div class="u-d-flex o-mb--2">
                    <i class="icon-arrow-right icon-green"></i>
                    <div class="information u-w--100">
                      <p class="title--small o-mb--2">Viaje de ida</p>
                      <h2 class="title">Barcelona a Mallorca</h2>
                      <div class="alert alert--info u-d-md-flex u-align-items-center o-mt--1">
                        <i class="icon-info alert__icon"></i>
                        <div class="alert__info">
                          <p class="alert__text">Selecciona la vuelta para poder continuar</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-d-flex u-border--top-gray o-pt--2 o-pb--2">
                    <i class="icon-arrow-left icon-green"></i>
                    <div class="information u-w--100">
                      <p class="title--small o-mb--2">Viaje de vuelta</p>
                      <h2 class="title">Barcelona a Mallorca</h2>
                      <p class="text">15 diciembre 2021 a las 13:00. llegada 10:00</p>
                      <p class="text">4 pasajeros en Butaca Sirena</p>
                      <div
                        class="details__wrapper u-align-items-center u-justify-content-between u-border--top-gray o-mt--2 o-pt--2 o-pb--2"
                      >
                        <div class="u-d-flex u-justify-content-between">
                          <button class="details__btn">
                            <p>Precio total ida</p>
                            <i class="icon-arrow-down o-ml--1"></i>
                          </button>
                          <p>20,00 €</p>
                        </div>
                        <ul class="details__list">
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text u-text--text-light">Adultos</p>
                            <p class="details__list-text u-text--gray u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text u-text--text-light">Niños</p>
                            <p class="details__list-text u-text--gray u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text u-text--text-light">Bebés</p>
                            <p class="details__list-text u-text--gray u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text u-text--text-light">Coche o furgoneta</p>
                            <p class="details__list-text u-text--gray u-font-weight-semibold">1 x 10,00 €</p>
                          </li>
                        </ul>
                        <ul class="details__list">
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text u-text--text-light">Seguro de viaje</p>
                            <p class="details__list-text u-text--gray u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text u-text--text-light">Menú desayuno</p>
                            <p class="details__list-text u-text--gray u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="details__footer u-d-flex u-justify-content-between u-border--top-gray o-pt--2">
                    <div>
                      <p class="title--small">Total</p>
                    </div>
                    <p class="title">25,00 €</p>
                  </div>
                  <div class="alert alert--info u-d-md-flex u-align-items-center o-mt--1">
                    <i class="icon-info alert__icon"></i>
                    <div class="alert__info">
                      <p class="alert__text">¡En esta reserva te llevas 300 puntos!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--primary o-ml--2 bar-items__btn">
            Continuar a extras<i class="icon-arrow-right u-d-none u-d-md-block"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Bar dropdown -->
  <div class="u-border--bottom-gray mobile-none">
    <div class="o-container u-d-flex u-align-items-center o-pt--1 o-pb--1">
      <div class="g-dropdown-basic g-dropdown--primary dropdown-list">
        <button class="g-dropdown-basic--btn">
          <span>¿Eres residente o familia numerosa?</span>
          <i class="icon-arrow-down o-ml--1"></i>
        </button>
        <div class="g-dropdown-basic--content">
          <div class="g-dropdown-basic--bkg">
            <ul class="g-dropdown-basic--list-radiobtn">
              <li class="item">
                <label class="g-radiobtn"
                  >Sin descuento
                  <input type="radio" checked="checked" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Residente islas o Ceuta (75 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Familia numerosa general (5 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Familia numerosa especial (10 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Fam. numerosa general residente (80 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Fam. numerosa especial residente (85 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section ida -->
  <section>
    <div class="o-container">
      <div class="o-row">
        <div class="o-col-md-24 o-mb--3">
          <div class="o-row u-align-items-center title-section">
            <div class="o-col-lg-17 u-d-flex u-justify-content-center u-justify-content-lg-start">
              <div class="title-icon u-d-flex u-align-items-center">
                <i class="icon-boat icon o-mr--3"></i>
                <h2 class="title"><span class="mobile-none">Selecciona</span> ida</h2>
                <p class="text o-ml--3 u-d-flex u-align-items-center">
                  <span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span>
                </p>
              </div>
            </div>
            <div class="o-col-lg-7 u-d-flex u-justify-content-center u-justify-content-lg-end">
              <div class="tag tag--large tag--red u-align-items-center">
                <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>¡Los
                billetes vuelan en estas fechas!
              </div>
            </div>
          </div>
        </div>
        <div class="o-col-md-24 o-mb--3">
          <!-- box seleccionado -->
          <div class="box box-selected-detail u-d-flex u-align-items-center u-justify-content-start">
            <div class="box-selected-detail__text u-d-flex u-align-items-center u-justify-content-center">
              <p class="text-big mobile-none">15</p>
              <p class="text-small mobile-none">DIC</p>
              <p class="text-big desktop-none">15 Diciembre</p>
            </div>
            <div class="o-row u-align-items-center u-justify-content-between u-w--100 box-selected__info">
              <div
                class="o-col-lg-10 u-d-flex u-align-items-center u-align-items-lg-start u-justify-content-center u-justify-content-lg-start"
              >
                <div class="box-time box-time--big u-d-flex u-align-items-center u-justify-content-between">
                  <div class="box-time__text">
                    <p class="large">13:30</p>
                    <p class="small">Barcelona</p>
                  </div>
                  <div class="box-time__line">
                    <i class="icon-time icon"></i>
                    <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                  </div>
                  <div class="box-time__text">
                    <p class="large">19:00</p>
                    <p class="small">Mallorca</p>
                  </div>
                </div>
              </div>
              <div class="o-col-lg-5 u-d-lg-flex u-d-none">
                <div class="box__text-icon u-d-flex u-align-items-center" data-micromodal-trigger="modal-barco">
                  <i class="icon-boat icon"></i>
                  <div class="text">
                    <p class="title">Abel Matutes</p>
                    <a href="#" class="link">Smart ship <i class="icon-info"></i></a>
                  </div>
                </div>
              </div>
              <div class="o-col-lg-9 u-d-flex u-justify-content-center u-justify-content-lg-end">
                <div class="box-selected u-d-flex u-align-items-center">
                  <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-seat icon"></i>
                    <div class="box-selected__text">
                      <p class="box-selected__title">Butaca Sirena</p>
                      <p class="box-selected__text-bold">20,00€</p>
                    </div>
                  </div>
                  <div>
                    <p class="small">4 pasajeros + vehículo</p>
                    <a href="" class="edit">Modificar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section vuelta -->
  <section>
    <div class="o-container">
      <div class="o-row">
        <div class="o-col-md-24 o-mb--3">
          <div class="title-icon u-d-flex u-align-items-center o-pt--3">
            <i class="icon-boat icon o-mr--3"></i>
            <h2 class="title"><span class="mobile-none">Selecciona</span> vuelta</h2>
            <p class="text o-ml--3 u-d-flex u-align-items-center">
              <span>Mallorca</span><i class="icon-arrow-right text__icon"></i><span>Barcelona</span>
            </p>
          </div>
        </div>
        <div class="o-col-md-24 o-mb--6">
          <!-- box seleccionado -->
          <div class="box box-selected-detail u-d-flex u-align-items-center u-justify-content-start">
            <div class="box-selected-detail__text u-d-flex u-align-items-center u-justify-content-center">
              <p class="text-big mobile-none">15</p>
              <p class="text-small mobile-none">DIC</p>
              <p class="text-big desktop-none">15 Diciembre</p>
            </div>
            <div class="o-row u-align-items-center u-justify-content-between u-w--100 box-selected__info">
              <div
                class="o-col-lg-10 u-d-flex u-align-items-center u-align-items-lg-start u-justify-content-center u-justify-content-lg-start"
              >
                <div class="box-time box-time--big u-d-flex u-align-items-center u-justify-content-between">
                  <div class="box-time__text">
                    <p class="large">13:30</p>
                    <p class="small">Barcelona</p>
                  </div>
                  <div class="box-time__line">
                    <i class="icon-time icon"></i>
                    <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                  </div>
                  <div class="box-time__text">
                    <p class="large">19:00</p>
                    <p class="small">Mallorca</p>
                  </div>
                </div>
              </div>
              <div class="o-col-lg-5 u-d-lg-flex u-d-none">
                <div class="box__text-icon u-d-flex u-align-items-center" data-micromodal-trigger="modal-barco">
                  <i class="icon-boat icon"></i>
                  <div class="text">
                    <p class="title">Abel Matutes</p>
                    <a href="#" class="link">Smart ship <i class="icon-info"></i></a>
                  </div>
                </div>
              </div>
              <div class="o-col-lg-9 u-d-flex u-justify-content-center u-justify-content-lg-end">
                <div class="box-selected u-d-flex u-align-items-center">
                  <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-seat icon"></i>
                    <div class="box-selected__text">
                      <p class="box-selected__title">Butaca Sirena</p>
                      <p class="box-selected__text-bold">20,00€</p>
                    </div>
                  </div>
                  <div>
                    <p class="small">4 pasajeros + vehículo</p>
                    <a href="" class="edit">Modificar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="o-col-md-22 u-justify-content-center o-mt--4 u-d-none u-d-lg-flex">
          <button class="btn btn--primary">Continuar a extras<i class="icon-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </section>
  <!-- Proposal -->
  <section class="g-proposal">
    <div class="o-container">
      <div class="o-row u-h--100r">
        <div class="o-col-md-6">
          <div class="g-proposal--item">
            <img src="../../../assets/img/proposal-1.svg" alt="" />
            <div class="g-proposal--info">
              <p class="g-proposal--title">Cancelaciones flexibles</p>
              <p class="g-proposal--paragraph">Cancela sin penalización con nuestra tarifa Plus</p>
            </div>
          </div>
        </div>
        <div class="o-col-md-6">
          <div class="g-proposal--item">
            <img src="../../../assets/img/proposal-2.svg" alt="" />
            <div class="g-proposal--info">
              <p class="g-proposal--title">La libertad de llevar tu coche</p>
              <p class="g-proposal--paragraph">La libertad de llevar tu coche</p>
            </div>
          </div>
        </div>
        <div class="o-col-md-6">
          <div class="g-proposal--item">
            <img src="../../../assets/img/proposal-3.svg" alt="" />
            <div class="g-proposal--info">
              <p class="g-proposal--title">Tu mascota contigo siempre</p>
              <p class="g-proposal--paragraph">Acomodaciones 100% Pet friendly para viajar juntos</p>
            </div>
          </div>
        </div>
        <div class="o-col-md-6">
          <div class="g-proposal--item">
            <img src="../../../assets/img/proposal-4.svg" alt="" />
            <div class="g-proposal--info">
              <p class="g-proposal--title">Cuidamos el planeta</p>
              <p class="g-proposal--paragraph">Buques más sostenibles, economía circular, envases bioedegradables...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-small">
    <div class="o-container">
      <button class="btn btn--secondary floating-btn">
        <i class="icon-chat icon"></i>
        Ayuda
      </button>
      <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
        <div class="footer-small__info">
          <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
        </div>
        <div class="footer-small__links">
          <a href="" class="footer-small__link">Política de cookies</a>
          <a href="" class="footer-small__link">Política de privacidad</a>
          <a href="" class="footer-small__link">Condiciones de uso</a>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modals -->

<div class="modal micromodal-slide" id="modal-barco" aria-hidden="true">
  <div class="g-modal--medium modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title title--lg">Abel Matutes <span class="u-text--gray-light">Smart Ship</span></h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-p--3">
        <div class="o-row u-justify-content-between">
          <div class="o-col-md-24 o-mt--2 o-mb--3">
            <div class="swiper mySwiperBoat g-slider">
              <div id="boat-button-next" class="swiper-button-next arrow"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="u-w--100" src="../../../assets/img/acomodaciones.png" alt="" />
                </div>
                <div class="swiper-slide">
                  <img class="u-w--100" src="../../../assets/img/acomodaciones.png" alt="" />
                </div>
              </div>
              <div id="boat-button-prev" class="swiper-button-prev arrow"></div>
            </div>
          </div>
          <div class="o-col-md-24">
            <ul class="list list--icon list--horizontal">
              <li class="list__item">
                <i class="icon-eslora icon"></i>
                <div>
                  <p class="title">190 m</p>
                  <p class="text">Eslora</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-manga icon"></i>
                <div>
                  <p class="title">26 m</p>
                  <p class="text">Manga</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-speed icon"></i>
                <div>
                  <p class="title">26 nudos</p>
                  <p class="text">Velocidad</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-personas icon"></i>
                <div>
                  <p class="title">900</p>
                  <p class="text">Personas</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-car icon"></i>
                <div>
                  <p class="title">625</p>
                  <p class="text">Vehículos</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-world icon"></i>
                <div>
                  <p class="title">Gas natural</p>
                  <p class="text">Combustible</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="o-col-md-24">
            <p class="g-modal--medium__subtitle o-mb--2">Servicios</p>
            <ul class="list list--icon">
              <li class="list__item">
                <i class="icon-wifi icon"></i>
                <div>
                  <p class="title">Internet</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-smart-tv icon"></i>
                <div>
                  <p class="title">Smart TV</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-video icon"></i>
                <div>
                  <p class="title">Cartelería digital</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-qr icon"></i>
                <div>
                  <p class="title">Acceso QR</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-pool icon"></i>
                <div>
                  <p class="title">Piscina</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-tienda icon"></i>
                <div>
                  <p class="title">Tienda</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-videovigilancia icon"></i>
                <div>
                  <p class="title">Videovigilancia mascotas</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-medium-menu icon"></i>
                <div>
                  <p class="title">Restaurante y cafetería</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-wheelchair icon"></i>
                <div>
                  <p class="title">Mobilidad reducida</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-whatsapp icon"></i>
                <div>
                  <p class="title">Comunicación por whatsapp</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-chat icon"></i>
                <div>
                  <p class="title">Especial familias</p>
                </div>
              </li>
              <li class="list__item">
                <i class="icon-cine icon"></i>
                <div>
                  <p class="title">Cine y Tv</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
