<section class="o-container">
  <div class="o-row u-align-items-center o-mt--8 o-mb--8">
    <div class="o-col-md-13 o-col-lg-11">
      <div class="o-row u-justify-content-between">
        <div class="o-col-md-12 o-col-lg-11 o-mb--4">
          <a href="" class="g-box-link o-mb--3">
            <img class="g-box-link--img" src="../../../assets/img/beach.svg" alt="" />
            <span class="g-box-link--text u-text--black">Baleares</span>
            <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
          </a>
          <a href="" class="g-box-link o-mb--3">
            <img class="g-box-link--img" src="../../../assets/img/sun.svg" alt="" />
            <span class="g-box-link--text u-text--black">Argelia</span>
            <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
          </a>
          <a href="" class="g-box-link o-mb--3">
            <img class="g-box-link--img" src="../../../assets/img/beach.svg" alt="" />
            <span class="g-box-link--text u-text--black">Francia</span>
            <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="o-col-md-24">
      <div class="g-box-link__wrapper u-d-flex u-justify-content-between u-align-items-md-center">
        <a href="#" class="g-box-link">
          <div class="u-d-flex">
            <i class="icon-calendar u-text--secondary icon"></i>
            <div>
              <p class="g-box-link--text u-text--gray">Reserva tu alojamiento</p>
              <p class="g-box-link--text g-box-link--text-small u-text--text-light">Los mejores precios en hoteles</p>
            </div>
            <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
          </div>
        </a>
        <a href="#" class="g-box-link">
          <div class="u-d-flex">
            <i class="icon-ticket u-text--secondary icon"></i>
            <div>
              <p class="g-box-link--text u-text--gray">Diviértete en tu destino</p>
              <p class="g-box-link--text g-box-link--text-small u-text--text-light">
                Miles de eventos, atracciones y actividades
              </p>
            </div>
            <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
          </div>
        </a>
        <a href="#" class="g-box-link">
          <div class="u-d-flex">
            <i class="icon-calling u-text--secondary icon"></i>
            <div>
              <p class="g-box-link--text u-text--gray">Reserva un taxi</p>
              <p class="g-box-link--text g-box-link--text-small u-text--text-light">
                Haz tus desplazamientos más cómodos
              </p>
            </div>
            <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
