<div class="o-container">
  <div class="o-row">
    <div class="o-col-md-8">
      <div class="card-product">
        <div class="card-product__img">
          <img src="../../../assets/img/butaca1.jpg" alt="" class="img" />
          <i class="icon-add icon u-d-flex u-align-items-center u-justify-content-center u-cursor-pointer"></i>
        </div>
        <div class="card-product__info">
          <div>
            <p class="card-product__title o-mb--1">
              Butaca <span class="u-font-weight-bold o-mr--1">Sirena</span><i class="icon-info icon"></i>
            </p>
            <p class="card-product__description o-mb--1">Butaca estandar reclinable</p>
            <div class="tag u-align-items-center">
              <i class="icon-pet tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Pet friendly
            </div>
          </div>
          <div>
            <div class="card-product__details u-align-items-center u-justify-content-between o-mb--1 o-mt--4">
              <p class="o-m--0 u-d-flex u-align-items-center">
                <span class="card-product__price">150,00</span><span class="currency">€</span
                ><span class="o-ml--1 text--small">por trayecto</span>
              </p>
              <a href="#" class="card-product__link">Condiciones</a>
            </div>
            <button class="btn btn--primary btn--medium">Quiero esta</button>
          </div>
        </div>
      </div>
    </div>
    <div class="o-col-md-8">
      <div class="card-product">
        <div class="card-product__img">
          <div class="card-product__tag">
            <div class="tag tag--green u-align-items-center o-mr--1">
              <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Recomendada
            </div>
            <div class="tag tag--blue u-align-items-center">
              <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Últimas
              plazas
            </div>
          </div>
          <img src="../../../assets/img/butaca4.jpg" alt="" class="img" />
          <i class="icon-add icon u-d-flex u-align-items-center u-justify-content-center u-cursor-pointer"></i>
        </div>
        <div class="card-product__info">
          <div>
            <p class="card-product__title o-mb--1">
              Butaca <span class="u-font-weight-bold o-mr--1">Sirena</span><i class="icon-info icon"></i>
            </p>
            <p class="card-product__description o-mb--1">Butaca estandar reclinable</p>
            <div class="tag u-align-items-center">
              <i class="icon-pet tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Pet friendly
            </div>
          </div>
          <div>
            <div class="card-product__details u-align-items-center u-justify-content-between o-mb--1 o-mt--4">
              <p class="o-m--0 u-d-flex u-align-items-center">
                <span class="card-product__price">150,00</span><span class="currency">€</span
                ><span class="o-ml--1 text--small">por trayecto</span>
              </p>
              <a href="#" class="card-product__link">Condiciones</a>
            </div>
            <button class="btn btn--primary btn--medium">Quiero esta</button>
          </div>
        </div>
      </div>
    </div>
    <div class="o-col-md-8">
      <div class="card-product">
        <div class="card-product__img">
          <div class="card-product__tag">
            <div class="tag tag--green u-align-items-center o-mr--1">
              <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Recomendada
            </div>
          </div>
          <img src="../../../assets/img/butaca6.jpg" alt="" class="img" />
          <i class="icon-add icon u-d-flex u-align-items-center u-justify-content-center u-cursor-pointer"></i>
        </div>
        <div class="card-product__info">
          <div>
            <p class="card-product__title o-mb--1">
              Butaca <span class="u-font-weight-bold o-mr--1">Sirena</span><i class="icon-info icon"></i>
            </p>
            <p class="card-product__description o-mb--1">Butaca estandar reclinable</p>
            <div class="tag u-align-items-center">
              <i class="icon-pet tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Pet friendly
            </div>
            <ul class="list list--check o-mt--1">
              <li class="list__item">Acceso exclusivo a la zona exterior</li>
              <li class="list__item">Acceso exclusivo a la zona exterior</li>
            </ul>
          </div>
          <div>
            <div class="card-product__details u-align-items-center u-justify-content-between o-mb--1 o-mt--4">
              <p class="o-m--0 u-d-flex u-align-items-center">
                <span class="card-product__price">150,00</span><span class="currency">€</span
                ><span class="o-ml--1 text--small">por trayecto</span>
              </p>
              <a href="#" class="card-product__link">Condiciones</a>
            </div>
            <button class="btn btn--primary btn--medium">Quiero esta</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
