<section class="g-banner">
  <div class="o-container">
    <div class="o-row u-justify-content-center">
      <div class="o-col-md-24">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
              <div class="o-row">
                <div class="o-col-18 o-col-md-20 o-col-lg-16">
                  <div class="g-banner--info">
                    <h1 class="g-banner--info__title">Coche gratis todo el noviembre</h1>
                    <p class="g-banner--info__paragraph">Ya no tienes excusas para realizar una escapada en ferry</p>
                    <div class="g-banner--info__code">
                      <i class="icon-discount o-mr--1"></i>
                      <p class="o-mr--1">Utiliza el código</p>
                      <p class="u-font-weight-bold">TUCOCHEGRATIS</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-24">
                  <div class="o-row o-mt--6">
                    <div class="o-col-12 o-col-md-6 o-col-lg-4">
                      <button class="btn btn--primary o-mb--2 u-w--100">Reservar ahora</button>
                    </div>
                    <div class="o-col-12 o-col-md-6 o-col-lg-4">
                      <button class="btn btn--transparent o-mb--2 u-w--100">Ver detalles<i
                          class="icon-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide slide-1">
              <div class="o-row">
                <div class="o-col-18 o-col-md-20 o-col-lg-16">
                  <div class="g-banner--info">
                    <h1 class="g-banner--info__title">Coche gratis todo el noviembre</h1>
                    <p class="g-banner--info__paragraph">Ya no tienes excusas para realizar una escapada en ferry</p>
                    <div class="g-banner--info__code">
                      <i class="icon-discount o-mr--1"></i>
                      <p class="o-mr--1">Utiliza el código</p>
                      <p class="u-font-weight-bold">TUCOCHEGRATIS</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-24">
                  <div class="o-row o-mt--6">
                    <div class="o-col-12 o-col-md-6 o-col-lg-4">
                      <button class="btn btn--primary o-mb--2 u-w--100">Reservar ahora</button>
                    </div>
                    <div class="o-col-12 o-col-md-6 o-col-lg-4">
                      <button class="btn btn--transparent o-mb--2 u-w--100">Ver detalles<i
                          class="icon-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide slide-1">
              <div class="o-row">
                <div class="o-col-18 o-col-md-20 o-col-lg-16">
                  <div class="g-banner--info">
                    <h1 class="g-banner--info__title">Coche gratis todo el noviembre</h1>
                    <p class="g-banner--info__paragraph">Ya no tienes excusas para realizar una escapada en ferry</p>
                    <div class="g-banner--info__code">
                      <i class="icon-discount o-mr--1"></i>
                      <p class="o-mr--1">Utiliza el código</p>
                      <p class="u-font-weight-bold">TUCOCHEGRATIS</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-24">
                  <div class="o-row o-mt--6">
                    <div class="o-col-12 o-col-md-6 o-col-lg-4">
                      <button class="btn btn--primary o-mb--2 u-w--100">Reservar ahora</button>
                    </div>
                    <div class="o-col-12 o-col-md-6 o-col-lg-4">
                      <button class="btn btn--transparent o-mb--2 u-w--100">Ver detalles<i
                          class="icon-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide slide-1">
              <div class="o-row">
                <div class="o-col-18 o-col-md-20 o-col-lg-16">
                  <div class="g-banner--info">
                    <h1 class="g-banner--info__title">Coche gratis todo el noviembre</h1>
                    <p class="g-banner--info__paragraph">Ya no tienes excusas para realizar una escapada en ferry</p>
                    <div class="g-banner--info__code">
                      <i class="icon-discount o-mr--1"></i>
                      <p class="o-mr--1">Utiliza el código</p>
                      <p class="u-font-weight-bold">TUCOCHEGRATIS</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-24">
                  <div class="o-row o-mt--6">
                    <div class="o-col-12 o-col-md-6 o-col-lg-4">
                      <button class="btn btn--primary o-mb--2 u-w--100">Reservar ahora</button>
                    </div>
                    <div class="o-col-12 o-col-md-6 o-col-lg-4">
                      <button class="btn btn--transparent o-mb--2 u-w--100">Ver detalles<i
                          class="icon-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>