.o-container {
  @include make-container;
  @include make-container-max-widths;
}

.o-container-fluid {
  @include make-container;
}

.o-row {
  @include make-row;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;

  > .o-col,
  > [class*='o-col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

@include make-grid-columns;