<div class="box-acomodations__option-box-radio o-col-24 o-col-md-12 box-radio box-radio--full-width check o-mb--2">
  <input type="radio" name="petAccomodation-0" value="habitaculo_mascota" id="petAccomodation-0_habitaculo_mascota" />
  <label for="petAccomodation-0_habitaculo_mascota" class="label u-d-flex u-align-items-center">
    <span class="g-radiobtn--checkmark"></span>
    <div class="u-d-flex u-align-items-center u-w--100">
      <div class="u-w--100">
        <p class="js-pet-accomodation__name u-text-default u-text-default--medium u-font-weight-semibold o-mb--1 title">
          Habitáculo mascotas
        </p>
        <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
          <a class="box-acomodations__card-link u-text--secondary">Ver detalles</a>
          <div>
            <div class="tag tag--blue u-align-items-center u-hidden">
              <i class="icon-check tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Selección
              original
            </div>
            <span
              class="js-pet-accomodation__price u-text-default u-text-default--small u-font-weight-bold u-text--secondary u-hidden"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </label>
</div>
