<!-- mascota 1 -->
<div class="box-acomodations shadow u-br--8">
  <!-- cabecera con resumen -->
  <div class="box-acomodations__header u-d-flex u-align-items-center u-justify-content-between u-flex-wrap">
    <div class="box-acomodations__col box-acomodations__top u-d-flex u-align-items-center u-w-mobile--100">
      <i class="icon-pet u-text--fz-32 o-mr--2"></i>
      <div>
        <p class="js-pet-accomodation__pet-name u-text-default u-text-default--small"></p>
        <p class="js-pet-accomodation__pet-type u-text-default--xsmall"></p>
      </div>
    </div>
    <div
      class="box-acomodations__col-md box-acomodations__bottom u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100"
    >
      <div class="u-d-flex u-align-items-center">
        <i class="icon-home u-text--fz-32 o-mr--2"></i>
        <div>
          <p class="js-pet-accomodation__selection-name u-text-default u-text-default--small">Butaca Sirena</p>
        </div>
      </div>
      <p
        class="js-pet-accomodation__selection-price u-text-default u-text-default--small u-font-weight-bold u-text--secondary u-hidden"
      >
        178 €
      </p>
      <div class="tag tag--blue u-align-items-center">
        <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Selección original
      </div>
    </div>
    <div class="box-acomodations__col u-d-flex u-align-items-center u-justify-content-md-end">
      <button
        class="js-update-pets-acomodations btn btn--secondary btn--secondary__ghost btn--small box-acomodations__link"
      >
        Modificar
      </button>
    </div>
  </div>
  <!-- opciones -->
  <div
    class="js-box-acomodations-body box-acomodations__body u-border--top-gray u-flex-wrap u-align-items-center u-justify-content-between"
  ></div>
</div>
