<div class="o-container">
  <div class="box-travel o-pl--2 o-pr--2 o-pl-lg--3 o-pr-lg--3">
    <div class="o-row u-align-items-center u-justify-content-between">
      <div
        class="o-col-md-16 o-col-lg-13 u-d-flex u-align-items-center u-justify-content-center u-justify-content-md-between u-flex-wrap u-flex-md-nowrap"
      >
        <div class="box-travel__details u-d-flex u-align-items-center u-w-mobile--100 u-justify-content-between">
          <div class="u-d-flex u-align-items-center u-justify-content-md-between">
            <i class="icon-boat o-mr--2 box-travel__icon"></i>
            <div>
              <p class="box-travel__text u-text--gray">Ida</p>
              <p class="box-travel__text u-text--secondary">Sábado, 29 enero 2021</p>
            </div>
          </div>

          <a href="#" class="g-link u-d-md-none">Ver detalle</a>
        </div>
        <div class="box-time u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100">
          <div class="box-time__text">
            <p class="large">13:30</p>
            <p class="small">Barcelona</p>
          </div>
          <div class="box-time__line">
            <i class="icon-time icon"></i>
            <p class="time"><span class="text">Duración</span> 6h - 50min</p>
          </div>
          <div class="box-time__text">
            <p class="large">19:00</p>
            <p class="small">Mallorca</p>
          </div>
        </div>
      </div>
      <div class="o-col-md-6 u-d-none u-d-md-block">
        <p class="box-travel__text u-text--gray u-font-weight-semibold">
          Tarifa Básica <i class="icon-info tooltips u-text--secondary o-ml--1"></i>
        </p>
        <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">
          <i class="icon-check u-text--secondary icon--check"></i> Un sólo cambio
        </p>
      </div>
    </div>
  </div>
  <div class="box-travel o-pl--2 o-pr--2 o-pl-lg--3 o-pr-lg--3">
    <div class="o-row u-align-items-center u-justify-content-between">
      <div
        class="o-col-md-16 o-col-lg-13 u-d-flex u-align-items-center u-justify-content-center u-justify-content-md-between u-flex-wrap u-flex-md-nowrap"
      >
        <div class="box-travel__details u-d-flex u-align-items-center u-w-mobile--100 u-justify-content-between">
          <div class="u-d-flex u-align-items-center u-justify-content-md-between">
            <i class="icon-boat o-mr--2 box-travel__icon"></i>
            <div>
              <p class="box-travel__text u-text--gray">Ida</p>
              <p class="box-travel__text u-text--secondary">Sábado, 29 enero 2021</p>
            </div>
          </div>

          <a href="#" class="g-link u-d-md-none">Ver detalle</a>
        </div>
        <div class="box-time u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100">
          <div class="box-time__text">
            <p class="large">13:30</p>
            <p class="small">Barcelona</p>
          </div>
          <div class="box-time__line">
            <i class="icon-time icon"></i>
            <p class="time"><span class="text">Duración</span> 6h - 50min</p>
          </div>
          <div class="box-time__text">
            <p class="large">19:00</p>
            <p class="small">Mallorca</p>
          </div>
        </div>
      </div>
      <div class="o-col-md-6 u-d-none u-d-md-block">
        <p class="box-travel__text u-text--gray u-font-weight-semibold">
          Tarifa Básica <i class="icon-info tooltips u-text--secondary o-ml--1"></i>
        </p>
        <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">
          <i class="icon-check u-text--secondary icon--check"></i> Un sólo cambio
        </p>
      </div>
    </div>
  </div>
</div>
