<div class="u-bg--lighter">
  <!-- Header -->
  <div class="g-nav-sticky">
    <div class="g-header g-header--button">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
        <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
          <i class="icon-arrow-left2 back o-mr--3"></i>
          <p class="title">Selecciona hora y aomodación</p>
        </div>
        <div class="g-header__logo mobile-none">
          <a href="javascript:void(0)" class="u-text--no-underline">
            <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
          </a>
        </div>
        <button class="btn btn--secondary g-header__btn">
          <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" class="mobile-none" />
          <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
        </button>
      </div>
    </div>
    <div class="bar-items u-d-flex u-align-items-center">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-between">
        <div class="bar-items__text">
          <div class="u-d-flex u-align-items-center">
            <p class="text">Barcelona</p>
            <i class="icon-arrow-doble icon o-ml--2 o-mr--2"></i>
            <p class="text">Mallorca</p>
          </div>
          <ul class="bar-items__list u-d-flex u-align-items-center u-justify-content-between">
            <li class="bar-items__item u-d-flex u-align-items-center">
              15 dic <span class="mobile-none">2021</span>- 16 dic
              <span class="mobile-none">2021</span>
            </li>
            <li class="bar-items__item u-d-flex u-align-items-center">2 personas</li>
            <li class="bar-items__item u-d-flex u-align-items-center">1 vehículo</li>
            <li class="bar-items__item u-d-flex u-align-items-center">3 mascotas</li>
          </ul>
        </div>
        <div class="bar-items__buttons u-d-flex u-align-items-center">
          <div class="g-dropdown-basic dropdown-list g-dropdown-basic--empty">
            <button class="g-dropdown-basic--btn">
              <p>
                <span class="u-d-block total">Total</span>
                <span class="u-d-block price">0,00 €</span>
              </p>
              <i class="icon-arrow-down o-ml--1"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="g-dropdown-basic--bkg">
                <div
                  class="g-dropdown__header u-border--bottom-gray u-d-flex u-d-lg-none u-align-items-center u-justify-content-between o-pl--2 o-pr--2 o-mb--2"
                >
                  <p class="title">Tu reserva</p>
                  <i class="icon-close icon"></i>
                </div>
                <div class="g-dropdown__content">
                  <img src="../../../assets/img/success.svg" alt="" class="o-mb--3" />
                  <h2 class="title">Tu reserva está vacía</h2>
                  <p class="text">
                    Selecciona los trayectos y acomodaciones de ida y vuelta para continuar con tu reserva
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--primary o-ml--2 bar-items__btn">
            Continuar a extras<i class="icon-arrow-right u-d-none u-d-md-block"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bar dropdown -->
  <div class="u-border--bottom-gray">
    <div class="o-container u-d-flex u-align-items-center o-pt--1 o-pb--1">
      <div class="g-dropdown-basic g-dropdown--primary dropdown-list">
        <button class="g-dropdown-basic--btn">
          <span>¿Eres residente o familia numerosa?</span>
          <i class="icon-arrow-down o-ml--1"></i>
        </button>
        <div class="g-dropdown-basic--content">
          <div class="g-dropdown-basic--bkg">
            <ul class="g-dropdown-basic--list-radiobtn">
              <li class="item">
                <label class="g-radiobtn"
                  >Sin descuento
                  <input type="radio" checked="checked" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Residente islas o Ceuta (75 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Familia numerosa general (5 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Familia numerosa especial (10 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Fam. numerosa general residente (80 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Fam. numerosa especial residente (85 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-container">
    <div class="o-row o-mt--4">
      <div class="o-col-lg-5">
        <!-- nav vertical -->
        <div class="g-nav-vertical">
          <ul>
            <li>
              <a class="g-nav-vertical--item" href="javascript:void(0)">
                <i class="icon-arrow-right2"></i>
                <p>Añade flexibilidad</p>
              </a>
            </li>
            <li>
              <a class="g-nav-vertical--item active" href="javascript:void(0)">
                <i class="icon-arrow-right2"></i>
                <p>Mejora tu acomodación</p>
              </a>
            </li>
            <li>
              <a class="g-nav-vertical--item" href="javascript:void(0)">
                <i class="icon-arrow-right2"></i>
                <p>Comida a bordo</p>
              </a>
            </li>
            <li>
              <a class="g-nav-vertical--item" href="javascript:void(0)">
                <i class="icon-arrow-right2"></i>
                <p>Seguro de viaje</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="o-col-lg-19">
        <div class="u-d-none u-d-lg-block">
          <div class="o-row">
            <div class="o-col-lg-23">
              <!-- back button -->
              <div class="g-back-btn o-pb--3 o-pl--3">
                <i class="g-back-btn--arrow icon-arrow-left2"></i>
                <p class="g-back-btn--text">Mejora tu experiencia de viaje</p>
              </div>
            </div>
          </div>
        </div>
        <div class="o-row">
          <div class="o-col-lg-23 o-mb--3">
            <div class="box slider--small o-mb--3 o-p--0">
              <div class="box--medium-padding">
                <div class="o-row u-justify-content-between">
                  <div class="o-col-md-auto">
                    <div class="o-mb--2">
                      <p class="box--sub-title">ACOMODACIONES</p>
                      <div class="u-d-flex u-align-items-center o-mb--1">
                        <h3 class="box--title o-mr--1">Anula tu reserva sin penalización</h3>
                        <i class="icon-info g-icon--tooltip"></i>
                      </div>
                      <p class="box--text">
                        Cambia tus fechas o anula tus billetes y obten el 100% del importa al anular con más de 7 días
                        de antelación
                      </p>
                    </div>
                  </div>
                  <div class="o-col-md-auto">
                    <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                      <p class="o-mb--1">
                        <span class="card-product__price">+7,00</span><span class="currency">€</span
                        ><span class="o-ml--1 text--small">por trayecto</span>
                      </p>
                      <div class="g-card-landscape-bond--added">
                        <button class="btn btn--secondary btn--secondary__ghost btn--medium o-mr--1">Eliminar</button>
                        <div class="box-selected box-selected--small u-d-flex u-align-items-cente">
                          <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                          <p class="box-selected__title">Añadido</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="o-row u-justify-content-between">
                <div class="o-col-md-auto">
                  <div class="o-mb--2">
                    <p class="box--sub-title">ACOMODACIONES</p>
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <h3 class="box--title o-mr--1">Autobús de vuelta a Málaga</h3>
                      <i class="icon-info g-icon--tooltip"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="o-row u-align-items-center title-section--medium">
                    <div class="o-col-md-17 u-d-flex">
                      <div class="title-icon title-icon--medium u-d-flex u-align-items-center">
                        <i class="icon-boat icon o-mr--3"></i>
                        <div class="u-d-md-flex">
                          <h2 class="title">Viaje de ida</h2>
                          <p class="text o-ml-lg--3 u-d-flex u-align-items-center">
                            <span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="o-col-md-7">
                      <div class="u-d-none u-d-md-flex u-justify-content-center u-justify-content-lg-end">
                        <div class="title-section--icon">
                          <i class="icon-time"></i>
                          <p>Duración del viaje 6 h 50 min</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24">
                  <div class="card-product active card-product--hrz">
                    <div class="card-product--hrz__body">
                      <div class="card-product__img">
                        <div class="card-product__tag">
                          <div class="tag tag--green u-align-items-center o-mr--1">
                            <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                            >Recomendada
                          </div>
                        </div>
                        <img src="./../../../assets/img/bus.png" alt="" class="img" />
                      </div>
                      <div class="card-product__info">
                        <div class="u-d-flex u-flex-column u-justify-content-between">
                          <div>
                            <p class="card-product__title">Autobús</p>
                            <p class="card-product__description o-mb--1">
                              Reserva tu billete de autobús del Puerto de Motrill al puerto de Málaga.
                            </p>
                          </div>
                          <p class="card-product__text o-mb--2">Una ruta más corta, pero que vale la pena</p>
                        </div>
                        <div class="u-d-flex u-flex-column u-justify-content-end u-align-items-end">
                          <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                            <p class="o-mb--1">
                              <span class="card-product__price">Gratis</span>
                            </p>
                            <div class="g-card-landscape-bond--added">
                              <button class="btn btn--secondary btn--secondary__ghost btn--medium o-mr--1">
                                Eliminar
                              </button>
                              <div class="box-selected box-selected--small u-d-flex u-align-items-cente">
                                <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                                <p class="box-selected__title">Añadido</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="o-row u-justify-content-between">
                <div class="o-col-md-auto">
                  <div class="o-mb--2">
                    <p class="box--sub-title">BUS TURÍSTICO</p>
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <h3 class="box--title o-mr--1">Bus turístico Formentera</h3>
                      <i class="icon-info g-icon--tooltip"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="o-row u-align-items-center title-section--medium">
                    <div class="o-col-md-17 u-d-flex">
                      <div class="title-icon title-icon--medium u-d-flex u-align-items-center">
                        <i class="icon-boat icon o-mr--3"></i>
                        <div class="u-d-md-flex">
                          <h2 class="title">Viaje de ida</h2>
                          <p class="text o-ml-lg--3 u-d-flex u-align-items-center">
                            <span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="o-col-md-7">
                      <div class="u-d-none u-d-md-flex u-justify-content-center u-justify-content-lg-end">
                        <div class="title-section--icon">
                          <i class="icon-time"></i>
                          <p>Duración del viaje 6 h 50 min</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="card-product active card-product--hrz">
                    <div class="card-product--hrz__body">
                      <div class="card-product__img">
                        <div class="card-product__tag">
                          <div class="tag tag--green u-align-items-center o-mr--1">
                            <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                            >Recomendada
                          </div>
                        </div>
                        <img src="./../../../assets/img/bus-red.png" alt="" class="img" />
                      </div>
                      <div class="card-product__info">
                        <div class="u-d-flex u-flex-column u-justify-content-between">
                          <div>
                            <p class="card-product__title">Ruta azúl</p>
                            <p class="card-product__description o-mb--1">
                              Descubre la Playa de Illetes con vistas privilegiadas
                            </p>
                          </div>
                          <p class="card-product__text o-mb--2">Una ruta más corta, pero que vale la pena</p>
                        </div>
                        <div class="u-d-flex u-flex-column u-justify-content-end u-align-items-end">
                          <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                            <p class="o-mb--1">
                              <span class="card-product__price">+7,00</span><span class="currency">€</span
                              ><span class="o-ml--1 text--small">por trayecto</span>
                            </p>
                            <div class="g-accountant--item__nro">
                              <span class="nro">0 billetes</span>
                              <button class="btn btn--primary btn--icon btn--icon__small btn--small delete">
                                <i class="icon-delete"></i>
                              </button>
                              <button class="btn btn--primary btn--icon btn--icon__small btn--small add">
                                <i class="icon-add"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="card-product card-product--hrz">
                    <div class="card-product--hrz__body">
                      <div class="card-product__img">
                        <img src="./../../../assets/img/bus-red.png" alt="" class="img" />
                      </div>
                      <div class="card-product__info">
                        <div class="u-d-flex u-flex-column u-justify-content-between">
                          <div>
                            <p class="card-product__title">Ruta azúl</p>
                            <p class="card-product__description o-mb--1">
                              Descubre la Playa de Illetes con vistas privilegiadas
                            </p>
                          </div>
                          <p class="card-product__text o-mb--2">Una ruta más corta, pero que vale la pena</p>
                        </div>
                        <div class="u-d-flex u-flex-column u-justify-content-end u-align-items-end">
                          <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                            <p class="o-mb--1">
                              <span class="card-product__price">+7,00</span><span class="currency">€</span
                              ><span class="o-ml--1 text--small">por trayecto</span>
                            </p>
                            <button class="btn btn--primary btn--primary__border btn--medium">Reservar autobús</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="o-row u-justify-content-between">
                <div class="o-col-md-auto">
                  <div class="o-mb--2">
                    <p class="box--sub-title">PÁRKING</p>
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <h3 class="box--title o-mr--1">Deja aparcado tu coche en Dénia</h3>
                      <i class="icon-info g-icon--tooltip"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="o-row u-align-items-center title-section--medium">
                    <div class="o-col-md-17 u-d-flex">
                      <div class="title-icon title-icon--medium u-d-flex u-align-items-center">
                        <i class="icon-boat icon o-mr--3"></i>
                        <div class="u-d-md-flex">
                          <h2 class="title">Viaje de ida</h2>
                          <p class="text o-ml-lg--3 u-d-flex u-align-items-center">
                            <span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="o-col-md-7">
                      <div class="u-d-none u-d-md-flex u-justify-content-center u-justify-content-lg-end">
                        <div class="title-section--icon">
                          <i class="icon-time"></i>
                          <p>Duración del viaje 6 h 50 min</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="card-product active card-product--hrz">
                    <div class="card-product--hrz__body">
                      <div class="card-product__img">
                        <div class="card-product__tag">
                          <div class="tag tag--green u-align-items-center o-mr--1">
                            <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                            >Recomendada
                          </div>
                        </div>
                        <img src="./../../../assets/img/parking.png" alt="" class="img" />
                      </div>
                      <div class="card-product__info">
                        <div class="u-d-flex u-flex-column u-justify-content-between">
                          <div>
                            <p class="card-product__title">Plaza de parking en BaleariaPort</p>
                            <p class="card-product__description o-mb--1">
                              Deja tu coche en BaleariaPort y lo tendrás mas cerca a tu regreso.
                            </p>
                          </div>
                          <p class="card-product__text o-mb--2">Una ruta más corta, pero que vale la pena</p>
                        </div>
                        <div class="u-d-flex u-flex-column u-justify-content-between u-align-items-end">
                          <div class="o-mb--2">
                            <a class="g-link" href="#">677 MHG, 3 días <span class="icon-edit"></span></a>
                          </div>
                          <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                            <p class="o-mb--1">
                              <span class="card-product__price">+7,00</span><span class="currency">€</span
                              ><span class="o-ml--1 text--small">por trayecto</span>
                            </p>
                            <div class="g-card-landscape-bond--added">
                              <button class="btn btn--secondary btn--secondary__ghost btn--medium o-mr--1">
                                Eliminar
                              </button>
                              <div class="box-selected box-selected--small u-d-flex u-align-items-cente">
                                <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                                <p class="box-selected__title">Añadido</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="o-row u-justify-content-between">
                <div class="o-col-md-auto">
                  <div class="o-mb--2">
                    <p class="box--sub-title">ALQUILER DE VEHÍCULO</p>
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <h3 class="box--title o-mr--1">Muévete en coche o moto</h3>
                      <i class="icon-info g-icon--tooltip"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="o-row u-align-items-center title-section--medium">
                    <div class="o-col-md-17 u-d-flex">
                      <div class="title-icon title-icon--medium u-d-flex u-align-items-center">
                        <i class="icon-boat icon o-mr--3"></i>
                        <div class="u-d-md-flex">
                          <h2 class="title">Viaje de ida</h2>
                          <p class="text o-ml-lg--3 u-d-flex u-align-items-center">
                            <span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="o-col-md-7">
                      <div class="u-d-none u-d-md-flex u-justify-content-center u-justify-content-lg-end">
                        <div class="title-section--icon">
                          <i class="icon-time"></i>
                          <p>Duración del viaje 6 h 50 min</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="card-product active card-product--hrz">
                    <div class="card-product--hrz__body">
                      <div class="card-product__img">
                        <div class="card-product__tag">
                          <div class="tag tag--green u-align-items-center o-mr--1">
                            <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                            >Recomendada
                          </div>
                        </div>
                        <img src="./../../../assets/img/alquiler-1.png" alt="" class="img" />
                      </div>
                      <div class="card-product__info">
                        <div class="u-d-flex u-flex-column u-justify-content-between">
                          <div>
                            <p class="card-product__title">Alquiler turismo clase A</p>
                            <p class="card-product__description o-mb--1">
                              Alquila coche con nuestro parner durante tu estancia
                            </p>
                          </div>
                          <p class="card-product__text o-mb--2">Una ruta más corta, pero que vale la pena</p>
                        </div>
                        <div class="u-d-flex u-flex-column u-justify-content-end u-align-items-end">
                          <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                            <p class="o-mb--1">
                              <span class="card-product__price">+7,00</span><span class="currency">€</span
                              ><span class="o-ml--1 text--small">por trayecto</span>
                            </p>
                            <div class="g-card-landscape-bond--added">
                              <button class="btn btn--secondary btn--secondary__ghost btn--medium o-mr--1">
                                Eliminar
                              </button>
                              <div class="box-selected box-selected--small u-d-flex u-align-items-cente">
                                <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                                <p class="box-selected__title">Añadido</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="card-product card-product--hrz">
                    <div class="card-product--hrz__body">
                      <div class="card-product__img">
                        <div class="card-product__tag">
                          <div class="tag tag--green u-align-items-center o-mr--1">
                            <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                            >Recomendada
                          </div>
                        </div>
                        <img src="./../../../assets/img/alquiler-2.png" alt="" class="img" />
                      </div>
                      <div class="card-product__info">
                        <div class="u-d-flex u-flex-column u-justify-content-between">
                          <div>
                            <p class="card-product__title">Ruta azúl</p>
                            <p class="card-product__description o-mb--1">
                              Descubre la Playa de Illetes con vistas privilegiadas
                            </p>
                          </div>
                          <p class="card-product__text o-mb--2">Una ruta más corta, pero que vale la pena</p>
                        </div>
                        <div class="u-d-flex u-flex-column u-justify-content-end u-align-items-end">
                          <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                            <p class="o-mb--1">
                              <span class="card-product__price">+7,00</span><span class="currency">€</span
                              ><span class="o-ml--1 text--small">por trayecto</span>
                            </p>
                            <button class="btn btn--primary btn--primary__border btn--medium">Reservar autobús</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="o-row u-justify-content-between o-mb--2">
                <div class="o-col-md-13">
                  <div class="o-mb--2">
                    <p class="box--sub-title">DESEMBARQUE PREFERENTE</p>
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <h3 class="box--title o-mr--1">Se el primero en subir al ferry</h3>
                      <i class="icon-info g-icon--tooltip"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-card-landscape-bond active">
                <div class="o-row u-align-items-center o-p--2">
                  <div class="o-col-md-1">
                    <i class="g-card-landscape-bond--icon icon-embarque-preferente"></i>
                  </div>
                  <div class="o-col-md-10 o-col-lg-13">
                    <p class="g-card-landscape-bond--title">Embarque preferente ida</p>
                    <p class="g-card-landscape-bond--text">Chat, redes sociales, navegación web sin video ni audios</p>
                  </div>
                  <div class="o-col-md-13 o-col-lg-10">
                    <div
                      class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end"
                    >
                      <div class="u-d-flex u-align-items-center">
                        <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                        <p class="g-card-landscape-bond__price-2 o-mr-lg--3">por bono</p>
                      </div>
                      <div class="g-card-landscape-bond--added">
                        <button class="btn btn--secondary btn--secondary__ghost btn--medium o-mr--1">Eliminar</button>
                        <div class="box-selected box-selected--small u-d-flex u-align-items-center">
                          <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                          <p class="box-selected__title">Añadido</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="o-row u-flex-column u-flex-md-row u-align-items-cente o-pt--2 o-pb--2 o-m--0 u-border--top-gray"
                >
                  <div class="o-col-lg-12 u-border-lg--right-gray">
                    <div class="g-card-radio active">
                      <div class="u-d-flex u-align-items-center">
                        <i class="g-card-radio--icon icon-boat"></i>
                        <p class="g-card-radio--title">Viaje de ida</p>
                      </div>
                      <label class="g-switch g-switch--large g-switch--second">
                        <input type="checkbox" checked="" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                  <div class="o-col-lg-12">
                    <div class="g-card-radio">
                      <div class="u-d-flex u-align-items-center">
                        <i class="g-card-radio--icon icon-boat"></i>
                        <p class="g-card-radio--title">Viaje de vuelta</p>
                      </div>
                      <label class="g-switch g-switch--large g-switch--second">
                        <input type="checkbox" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="o-row u-justify-content-between o-mb--2">
                <div class="o-col-md-13">
                  <div class="o-mb--2">
                    <p class="box--sub-title">DESEMBARQUE TARDÍO</p>
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <h3 class="box--title o-mr--1">Descansa en tu camarote media hora más</h3>
                      <i class="icon-info g-icon--tooltip"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-card-landscape-bond active">
                <div class="o-row u-align-items-center o-p--2">
                  <div class="o-col-md-1">
                    <i class="g-card-landscape-bond--icon icon-desembarque-tardio-2"></i>
                  </div>
                  <div class="o-col-md-10 o-col-lg-13">
                    <p class="g-card-landscape-bond--title">Desembarque tardío ida</p>
                    <p class="g-card-landscape-bond--text">Chat, redes sociales, navegación web sin video ni audios</p>
                  </div>
                  <div class="o-col-md-13 o-col-lg-10">
                    <div
                      class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end"
                    >
                      <div class="u-d-flex u-align-items-center">
                        <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                        <p class="g-card-landscape-bond__price-2 o-mr-lg--3">por bono</p>
                      </div>
                      <div class="g-card-landscape-bond--added">
                        <button class="btn btn--secondary btn--secondary__ghost btn--medium o-mr--1">Eliminar</button>
                        <div class="box-selected box-selected--small u-d-flex u-align-items-center">
                          <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                          <p class="box-selected__title">Añadido</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="o-row u-flex-column u-flex-md-row u-align-items-cente o-pt--2 o-pb--2 o-m--0 u-border--top-gray"
                >
                  <div class="o-col-lg-12 u-border-lg--right-gray">
                    <div class="g-card-radio active">
                      <div class="u-d-flex u-align-items-center">
                        <i class="g-card-radio--icon icon-boat"></i>
                        <p class="g-card-radio--title">Viaje de ida</p>
                      </div>
                      <label class="g-switch g-switch--large g-switch--second">
                        <input type="checkbox" checked="" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                  <div class="o-col-lg-12">
                    <div class="g-card-radio">
                      <div class="u-d-flex u-align-items-center">
                        <i class="g-card-radio--icon icon-boat"></i>
                        <p class="g-card-radio--title">Viaje de vuelta</p>
                      </div>
                      <label class="g-switch g-switch--large g-switch--second">
                        <input type="checkbox" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="o-row u-justify-content-between o-mb--2">
                <div class="o-col-md-13">
                  <div class="o-mb--2">
                    <p class="box--sub-title">DESEMBARQUE PRIORITARIO</p>
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <h3 class="box--title o-mr--1">Sé el primero en desembarcar tu vehículo</h3>
                      <i class="icon-info g-icon--tooltip"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-card-landscape-bond active">
                <div class="o-row u-align-items-center o-p--2">
                  <div class="o-col-md-1">
                    <i class="g-card-landscape-bond--icon icon-embarque-preferente"></i>
                  </div>
                  <div class="o-col-md-10 o-col-lg-13">
                    <p class="g-card-landscape-bond--title">Desembarque preferente ida</p>
                    <p class="g-card-landscape-bond--text">Chat, redes sociales, navegación web sin video ni audios</p>
                  </div>
                  <div class="o-col-md-13 o-col-lg-10">
                    <div
                      class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end"
                    >
                      <div class="u-d-flex u-align-items-center">
                        <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                        <p class="g-card-landscape-bond__price-2 o-mr-lg--3">por bono</p>
                      </div>
                      <div class="g-card-landscape-bond--added">
                        <button class="btn btn--secondary btn--secondary__ghost btn--medium o-mr--1">Eliminar</button>
                        <div class="box-selected box-selected--small u-d-flex u-align-items-center">
                          <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                          <p class="box-selected__title">Añadido</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="o-row u-flex-column u-flex-md-row u-align-items-cente o-pt--2 o-pb--2 o-m--0 u-border--top-gray"
                >
                  <div class="o-col-lg-12 u-border-lg--right-gray">
                    <div class="g-card-radio active">
                      <div class="u-d-flex u-align-items-center">
                        <i class="g-card-radio--icon icon-boat"></i>
                        <p class="g-card-radio--title">Viaje de ida</p>
                      </div>
                      <label class="g-switch g-switch--large g-switch--second">
                        <input type="checkbox" checked="" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                  <div class="o-col-lg-12">
                    <div class="g-card-radio">
                      <div class="u-d-flex u-align-items-center">
                        <i class="g-card-radio--icon icon-boat"></i>
                        <p class="g-card-radio--title">Viaje de vuelta</p>
                      </div>
                      <label class="g-switch g-switch--large g-switch--second">
                        <input type="checkbox" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="u-d-none u-d-lg-block">
              <div class="o-row u-justify-content-end">
                <div class="o-col-md-8 o-mb--8">
                  <button class="btn btn--primary u-w--100">Guardar y continuar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="footer-small">
    <div class="o-container">
      <button class="btn btn--secondary floating-btn">
        <i class="icon-chat icon"></i>
        Ayuda
      </button>
      <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
        <div class="footer-small__info">
          <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
        </div>
        <div class="footer-small__links">
          <a href="" class="footer-small__link">Política de cookies</a>
          <a href="" class="footer-small__link">Política de privacidad</a>
          <a href="" class="footer-small__link">Condiciones de uso</a>
        </div>
      </div>
    </div>
  </div>
</div>
