<section class="g-explore" data-animation="center">
  <div class="o-container">
    <div class="o-row u-justify-content-center">
      <div class="o-col-md-4">
        <a href="" class="g-explore--item">
          <img class="g-explore--item__img" src="../../../assets/img/proposal-5.svg" alt="">
          <p class="g-explore--paragraph">Nuestros barcos</p>
          <img class="g-route--arrow u-d-md-none" src="../../../assets/img/arrow-right.svg" alt="">
        </a>
      </div>
      <div class="o-col-md-4">
        <a href="" iv class="g-explore--item">
          <img class="g-explore--item__img" src="../../../assets/img/proposal-4.svg" alt="">
          <p class="g-explore--paragraph">Viajes sostenibles</p>
          <img class="g-route--arrow u-d-md-none" src="../../../assets/img/arrow-right.svg" alt="">
        </a>
      </div>
      <div class="o-col-md-4">
        <a href="" class="g-explore--item">
          <img class="g-explore--item__img" src="../../../assets/img/proposal-6.svg" alt="">
          <p class="g-explore--paragraph">Viaja en clase VIP</p>
          <img class="g-route--arrow u-d-md-none" src="../../../assets/img/arrow-right.svg" alt="">
        </a>
      </div>
      <div class="o-col-md-4">
        <a href="" class="g-explore--item">
          <img class="g-explore--item__img" src="../../../assets/img/proposal-2.svg" alt="">
          <p class="g-explore--paragraph">Viaja con vehículo</p>
          <img class="g-route--arrow u-d-md-none" src="../../../assets/img/arrow-right.svg" alt="">
        </a>
      </div>
      <div class="o-col-md-4">
        <a href="" class="g-explore--item">
          <img class="g-explore--item__img" src="../../../assets/img/proposal-3.svg" alt="">
          <p class="g-explore--paragraph">Viaja con mascotas</p>
          <img class="g-route--arrow u-d-md-none" src="../../../assets/img/arrow-right.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>