.g-header--button {
  background-color: $green-main;
  height: 64px;
  border-bottom: 1px solid $green-medium;
  .o-container {
    position: relative;
  }

  .g-header__btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    z-index: 1;
    font-size: 20px;
    @include mediaq-max(992px) {
      width: 32px;
      height: 32px;
      padding: 0;
    }
    @include large {
      right: 12px;
    }
  }
  .g-header__back {
    color: $white;
    font-size: 20px;
  }
  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
  }
  .g-header__text {
    color: $white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16.8px;
    line-height: 20px;
    position: absolute;
    left: 20px;
  }

  &.g-header--button-lg {
    width: 100%;
    z-index: 11;
    top: 0;
    @include desktop {
      height: 96px;
    }
  }
  &.g-header--button--not-back {
    .g-header__logo {
      @include mediaq-max(992px) {
        align-items: flex-start;
      }
    }
  }
}
.g-header--fixed {
  height: 64px;
  @include desktop {
    height: 96px;
  }
}
