<section class="g-header g-header--button o-mb--3">
  <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
    <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
      <i class="icon-arrow-left2 back o-mr--3"></i>
      <p class="title">Selecciona hora y acomodación</p>
    </div>
    <div class="g-header__logo mobile-none">
      <a href="javascript:void(0)" class="u-text--no-underline">
        <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
      </a>
    </div>
    <button class="btn btn--secondary g-header__btn">
      <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" class="mobile-none" />
      <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
    </button>
  </div>
</section>
<section class="g-header g-header--button g-header--button-lg o-mb--3">
  <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
    <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
      <i class="icon-arrow-left2 back o-mr--3"></i>
      <p class="title">Ya casi estás, finaliza tu reserva</p>
    </div>
    <p class="g-header__text u-d-flex u-align-items-center mobile-none">
      <i class="icon-info icon o-mr--1"></i> Pago 100% seguro
    </p>
    <div class="g-header__logo mobile-none">
      <a href="javascript:void(0)" class="u-text--no-underline">
        <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
      </a>
    </div>
    <button class="btn btn--secondary g-header__btn">
      <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" class="mobile-none" />
      <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
    </button>
  </div>
</section>
<section class="g-header g-header--button g-header--button-lg g-header--button--not-back o-mb--3">
  <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
    <div class="g-header__logo">
      <a href="javascript:void(0)" class="u-text--no-underline">
        <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
      </a>
    </div>
    <button class="btn btn--secondary g-header__btn">
      <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" class="mobile-none" />
      <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
    </button>
  </div>
</section>
