<section class="g-header g-header--button">
  <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
    <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
      <i class="icon-arrow-left2 back o-mr--3"></i>
      <p class="title">Selecciona hora y aomodación</p>
    </div>
    <p class="g-header__text u-d-flex u-align-items-center mobile-none">
      <i class="icon-lock icon o-mr--1"></i> Pago 100% seguro
    </p>
    <div class="g-header__logo mobile-none">
      <a class="u-text--no-underline">
        <img src="../../../assets/img/logo-agencias.svg" alt="logo" class="img" />
      </a>
    </div>
    <div class="g-header__item g-header__btn-box">
      <div class="g-header--logado relative g-header--logado__agency g-header__btn">
        <div class="g-header--logado__favi">
          <span>M</span>
        </div>
        <div class="g-header--logado__info o-ml--1">
          <p class="g-header--logado__name">Mari Luz</p>
          <div class="g-header--logado__date">
            <p class="u-font-weight-normal">Mayorista - Excursión</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section__fixed-wrapper u-bg--lighter">
  <div class="o-container">
    <div class="o-row">
      <div class="o-col-24">
        <div class="mobile-none">
          <div class="g-back-btn o-pb--3 o-pt--6 u-border--bottom-gray">
            <i class="g-back-btn--arrow icon-arrow-left2"></i>
            <p class="g-back-btn--text g-back-btn--text__small">Ya casi estás, finaliza tu reserva</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section__fixed u-d-flex u-justify-content-between u-w--100 u-h--100">
      <div class="section__fixed-scroll u-w--100">
        <div class="box o-p--0 o-mb--3">
          <div class="box--sumary u-border--bottom-gray">
            <div class="box--sumary__title">
              <p>1 · Datos básicos</p>
              <a class="g-link u-d-md-none" href="#">Modificar</a>
            </div>
            <div class="box--sumary__info">
              <p class="o-mb--1"><span>Quiero reservar ahora</span></p>
              <p class="o-mb--1"><span>Bono 456457</span></p>
              <p class="o-mb--1"><span>Observaciones: Lorem ipsum amet</span></p>
            </div>
            <div class="box--sumary__link u-d-none u-d-md-block">
              <a class="g-link" href="#">Modificar</a>
            </div>
          </div>
          <!-- Datos pasajeros -->
          <div class="box--sumary u-border--bottom-gray">
            <div class="box--sumary__title">
              <p>2 · Pasajeros</p>
              <a class="g-link u-d-md-none" href="#">Modificar</a>
            </div>
            <div class="box--sumary__info">
              <p class="o-mb--1">
                <span>Marco Cuadrado Redondo:</span> Adulto, marco@gmail.com,<br />+34 645 234 532, España, 24543465E,
                12 abril 1988
              </p>
              <p class="o-mb--1"><span>Maria Perez Perez:</span> Adulto, España, 24543465E, 12/12/1988</p>
              <p class="o-mb--1"><span>Juan Perez Perez:</span> Niño, España, 24543465E</p>
              <p><span>Juana Perez Perez:</span> Bebé, España, 24543465E</p>
            </div>
            <div class="box--sumary__link u-d-none u-d-md-block">
              <a class="g-link" href="#">Modificar</a>
            </div>
          </div>
          <!-- Datos de las mascotas -->
          <div class="box--sumary u-border--bottom-gray">
            <div class="box--sumary__title">
              <p>3 · Mascotas</p>
              <a class="g-link u-d-md-none" href="#">Modificar</a>
            </div>
            <div class="box--sumary__info">
              <p class="o-mb--1"><span>Pic:</span> Perro grande</p>
              <p class="o-mb--1"><span>Llaç:</span> Gato</p>
            </div>
            <div class="box--sumary__link u-d-none u-d-md-block">
              <a class="g-link" href="#">Modificar</a>
            </div>
          </div>
          <!-- Datos de las Vehículos -->
          <div class="box--sumary">
            <div class="box--sumary__title">
              <p>4 · Vehículos</p>
              <a class="g-link u-d-md-none" href="#">Modificar</a>
            </div>
            <div class="box--sumary__info">
              <p class="o-mb--1"><span>Coche o furgoneta:</span> 2342BZ</p>
              <p class="o-mb--1"><span>Remolque:</span> 2342BZ</p>
              <p class="o-mb--1"><span>Canoa:</span> 3 unidades</p>
            </div>
            <div class="box--sumary__link u-d-none u-d-md-block">
              <a class="g-link" href="#">Modificar</a>
            </div>
          </div>
        </div>
        <!-- Datos del pago -->
        <div class="box g-dropdown-basic dropdown-list dropdown-collapse u-w--100 show">
          <button class="g-dropdown-basic--btn u-text">5 · Datos de pago</button>
          <div class="g-dropdown-basic--content">
            <div class="g-dropdown-basic--bkg u-border--top-gray">
              <!-- Código aplicado-->
              <div
                class="banner-information banner-information--xsmall no-padding u-d-flex u-align-items-center o-pt--1"
              >
                <div class="banner-information__info u-d-flex u-align-items-center u-justify-content-between u-w--100">
                  <div class="u-d-flex u-align-items-md-center">
                    <i class="icon-discount o-mr--2 banner-information__icon u-text--secondary"></i>
                    <h2 class="banner-information__title u-text">
                      Código promocional aplicado: <span class="u-text--secondary"> BALEARIA2020</span>
                    </h2>
                  </div>
                  <i class="icon-trash g-icon--medium"></i>
                </div>
              </div>
              <!-- Métodos de pago -->
              <div class="collapse--group">
                <div>
                  <div class="collapse--group__header u-d-flex u-align-items-center u-justify-content-between">
                    <div class="u-d-flex u-align-items-md-center">
                      <label class="g-radiobtn"
                        >Tarjeta bancaria
                        <input type="radio" checked="checked" name="radio" />
                        <span class="g-radiobtn--checkmark"></span>
                      </label>
                    </div>
                    <div class="u-d-flex">
                      <img src="../../../assets/img/visa.svg" alt="visa" class="box-payment__card" />
                      <img src="../../../assets/img/mastercard.svg" alt="mastercard" class="box-payment__card" />
                      <img
                        src="../../../assets/img/american-express.svg"
                        alt="americanexpress"
                        class="box-payment__card"
                      />
                    </div>
                  </div>
                  <div class="collapse--group__body box-payment__content active">
                    <div class="o-row">
                      <div class="o-col-lg-10 margin-responsive">
                        <div class="form__input-wrapper">
                          <input class="g-input form__input" type="text" name="label" placeholder=" " />
                          <label>Número de la tarjeta</label>
                        </div>
                      </div>
                      <div class="o-col-lg-14 margin-responsive">
                        <div class="form__input-wrapper">
                          <input class="g-input form__input" type="text" name="label" placeholder=" " />
                          <label>Titular de la tarjeta</label>
                        </div>
                      </div>
                      <div class="o-col-lg-6 margin-responsive">
                        <div class="form__input-wrapper">
                          <input class="g-input form__input" type="text" name="label" placeholder=" " />
                          <label>Fecha de caducidad</label>
                        </div>
                      </div>
                      <div class="o-col-lg-10 u-d-flex u-align-items-center margin-responsive cvv">
                        <div class="form__input-wrapper">
                          <input class="g-input form__input" type="text" name="label" placeholder=" " />
                          <label>CVV</label>
                        </div>
                        <img src="../../../assets/img/card-cvv.svg" alt="cvv" class="o-ml--2 img" />
                      </div>
                    </div>
                    <div class="o-row">
                      <div class="o-col-lg-24 o-mb--2 o-mt--2">
                        <div class="g-calendar--check">
                          <label class="control control--checkbox"
                            >Guardar tarjeta para futuras compras <i class="icon-info tooltips u-text--secondary"></i>
                            <input type="checkbox" />
                            <div class="control__indicator"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="collapse--group__header u-d-flex u-align-items-center u-justify-content-between">
                    <div class="u-d-flex u-align-items-md-center">
                      <label class="g-radiobtn"
                        ><img src="../../../assets/img/Paypal.svg" alt="" />
                        <input type="radio" checked="checked" name="radio" />
                        <span class="g-radiobtn--checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div class="collapse--group__body box-payment__content active">
                    <div class="o-row">
                      <div class="o-col-lg-24">
                        <div
                          class="o-p--0 banner-information banner-information--small u-d-flex u-align-items-center u-justify-content-between"
                        >
                          <div class="banner-information__info u-d-md-flex">
                            <i class="icon-ticket o-mr--2 banner-information__icon"></i>
                            <div>
                              <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                                Al hacer clic en “Completar reserva”
                                <i class="icon-info tooltips o-ml--1"></i>
                              </h2>
                              <p class="banner-information__subtitle u-label">
                                serás redirigido a nuestra plataforma de pago para completar tu reserva de forma 100%
                                segura.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="collapse--group__header u-d-flex u-align-items-center u-justify-content-between">
                    <div class="u-d-flex u-align-items-md-center">
                      <label class="g-radiobtn"
                        ><img src="../../../assets/img/Bizum.svg" alt="" />
                        <input type="radio" checked="checked" name="radio" />
                        <span class="g-radiobtn--checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div class="collapse--group__body box-payment__content active">
                    <div class="o-row">
                      <div class="o-col-lg-24">
                        <div
                          class="o-p--0 banner-information banner-information--small u-d-flex u-align-items-center u-justify-content-between"
                        >
                          <div class="banner-information__info u-d-md-flex">
                            <i class="icon-ticket o-mr--2 banner-information__icon"></i>
                            <div>
                              <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                                Al hacer clic en “Completar reserva”
                                <i class="icon-info tooltips o-ml--1"></i>
                              </h2>
                              <p class="banner-information__subtitle u-label">
                                serás redirigido a nuestra plataforma de pago para completar tu reserva de forma 100%
                                segura.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="collapse--group__header u-d-flex u-align-items-center u-justify-content-between">
                    <div class="u-d-flex u-align-items-md-center">
                      <label class="g-radiobtn"
                        ><img src="../../../assets/img/Amazon_Pay.svg" alt="" />
                        <input type="radio" checked="checked" name="radio" />
                        <span class="g-radiobtn--checkmark"></span>
                      </label>
                    </div>
                    <div class="tag tag--green u-align-items-center">
                      <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Regalo
                      Incluido
                    </div>
                  </div>
                  <div class="collapse--group__body box-payment__content active">
                    <div class="o-row">
                      <div class="o-col-lg-24">
                        <div
                          class="o-pl--0 o-pr--0 o-pt--1 banner-information banner-information--small u-d-flex u-align-items-center u-border--bottom-gray"
                        >
                          <div class="banner-information__info u-d-md-flex u-w--100">
                            <i class="icon-ticket o-mr--2 banner-information__icon"></i>
                            <div>
                              <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                                Al hacer clic en “Completar reserva”
                                <i class="icon-info tooltips o-ml--1"></i>
                              </h2>
                              <p class="banner-information__subtitle u-label">
                                serás redirigido a nuestra plataforma de pago para completar tu reserva de forma 100%
                                segura.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="o-pl--0 o-pr--0 banner-information banner-information--small u-d-flex u-align-items-center"
                        >
                          <div class="banner-information__info u-d-md-flex">
                            <i class="icon-gift o-mr--2 banner-information__icon u-text--secondary"></i>
                            <div>
                              <h2 class="banner-information__title u-text">Consigue tu premio</h2>
                              <p class="banner-information__subtitle u-label">
                                Paga con Amazon pay y consigue tu Tablet series X y muchos premios más.
                              </p>
                              <a href="" class="g-link u-d-block o-mt--2">Ver detalles del concurso</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- checkbox -->
              <div class="o-row o-mt--4 o-ml-lg--1">
                <div class="o-col-md-24 o-mb--2">
                  <div class="g-calendar--check">
                    <label class="control control--checkbox"
                      >He leído y acepto las condiciones de reserva y las tarifas correspondientes, la política de
                      privacidad y la protección de datos de carácter personal
                      <input type="checkbox" />
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-9 o-col-lg-10 o-mb--2">
                  <button class="btn btn--primary u-w--100">Completar reserva</button>
                </div>
                <div
                  class="o-col-lg-10 u-d-flex u-align-items-center u-justify-content-center u-justify-content-md-start o-mb--2"
                >
                  <div class="tag tag--green u-align-items-center">
                    <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Pago 100%
                    seguro
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section__fixed-sidebar">
        <div class="g-dropdown-basic dropdown-list g-dropdown-basic--details u-w--100">
          <button class="g-dropdown-basic--btn u-w--100 desktop-none">
            <p>
              <span class="u-d-block">Total</span>
              <span class="u-d-block">70,00 €</span>
            </p>
            <i class="icon-arrow-down o-ml--1"></i>
          </button>
          <div class="g-dropdown-basic--content">
            <div class="g-dropdown-basic--bkg details">
              <div
                class="g-dropdown__header u-border--bottom-gray u-d-flex u-d-lg-none u-align-items-center u-justify-content-between o-pl--2 o-pr--2 o-mb--2"
              >
                <p class="title">Tu reserva</p>
                <i class="icon-close icon"></i>
              </div>
              <div class="g-dropdown__content">
                <div class="u-d-flex">
                  <i class="icon-arrow-right icon-green"></i>
                  <div class="information u-w--100">
                    <p class="title--small o-mb--2">Viaje de ida</p>
                    <h2 class="title">Barcelona a Mallorca</h2>
                    <p class="text">15 diciembre 2021 a las 13:00. llegada 10:00</p>
                    <p class="text">4 pasajeros en Butaca Sirena</p>
                    <div
                      class="details__wrapper u-align-items-center u-justify-content-between u-border--top-gray o-mt--2 o-pt--2 o-pb--2"
                    >
                      <div class="u-d-flex u-justify-content-between">
                        <button class="details__btn">
                          <p>Precio total ida</p>
                          <i class="icon-arrow-down o-ml--1"></i>
                        </button>
                        <p>20,00 €</p>
                      </div>
                      <ul class="details__list">
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Adultos</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Niños</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Bebés</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Coche o furgoneta</p>
                          <p class="u-font-weight-semibold">1 x 10,00 €</p>
                        </li>
                      </ul>
                      <ul class="details__list">
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Seguro de viaje</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Menú desayuno</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="u-d-flex u-border--top-gray o-pt--2">
                  <i class="icon-arrow-left icon-green"></i>
                  <div class="information u-w--100">
                    <p class="title--small o-mb--2">Viaje de vuelta</p>
                    <h2 class="title">Barcelona a Mallorca</h2>
                    <div
                      class="details__wrapper u-align-items-center u-justify-content-between u-border--top-gray o-mt--2 o-pt--2 o-pb--2"
                    >
                      <div class="u-d-flex u-justify-content-between">
                        <button class="details__btn">
                          <p>Precio total ida</p>
                          <i class="icon-arrow-down o-ml--1"></i>
                        </button>
                        <p>20,00 €</p>
                      </div>
                      <ul class="details__list">
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Adultos</p>
                          <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Niños</p>
                          <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Bebés</p>
                          <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Coche o furgoneta</p>
                          <p class="details__list-text u-font-weight-semibold">1 x 10,00 €</p>
                        </li>
                      </ul>
                      <ul class="details__list">
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Seguro de viaje</p>
                          <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Menú desayuno</p>
                          <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="u-d-flex u-border--top-gray o-pt--2 o-pb--2">
                  <i class="icon-ticket icon-green"></i>
                  <div class="information u-w--100">
                    <h3 class="details__discount-title text">BALEARIA2020</h3>
                    <p class="details__discount-text text">El descuento se aplica en el paso de pago</p>
                  </div>
                </div>
                <div
                  class="charges u-d-flex u-justify-content-between u-align-items-center u-border--top-gray o-pt--2 o-mb--2"
                >
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-coin icon u-text--secondary o-mr--2"></i>
                    <p class="charges-text u-font-weight-semibold">Cargos de emisión</p>
                  </div>
                  <div class="form__input-wrapper">
                    <input class="g-input form__input" type="text" name="label" placeholder=" " />
                    <label>0,00 €</label>
                  </div>
                </div>
                <div
                  class="details__footer u-d-flex u-justify-content-between u-border--top-gray o-pt--4 u-align-items-center"
                >
                  <div>
                    <p class="title--small">Total</p>
                  </div>
                  <p class="title">25,00 €</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer-small">
  <div class="o-container">
    <button class="btn btn--secondary floating-btn">
      <i class="icon-chat icon"></i>
      Ayuda
    </button>
    <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
      <div class="footer-small__info">
        <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
      </div>
      <div class="footer-small__links">
        <a href="" class="footer-small__link">Política de cookies</a>
        <a href="" class="footer-small__link">Política de privacidad</a>
        <a href="" class="footer-small__link">Condiciones de uso</a>
      </div>
    </div>
  </div>
</section>
