<section class="u-bg--white u-border--bottom-gray-light">
  <div class="o-container">
    <div class="box-details u-d-flex u-align-items-center u-justify-content-between u-flex-wrap">
      <div class="u-d-flex u-align-items-center">
        <button
          class="btn btn--secondary btn--secondary__ghost btn--small box-details__back u-d-flex u-align-items-center"
        >
          <i class="icon-arrow-left2 icon u-text--secondary"></i>
        </button>
        <p class="box-details__title u-d-flex u-align-items-center">
          <span class="u-text--dark u-font-weight-semibold o-mr--1">Barcelona</span>
          <i class="icon-arrow-doble u-text--secondary icon o-mr--1"></i>
          <span class="u-font-weight-semibold">Valencia</span>
        </p>
      </div>
      <div class="u-d-flex u-align-items-center u-justify-content-between u-flex-column u-flex-md-row box-details__tag">
        <p class="u-text--secondary box-details__code">QCT2344</p>
        <div class="tag tag--large tag--green u-align-items-center">
          <i class="icon-ticket tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
          ><span class="u-font-weight-semibold">300</span>puntos
        </div>
      </div>
      <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100 u-flex-wrap o-mt--4">
        <ul class="box-details__list u-d-flex u-flex-wrap">
          <li class="box-details__list-item u-text--text-light u-w-mobile--100 o-mr--1">22 enero 2022 · 13.00h</li>
          <li class="box-details__list-item u-text--text-light u-w-mobile--100 o-mr--1">22 enero 2022 · 13.00h</li>
          <li class="box-details__list-item u-text--text-light u-w-mobile--100">
            4 pasajeros , 2 mascotas , 1 vehículo
          </li>
        </ul>
        <div class="u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100 o-mt--2 o-mt-md--0">
          <button
            class="btn btn--primary btn--primary__border btn--medium u-d-block o-mr--2"
            data-micromodal-trigger="modal-download-app"
          >
            Cambios
          </button>
          <button class="btn btn--primary btn--medium u-d-block" data-micromodal-trigger="modal-download-app">
            Tarjeta de embarque
            <i class="icon-qr"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
