<div class="o-container sider-small__wrapper">
  <div class="o-row">
    <div class="o-col-md-24">
      <div class="box slider--small">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper">
          <div class="mySwiperCalendar2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                  <p class="title o-mb--1">Dom. 15 dic</p>
                  <p class="text">24,50€</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                  <p class="title o-mb--1">Dom. 15 dic</p>
                  <p class="text">-</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                  <p class="title o-mb--1">Dom. 15 dic</p>
                  <p class="text">24,50€</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-centerdisabled">
                  <p class="title o-mb--1">Dom. 15 dic</p>
                  <p class="text">24,50€</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                  <p class="title o-mb--1">Dom. 15 dic</p>
                  <p class="text">24,50€</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                  <p class="title o-mb--1">Dom. 15 dic</p>
                  <p class="text">24,50€</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                  <p class="title o-mb--1">Dom. 15 dic</p>
                  <p class="text">24,50€</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                  <p class="title o-mb--1">Dom. 15 dic</p>
                  <p class="text">24,50€</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                  <p class="title o-mb--1">Dom. 15 dic</p>
                  <p class="text">24,50€</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
