<section class="o-container">
  <div class="o-row o-mt--4">
    <div class="o-col-md-5">
      <div class="g-nav-vertical">
        <ul>
          <li>
            <a class="g-nav-vertical--item" href="javascript:void(0)">
              <i class="icon-arrow-right2"></i>
              <p>Añade flexibilidad</p>
            </a>
          </li>
          <li>
            <a class="g-nav-vertical--item active" href="javascript:void(0)">
              <i class="icon-arrow-right2"></i>
              <p>Mejora tu acomodación</p>
            </a>
          </li>
          <li>
            <a class="g-nav-vertical--item" href="javascript:void(0)">
              <i class="icon-arrow-right2"></i>
              <p>Comida a bordo</p>
            </a>
          </li>
          <li>
            <a class="g-nav-vertical--item" href="javascript:void(0)">
              <i class="icon-arrow-right2"></i>
              <p>Seguro de viaje</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
