<div class="u-bg--lighter acomodationOpenSchedule">
  <!-- Header -->
  <section class="g-header g-header--button">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
      <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
        <i class="icon-arrow-left2 back o-mr--3"></i>
        <p class="title">Selecciona hora y aomodación</p>
      </div>
      <div class="g-header__logo mobile-none">
        <a href="javascript:void(0)" class="u-text--no-underline">
          <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
        </a>
      </div>
      <button class="btn btn--secondary g-header__btn">
        <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" class="mobile-none" />
        <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
      </button>
    </div>
  </section>

  <!-- Bar items -->
  <div class="js-nav bar-items u-d-flex u-align-items-center">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-between">
      <div class="bar-items__text">
        <div class="u-d-flex u-align-items-center">
          <p class="text">Barcelona</p>
          <i class="icon-arrow-doble icon o-ml--2 o-mr--2"></i>
          <p class="text">Mallorca</p>
        </div>
        <ul class="bar-items__list u-d-flex u-align-items-center u-justify-content-between">
          <li class="js-trip-date bar-items__item u-d-flex u-align-items-center">15 dic 2021 - 16 dic 2021</li>
          <li class="bar-items__item u-d-flex u-align-items-center">2 personas</li>
          <li class="bar-items__item u-d-flex u-align-items-center">1 vehículo</li>
          <li class="bar-items__item u-d-flex u-align-items-center">3 mascotas</li>
          <li
            class="js-edit-btn bar-items__item u-d-flex u-align-items-center edit mobile-none"
            data-micromodal-trigger="modal-1"
          >
            Editar <i class="icon-edit icon"></i>
          </li>
          <li class="bar-items__item u-d-flex u-align-items-center edit desktop-none" data-micromodal-trigger="modal-1">
            <i class="icon-search icon"></i>
          </li>
        </ul>
      </div>
      <div class="bar-items__buttons u-d-flex u-align-items-center">
        <div class="g-dropdown-basic dropdown-list g-dropdown-basic--details">
          <button class="g-dropdown-basic--btn">
            <p>
              <span class="u-d-block total">Total</span>
              <span class="u-d-block price"><span class="js-summary__total">0,00</span> €</span>
            </p>
            <i class="icon-arrow-down o-ml--1"></i>
          </button>
          <div class="g-dropdown-basic--content">
            <div class="js-dropdown-empty g-dropdown-basic--bkg">
              <div
                class="g-dropdown__header u-border--bottom-gray u-d-flex u-d-lg-none u-align-items-center u-justify-content-between o-pl--2 o-pr--2 o-mb--2"
              >
                <p class="title">Tu reserva</p>
                <i class="icon-close icon"></i>
              </div>
              <div class="g-dropdown-basic g-dropdown-basic--empty u-w--100">
                <div class="g-dropdown__content">
                  <img src="../../../assets/img/success.svg" alt="" class="o-mb--3" />
                  <h2 class="title">Tu reserva está vacía</h2>
                  <p class="text">
                    Selecciona los trayectos y acomodaciones de ida y vuelta para continuar con tu reserva
                  </p>
                </div>
              </div>
            </div>
            <div class="js-dropdown-data g-dropdown-basic--bkg details" style="display: none">
              <div
                class="g-dropdown__header u-border--bottom-gray u-d-flex u-d-lg-none u-align-items-center u-justify-content-between o-pl--2 o-pr--2 o-mb--2"
              >
                <p class="title">Tu reserva</p>
                <i class="icon-close icon"></i>
              </div>
              <div class="g-dropdown__content">
                <div class="u-d-flex">
                  <i class="icon-arrow-right icon-green"></i>
                  <div class="js-outbound js-travel-box js-outbound-data information u-w--100" data-outbound-total="0">
                    <p class="title--small o-mb--2">Viaje de ida</p>
                    <h2 class="title">Barcelona a Mallorca</h2>
                    <p class="text">15 diciembre 2021 a las 13:00. llegada 10:00</p>
                    <p class="text">
                      <span class="js-total-passenger">4</span> pasajeros en
                      <span class="js-accomodation-out-name">Butaca Sirena</span>
                    </p>
                    <div
                      class="details__wrapper u-align-items-center u-justify-content-between u-border--top-gray o-mt--2 o-pt--2 o-pb--2"
                    >
                      <div class="u-d-flex u-justify-content-between o-mb--1">
                        <button class="js-details-out-btn details__btn">
                          <p>Precio total ida</p>
                          <i class="icon-arrow-down o-ml--1"></i>
                        </button>
                        <p><span class="js-total">0,00</span> €</p>
                      </div>
                      <ul class="js-details-list details__list active">
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Adultos</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-adult-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Mayores de 60</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-seniors60-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Niños (2 a 14 años)</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-children-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Bebés (0 a 1 año)</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-babies-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Bebés (1 a 2 años)</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-babies12-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Vehículo</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-vehicle-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Remolque</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-tows-total">0 x 10,00</span> €
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div
                    class="js-outbound js-outbound-empty information u-w--100 o-mb--2"
                    data-inbound-total="0"
                    style="display: none"
                  >
                    <p class="title--small o-mb--2">Viaje de ida</p>
                    <h2 class="title">Barcelona a Mallorca</h2>
                    <div class="alert alert--info u-d-md-flex u-align-items-center o-mt--1">
                      <i class="icon-info alert__icon"></i>
                      <div class="alert__info">
                        <p class="alert__text">Selecciona la ida para poder continuar</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-d-flex u-border--top-gray o-pt--2">
                  <i class="icon-arrow-left icon-green"></i>
                  <div class="js-inbound js-travel-box js-inbound-data information u-w--100" data-inbound-total="0">
                    <p class="title--small o-mb--2">Viaje de vuelta</p>
                    <h2 class="title">Barcelona a Mallorca</h2>
                    <p class="text">30 diciembre 2021 a las 17:00. llegada 21:00</p>
                    <p class="text">
                      <span class="js-total-passenger">4</span> pasajeros en
                      <span class="js-accomodation-in-name">Butaca Sirena</span>
                    </p>
                    <div
                      class="details__wrapper u-align-items-center u-justify-content-between u-border--top-gray o-mt--2 o-pt--2 o-pb--2"
                    >
                      <div class="u-d-flex u-justify-content-between o-mb--1">
                        <button class="js-details-in-btn details__btn">
                          <p>Precio total vuelta</p>
                          <i class="icon-arrow-down o-ml--1"></i>
                        </button>
                        <p><span class="js-total">0,00</span> €</p>
                      </div>
                      <ul class="js-details-list details__list active">
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Adultos</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-adult-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Mayores de 60</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-seniors60-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Niños (2 a 14 años)</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-children-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Bebés (0 a 1 año)</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-babies-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Bebés (1 a 2 años)</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-babies12-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Vehículo</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-vehicle-total">0 x 10,00</span> €
                          </p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text u-text--text-light">Remolque</p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-tows-total">0 x 10,00</span> €
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div
                    class="js-inbound js-inbound-empty information u-w--100"
                    data-inbound-total="0"
                    style="display: none"
                  >
                    <p class="title--small o-mb--2">Viaje de vuelta</p>
                    <h2 class="title">Mallorca a Barcelona</h2>
                    <div class="alert alert--info u-d-md-flex u-align-items-center o-mt--1">
                      <i class="icon-info alert__icon"></i>
                      <div class="alert__info">
                        <p class="alert__text">Selecciona la vuelta para poder continuar</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="u-d-flex u-border--top-gray o-pt--2">
                  <div
                    class="js-discount-dp js-travel-box js-discount-data information u-w--100"
                    data-discount-total="0"
                  >
                    <div
                      class="details__wrapper u-align-items-center u-justify-content-between u-border--top-gray o-mt--2 o-pt--2 o-pb--2"
                    >
                      <div class="u-d-flex u-justify-content-between o-mb--1">
                        <button class="js-details-in-btn details__btn">
                          <p class="title--small">Descuentos</p>
                          <i class="icon-arrow-down o-ml--1"></i>
                        </button>
                        <p><span class="js-total-dp">0,00</span> €</p>
                      </div>
                      <ul class="js-details-discount-list details__list active">
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="js-discount-detail-dp details__list-text u-text--text-light"></p>
                          <p class="details__list-text u-text--gray u-font-weight-semibold">
                            <span class="js-discount-dp"></span>
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-dropdown__content">
                <div class="details__footer u-d-flex u-justify-content-between u-border--top-gray o-pt--2 o-mt--2">
                  <div>
                    <p class="title--small o-pl--2">Total</p>
                  </div>
                  <p class="title"><span class="js-summary__total">25,00 </span>€</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="js-btn-extras btn btn--primary o-ml--2 bar-items__btn disabled">
          Continuar a extras<i class="icon-arrow-right u-d-none u-d-md-block"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Bar dropdown -->
  <div class="u-border--bottom-gray g-dropdown--bar">
    <div class="o-container u-d-flex u-align-items-center o-pt--1 o-pb--1">
      <div class="g-dropdown-basic g-dropdown--primary dropdown-list">
        <button class="g-dropdown-basic--btn">
          <span>¿Eres residente o familia numerosa?</span>
          <i class="icon-arrow-down o-ml--1"></i>
        </button>
        <div class="g-dropdown-basic--content">
          <div class="g-dropdown-basic--bkg">
            <div
              class="u-d-flex u-align-items-center u-justify-content-between u-w--100 u-d-md-none o-pt--1 o-pb--3 o-pl--2 o-pr--2 u-border--bottom-gray"
            >
              <p class="u-text-default u-text-default--small u-font-weight-bold">Selecciona descuento</p>
              <i class="icon-close u-text--secondary u-text--fz-24 u-cursor-pointer"></i>
            </div>
            <ul class="g-dropdown-basic--list-radiobtn">
              <li class="item">
                <label class="g-radiobtn"
                  >Sin descuento
                  <input type="radio" checked="checked" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Residente islas o Ceuta (75 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Familia numerosa general (5 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Familia numerosa especial (10 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Fam. numerosa general residente (80 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Fam. numerosa especial residente (85 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div>
      <div class="js-outbound js-main-wrapper">
        <div class="o-container slider--small__wrapper">
          <div class="o-row u-justify-content-lg-center">
            <div class="o-col-lg-24 o-mb-lg--3 o-mb--2 o-mt--3">
              <div class="box slider--small">
                <div id="js-going--next" class="js-going--next swiper-button-next"></div>
                <div id="js-going--prev" class="js-going--prev swiper-button-prev"></div>
                <div class="swiper">
                  <div class="mySwiperCalendar2">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                          <p class="title o-mb--1">Dom. 15 dic</p>
                          <p class="text">24,50€</p>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div
                          class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center disabled"
                        >
                          <p class="title o-mb--1">Dom. 15 dic</p>
                          <i class="icon-boat icon"></i>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                          <p class="title o-mb--1">Dom. 15 dic</p>
                          <p class="text">24,50€</p>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                          <p class="title o-mb--1">Dom. 15 dic</p>
                          <p class="text">24,50€</p>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                          <p class="title o-mb--1">Dom. 15 dic</p>
                          <p class="text">24,50€</p>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                          <p class="title o-mb--1">Dom. 15 dic</p>
                          <p class="text">24,50€</p>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                          <p class="title o-mb--1">Dom. 15 dic</p>
                          <p class="text">24,50€</p>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                          <p class="title o-mb--1">Dom. 15 dic</p>
                          <p class="text">24,50€</p>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
                          <p class="title o-mb--1">Dom. 15 dic</p>
                          <p class="text">24,50€</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="o-container">
          <div class="o-row u-justify-content-center">
            <div class="o-col-md-24 o-mb-lg--3 o-mb--2">
              <div class="o-row u-align-items-center title-section">
                <div class="o-col-24 o-col-lg-17 u-d-flex u-justify-content-start">
                  <div class="title-icon u-d-flex u-align-items-center">
                    <i class="icon-boat icon o-mr--3"></i>
                    <h2 class="title"><span class="mobile-none">Selecciona</span> ida</h2>
                    <p class="text o-ml--3 u-d-flex u-align-items-center">
                      <span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="o-container">
          <div class="o-row">
            <div class="o-col-md-24 o-mb--3 js-option" data-from="Barcelona" data-to="Mallorca" data-date="15/02/2023">
              <div class="box box-selected-detail u-d-flex u-align-items-center u-justify-content-start active">
                <div class="box-selected-detail__text u-d-flex u-align-items-center u-justify-content-center">
                  <p class="text-big mobile-none">15</p>
                  <p class="text-small mobile-none">DIC</p>
                  <p class="text-big desktop-none">15 Diciembre</p>
                </div>
                <div class="o-row u-align-items-center u-justify-content-between u-w--100 box-selected__info">
                  <div class="o-col-lg-10 u-d-flex u-justify-content-center u-justify-content-lg-start">
                    <div class="box-time box-time--big u-d-flex u-align-items-start u-justify-content-between">
                      <div class="box-time__text">
                        <p class="small">Barcelona</p>
                      </div>
                      <div class="box-time__line">
                        <i class="icon-time icon"></i>
                        <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                      </div>
                      <div class="box-time__text">
                        <p class="small">Mallorca</p>
                      </div>
                    </div>
                  </div>
                  <div class="o-col-lg-4 u-d-lg-flex u-d-none">
                    <div class="box__text-icon u-d-flex u-align-items-center">
                      <i class="icon-boat icon"></i>
                      <div class="text">
                        <p class="title">Abel Matutes</p>
                        <a href="#" class="link">Smart ship <i class="icon-info"></i></a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="o-col-lg-10 u-d-md-flex u-align-items-center u-justify-content-center u-justify-content-lg-end"
                  >
                    <div class="u-d-flex u-align-items-center u-justify-content-between o-p--2">
                      <a
                        href="#"
                        class="u-link u-link--green o-mr--4 u-d-lg-none"
                        data-micromodal-trigger="modal-condiciones-2"
                        >Ver Barco</a
                      >
                      <a
                        href="#"
                        class="u-link u-link--green o-mr-lg--3"
                        data-micromodal-trigger="modal-condiciones-2"
                        >Condiciones</a
                      >
                    </div>
                    <div class="box-radio box-radio--large o-p-lg--0 o-pl--1 o-pr--1 u-d-none">
                      <label
                        for="id1"
                        class="js-add-shedule-seat label u-d-flex u-align-items-center"
                        data-row-selected="0"
                        data-trip-selected="outbound"
                      >
                        <i class="icon-seat icon"></i>
                        <div class="box-radio__text u-w--100 u-justify-content-between">
                          <p class="box-radio__title">Butaca</p>
                          <p class="box-radio__text-bold">20,00€</p>
                        </div>
                      </label>
                    </div>
                    <div class="box-selected u-d-flex u-align-items-center">
                      <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                      <div class="u-d-flex u-align-items-center">
                        <i class="icon-seat icon"></i>
                        <div class="box-selected__text">
                          <p class="js-btn-accomodation-out-name box-selected__title">Butaca Sirena</p>
                          <p class="box-selected__text-bold">20,00€</p>
                        </div>
                      </div>
                      <div>
                        <p class="small">4 pasajeros vehículo</p>
                        <a class="js-a11n__edit js-a11n__out-edit edit u-cursor-pointer">Modificar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="o-col-md-24 o-mb--3 js-option" data-from="Barcelona" data-to="Mallorca" data-date="16/02/2023">
              <div class="box box--tag">
                <div class="box--tag-content">
                  <div class="o-row u-align-items-center u-justify-content-between">
                    <div class="o-col-lg-10 u-d-flex u-justify-content-center u-justify-content-lg-start">
                      <div class="box-time box-time--big u-d-flex u-align-items-start u-justify-content-between">
                        <div class="box-time__text">
                          <p class="small">Barcelona</p>
                        </div>
                        <div class="box-time__line">
                          <i class="icon-time icon"></i>
                          <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                        </div>
                        <div class="box-time__text">
                          <p class="small">Mallorca</p>
                        </div>
                      </div>
                    </div>
                    <div class="o-col-lg-5 u-d-lg-flex u-d-none">
                      <div class="box__text-icon u-d-flex u-align-items-center">
                        <i class="icon-boat icon"></i>
                        <div class="text">
                          <p class="title">Abel Matutes</p>
                          <a href="#" class="link">Smart ship <i class="icon-info"></i></a>
                        </div>
                      </div>
                    </div>
                    <div
                      class="o-col-lg-9 u-d-md-flex u-align-items-center u-justify-content-center u-justify-content-lg-end"
                    >
                      <div class="u-d-flex u-align-items-center u-justify-content-between o-p--2">
                        <a
                          href="#"
                          class="u-link u-link--green o-mr--4 u-d-lg-none"
                          data-micromodal-trigger="modal-condiciones-2"
                          >Ver Barco</a
                        >
                        <a
                          href="#"
                          class="u-link u-link--green o-mr-lg--3"
                          data-micromodal-trigger="modal-condiciones-2"
                          >Condiciones</a
                        >
                      </div>
                      <div class="box-radio box-radio--large o-p-lg--0 o-pl--1 o-pr--1">
                        <label
                          for="id1"
                          class="js-add-shedule-seat label u-d-flex u-align-items-center"
                          data-row-selected="0"
                          data-trip-selected="outbound"
                        >
                          <i class="icon-seat icon"></i>
                          <div class="box-radio__text u-w--100 u-justify-content-between">
                            <p class="box-radio__title">Butaca</p>
                            <p class="box-radio__text-bold">20,00€</p>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="o-col-md-24 o-mb--3 js-option" data-from="Barcelona" data-to="Mallorca" data-date="17/02/2023">
              <div class="box box--tag">
                <div class="box--tag-content">
                  <div class="o-row u-align-items-center u-justify-content-between">
                    <div class="o-col-lg-10 u-d-flex u-justify-content-center u-justify-content-lg-start">
                      <div class="box-time box-time--big u-d-flex u-align-items-start u-justify-content-between">
                        <div class="box-time__text">
                          <p class="small">Barcelona</p>
                        </div>
                        <div class="box-time__line">
                          <i class="icon-time icon"></i>
                          <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                        </div>
                        <div class="box-time__text">
                          <p class="small">Mallorca</p>
                        </div>
                      </div>
                    </div>
                    <div class="o-col-lg-5 u-d-lg-flex u-d-none">
                      <div class="box__text-icon u-d-flex u-align-items-center">
                        <i class="icon-boat icon"></i>
                        <div class="text">
                          <p class="title">Abel Matutes</p>
                          <a href="#" class="link">Smart ship <i class="icon-info"></i></a>
                        </div>
                      </div>
                    </div>
                    <div
                      class="o-col-lg-9 u-d-md-flex u-align-items-center u-justify-content-center u-justify-content-lg-end"
                    >
                      <div class="u-d-flex u-align-items-center u-justify-content-between o-p--2">
                        <a
                          href="#"
                          class="u-link u-link--green o-mr--4 u-d-lg-none"
                          data-micromodal-trigger="modal-condiciones-2"
                          >Ver Barco</a
                        >
                        <a
                          href="#"
                          class="u-link u-link--green o-mr-lg--3"
                          data-micromodal-trigger="modal-condiciones-2"
                          >Condiciones</a
                        >
                      </div>
                      <div class="box-radio box-radio--large o-p-lg--0 o-pl--1 o-pr--1">
                        <label
                          for="id1"
                          class="js-add-shedule-seat label u-d-flex u-align-items-center"
                          data-row-selected="0"
                          data-trip-selected="outbound"
                        >
                          <i class="icon-seat icon"></i>
                          <div class="box-radio__text u-w--100 u-justify-content-between">
                            <p class="box-radio__title">Butaca</p>
                            <p class="box-radio__text-bold">20,00€</p>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Proposal -->
  <section class="g-proposal">
    <div class="o-container">
      <div class="o-row u-h--100r o-mb--6">
        <div class="o-col-md-6">
          <div class="g-proposal--item">
            <img src="../../../assets/img/proposal-1.svg" alt="" />
            <div class="g-proposal--info">
              <p class="g-proposal--title">Cancelaciones flexibles</p>
              <p class="g-proposal--paragraph">Cancela sin penalización con nuestra tarifa Plus</p>
            </div>
          </div>
        </div>
        <div class="o-col-md-6">
          <div class="g-proposal--item">
            <img src="../../../assets/img/proposal-2.svg" alt="" />
            <div class="g-proposal--info">
              <p class="g-proposal--title">La libertad de llevar tu coche</p>
              <p class="g-proposal--paragraph">La libertad de llevar tu coche</p>
            </div>
          </div>
        </div>
        <div class="o-col-md-6">
          <div class="g-proposal--item">
            <img src="../../../assets/img/proposal-3.svg" alt="" />
            <div class="g-proposal--info">
              <p class="g-proposal--title">Tu mascota contigo siempre</p>
              <p class="g-proposal--paragraph">Acomodaciones 100% Pet friendly para viajar juntos</p>
            </div>
          </div>
        </div>
        <div class="o-col-md-6">
          <div class="g-proposal--item">
            <img src="../../../assets/img/proposal-4.svg" alt="" />
            <div class="g-proposal--info">
              <p class="g-proposal--title">Cuidamos el planeta</p>
              <p class="g-proposal--paragraph">Buques más sostenibles, economía circular, envases bioedegradables...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-small">
    <div class="o-container">
      <button class="btn btn--secondary floating-btn">
        <i class="icon-chat icon"></i>
        Ayuda
      </button>
      <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
        <div class="footer-small__info">
          <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
        </div>
        <div class="footer-small__links">
          <a class="footer-small__link">Política de cookies</a>
          <a class="footer-small__link">Política de privacidad</a>
          <a class="footer-small__link">Condiciones de uso</a>
        </div>
      </div>
    </div>
  </section>
</div>