<div class="u-bg--lighter">
  <div class="g-nav-sticky">
    <section class="g-header">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-between u-h--100 wrapper">
        <div class="u-d-flex u-align-items-center u-text--white u-cursor-pointer">
          <i class="icon-arrow-left2"></i>
          <p class="o-ml--1">Volver a Experiencia a Bordo</p>
        </div>
      </div>
    </section>
  </div>

  <section class="g-banner u-bg--white">
    <div class="o-container">
      <div class="g-banner__content">
        <div class="g-banner__img-container">
          <img src="../../../assets/img/landing-exp.png" alt="" />
        </div>
        <div class="g-banner__info u-d-flex u-flex-column u-align-items-start">
          <h1 class="g-banner__info-title u-text-default--xxlarge u-text-default--heavy u-text--white o-mb--1">
            Eleanor Rooavelt
          </h1>
          <p class="g-banner--info__paragraph u-text--white">Fast Ferry de gas natural</p>
        </div>
      </div>
    </div>
  </section>
</div>
