<div class="o-container">
  <div class="o-row o-mt--2">
    <div class="o-col-md-6">
      <label class="g-switch"
        ><span class="g-switch--label">Viajaré con equipaje encima del vehículo</span>
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="o-col-md-6">
      <label class="g-switch"
        ><span class="g-switch--label">Viajaré con equipaje encima del vehículo</span>
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="o-col-md-6">
      <label class="g-switch g-switch--large g-switch--second"
        ><span class="g-switch--label">Viajaré con equipaje encima del vehículo</span>
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="o-col-md-6">
      <label class="g-switch g-switch--large g-switch--second"
        ><span class="g-switch--label">Viajaré con equipaje encima del vehículo</span>
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
