<div class="o-col-md-12 o-col-lg-10 margin-responsive">
  <div class="form__input-wrapper">
    <input class="g-input form__input" type="text" placeholder=" " />
    <label>Tipo de equipaje</label>
  </div>
</div>
<div class="o-col-sm-8 o-col-lg-8 margin-responsive u-d-flex u-align-items-center">
  <div class="form__input-wrapper u-w--100">
    <select class="form__select" id="extra" name="extra" required>
      <option value="" selected></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <label>Cantidad</label>
  </div>
  <div
    class="btn btn--secondary__ghost o-ml--2 btn--icon btn--icon__medium btn--medium"
    data-trigger="remove-equipment"
  >
    <i class="icon-trash"></i>
  </div>
</div>
