<div class="collapse--group__header u-d-flex u-align-items-center u-justify-content-between">
  <div class="u-d-flex u-align-items-md-center">
    <label class="g-radiobtn"
      >Mi tarjeta acabada en <span class="js-saved-cc__ending-num"></span>
      <input type="radio" name="payment-accordion" value="box-payment__card" />
      <span class="g-radiobtn--checkmark"></span>
    </label>
  </div>
  <div class="u-d-flex js-saved-cc__image"></div>
</div>
<div class="collapse--group__body box-payment__item">
  <div class="item__content">
    <div class="o-row">
      <div class="o-col-lg-24 o-mb--3">
        <p class="u-label">Por tu seguridad introduce los siguientes datos:</p>
      </div>
    </div>
    <div class="o-row">
      <div class="o-col-lg-6 margin-responsive">
        <div class="form__input-wrapper">
          <input class="g-input form__input" type="text" placeholder=" " data-input="payment-card-expiry" />
          <label>Fecha de caducidad</label>
        </div>
      </div>
      <div class="o-col-lg-6 u-d-flex u-align-items-center margin-responsive">
        <div class="form__input-wrapper">
          <input class="g-input form__input" type="text" placeholder=" " data-input="payment-card-cvc" />
          <label>CVV</label>
        </div>
        <img src="../../../assets/img/card-cvv.svg" alt="cvv" class="o-ml--2" />
      </div>
    </div>
  </div>
</div>
