<div class="modal micromodal-slide" id="modal-checkout-condiciones-error" aria-hidden="true">
  <div class="g-modal--info g-modal--info-small modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Código promocional inválido</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-p--3">
        <div>
          <i class="icon-alert g-modal--info-icon g-modal--info-icon-error"></i>
          <h4 class="g-modal--medium__subtitle o-mb--3">Tu reserva no cumple las condiciones del código promocional</h4>
        </div>
        <p class="g-modal--medium__txt o-mb--2">
          Para poder continuar con la reserva y aprovecharte del código promocional debes cumplir estas condicoines:
        </p>
        <ul class="list list--bullets">
          <li class="list__item">Condición 1 lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        </ul>
        <div class="g-modal--info__footer">
          <button class="btn btn--primary btn--primary__ghost u-w--100" data-button="modal-btn-close">Cancelar</button>
          <button class="btn btn--primary u-w--100 o-mb--1 u-w--100" data-button="modal-btn-close">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>
