<div class="o-container">
  <div class="box box-selected-detail u-d-flex u-align-items-center u-justify-content-start">
    <div class="box-selected-detail__text u-d-flex u-align-items-center u-justify-content-center">
      <p class="text-big mobile-none">15</p>
      <p class="text-small mobile-none">DIC</p>
      <p class="text-big desktop-none">15 Diciembre</p>
    </div>
    <div class="o-row u-align-items-center u-justify-content-between u-w--100 box-selected__info">
      <div class="o-col-lg-9 u-d-flex u-justify-content-center u-justify-content-lg-start">
        <div class="box-time box-time--big u-d-flex u-align-items-center u-justify-content-between">
          <div class="box-time__text">
            <p class="large">13:30</p>
            <p class="small">Barcelona</p>
          </div>
          <div class="box-time__line">
            <i class="icon-time icon"></i>
            <p class="time"><span class="text">Duración</span> 6h - 50min</p>
          </div>
          <div class="box-time__text">
            <p class="large">19:00</p>
            <p class="small">Mallorca</p>
          </div>
        </div>
      </div>
      <div class="o-col-lg-5 u-d-lg-flex u-justify-content-center u-d-none">
        <div class="box__text-icon u-d-flex u-align-items-center">
          <i class="icon-boat icon"></i>
          <div class="text">
            <p class="title">Abel Matutes</p>
            <a href="" class="link">Smart ship <i class="icon-info"></i></a>
          </div>
        </div>
      </div>
      <div class="o-col-lg-10 u-d-flex u-justify-content-center u-justify-content-lg-end">
        <div class="box-selected u-d-flex u-align-items-center">
          <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
          <div class="u-d-flex u-align-items-center">
            <i class="icon-seat icon"></i>
            <div class="box-selected__text">
              <p class="box-selected__title">Butaca Sirena</p>
              <p class="box-selected__text-bold">20,00€</p>
            </div>
          </div>
          <div>
            <p class="small">4 pasajeros + vehículo</p>
            <a href="" class="edit">Modificar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>