<div class="o-container">
  <div class="box alert u-d-md-flex u-align-items-center o-mb--3">
    <i class="icon-alert alert__icon"></i>
    <div class="alert__info">
      <h2 class="alert__title o-mb--1">No puedes seleccionar ningún trayecto</h2>
      <p class="alert__text">El trayecto que estas buscando sale antes que tu viaje de ida</p>
    </div>
  </div>
  <div class="box alert alert--info u-d-md-flex u-align-items-center o-mb--3">
    <i class="icon-info alert__icon"></i>
    <div class="alert__info">
      <p class="alert__text">Con esta tarifa tienes flexibilidad y tranquilidad para tu viaje</p>
    </div>
  </div>
  <div class="box alert alert--info alert--link u-d-md-flex u-align-items-center u-justify-content-between o-mb--3">
    <div class="alert__info u-d-flex">
      <i class="icon-info alert__icon"></i>
      <div>
        <p class="alert__text">Tienes que pasar por taquilla a recoger tus tarjetas de embaque</p>
        <p class="alert__text--small u-label">
          Es necesario pasar por taquilla para validar tu documentación de Familia numerosa, discula las molestias
        </p>
      </div>
    </div>
    <div class="alert__link">
      <button class="btn btn--secondary btn--secondary__ghost btn--small">Ver detalles</button>
    </div>
  </div>
  <div
    class="box alert alert--info alert--info-primary alert--link no-shadow u-d-md-flex u-align-items-center u-justify-content-between u-w--100 o-mt--3"
  >
    <p class="alert__text u-text--secondary u-d-flex u-align-items-center">
      <i class="icon-info alert__icon icon--mobile"></i> Tu reserva ha sufrido algun cambio
    </p>
    <div class="u-d-flex u-align-items-center u-justify-content-lg-end">
      <button class="btn btn--secondary btn--secondary__ghost btn--small o-ml--3 o-mb-lg--0">Ver detalles</button>
    </div>
  </div>
</div>
