<div class="g-search--full">
  <div class="o-container">
    <div class="o-row">
      <div class="o-col-md-6">
        <div class="g-dropdown">
          <button class="g-dropdown--btn">
            <span>Ida y vuelta</span>
            <i class="icon-arrow-down o-ml--1"></i>
          </button>
          <div class="g-dropdown--content">
            <div class="g-dropdown--bkg">
              <ul class="g-dropdown--list-radiobtn">
                <li class="item">
                  <label class="g-radiobtn"
                    >Ida y Vuelta
                    <input type="radio" checked="checked" name="radio" />
                    <span class="g-radiobtn--checkmark"></span>
                  </label>
                </li>
                <li class="item">
                  <label class="g-radiobtn"
                    >Sólo ida
                    <input type="radio" name="radio" />
                    <span class="g-radiobtn--checkmark"></span>
                  </label>
                </li>
                <li class="item">
                  <label class="g-radiobtn"
                    >Vuelta abierta
                    <input type="radio" name="radio" />
                    <span class="g-radiobtn--checkmark"></span>
                  </label>
                </li>
                <li class="item">
                  <label class="g-radiobtn"
                    >Varias ciudades
                    <input type="radio" name="radio" />
                    <span class="g-radiobtn--checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="g-dropdown-basic dropdown-list">
          <button class="g-dropdown-basic--btn">
            <span>Ida y vuelta</span>
            <i class="icon-arrow-down o-ml--1"></i>
          </button>
          <div class="g-dropdown-basic--content">
            <div class="g-dropdown-basic--bkg">
              <ul class="g-dropdown-basic--list-radiobtn">
                <li class="item">
                  <label class="g-radiobtn"
                    >Ida y Vuelta
                    <input type="radio" checked="checked" name="radio" />
                    <span class="g-radiobtn--checkmark"></span>
                  </label>
                </li>
                <li class="item">
                  <label class="g-radiobtn"
                    >Sólo ida
                    <input type="radio" name="radio" />
                    <span class="g-radiobtn--checkmark"></span>
                  </label>
                </li>
                <li class="item">
                  <label class="g-radiobtn"
                    >Vuelta abierta
                    <input type="radio" name="radio" />
                    <span class="g-radiobtn--checkmark"></span>
                  </label>
                </li>
                <li class="item">
                  <label class="g-radiobtn"
                    >Varias ciudades
                    <input type="radio" name="radio" />
                    <span class="g-radiobtn--checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="o-container o-mt--4">
  <div class="o-row">
    <div class="o-col-md-12">
      <div class="box g-dropdown-basic dropdown-list dropdown-collapse u-w--100 o-mb--3">
        <button class="g-dropdown-basic--btn">1 · Datos de pasajeros</button>
        <div class="g-dropdown-basic--content">
          <div class="g-dropdown-basic--bkg u-border--top-gray">content</div>
        </div>
      </div>
      <div class="box g-dropdown-basic dropdown-list dropdown-collapse disabled u-w--100 o-mb--3">
        <button class="g-dropdown-basic--btn">2 · Datos de las mascotas</button>
        <div class="g-dropdown-basic--content">
          <div class="g-dropdown-basic--bkg u-border--top-gray">content</div>
        </div>
      </div>
      <div class="box g-dropdown-basic dropdown-list dropdown-collapse completed u-w--100">
        <div class="dropdown-collapse__header">
          <button class="g-dropdown-basic--btn"><i class="icon-user o-mr--2 icon"></i>Personas</button>
          <a href="" class="g-link g-link--small edit">Modificar</a>
        </div>
        <div class="g-dropdown-basic--content">
          <div class="g-dropdown-basic--bkg u-border--top-gray">
            <div class="table-responsive">
              <div class="table-responsive__header u-d-none u-d-lg-flex">
                <div class="table-responsive__cell">Tipo</div>
                <div class="table-responsive__cell">Tipo</div>
                <div class="table-responsive__cell">Tipo</div>
                <div class="table-responsive__cell">Tipo</div>
                <div class="table-responsive__cell">Tipo</div>
                <div class="table-responsive__cell">Tipo</div>
                <div class="table-responsive__cell">Tipo</div>
              </div>
              <div class="table-responsive__body">
                <div class="table-responsive__row">
                  <div class="table-responsive__cell first">
                    <p class="text-bold">Marco Cuadrado Redondo</p>
                    <p class="u-text--gray-light">Titular de la reserva</p>
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
                  <div class="table-responsive__cell">
                    <span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
                  <div class="table-responsive__cell">
                    <span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
                </div>
                <div class="table-responsive__row">
                  <div class="table-responsive__cell first">
                    <p class="text-bold">Marco Cuadrado Redondo</p>
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
                  <div class="table-responsive__cell">
                    <span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
                  <div class="table-responsive__cell">
                    <span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
                </div>
                <div class="table-responsive__row">
                  <div class="table-responsive__cell first">
                    <p class="text-bold">Marco Cuadrado Redondo</p>
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
                  <div class="table-responsive__cell">
                    <span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
                  <div class="table-responsive__cell">
                    <span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
                </div>
                <div class="table-responsive__row">
                  <div class="table-responsive__cell first">
                    <p class="text-bold">Marco Cuadrado Redondo</p>
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
                  <div class="table-responsive__cell">
                    <span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
                  <div class="table-responsive__cell">
                    <span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989
                  </div>
                  <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="o-container o-mt--4">
  <div class="o-row">
    <div class="o-col-md-12">
      <div class="box g-dropdown-basic g-dropdown-basic__border dropdown-list dropdown-collapse u-w--100 o-mb--3">
        <button class="g-dropdown-basic--btn">
          <span class="u-d-flex u-align-items-center">
            <span class="icon-info g-icon--medium o-mr--1"></span>
            <span class="g-dropdown-basic__border--title">Autorrellenar con compañeros de viaje</span>
          </span>
          <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
        </button>
        <div class="g-dropdown-basic--content">
          <div class="o-row">
            <div class="o-col-md-12 o-mb--2">
              <div class="box--funel">
                <span class="box--funel__text">Juan Perez Perez</span>
                <i class="box--funel__close icon-close"></i>
              </div>
            </div>
            <div class="o-col-md-12">
              <div class="box--funel">
                <span class="box--funel__text">Juan Perez Perez</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="o-container o-mt--4">
  <div class="o-row">
    <div class="o-col-md-12">
      <div class="box g-dropdown-basic dropdown-list dropdown-collapse u-w--100 o-mb--3">
        <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
          <span><i class="icon-user o-mr--2"></i>Personas</span>
          <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
        </button>
        <div class="g-dropdown-basic--content">
          <div class="table-responsive u-d-block">
            <div class="table-responsive__body">
              <div class="table-responsive__row">
                <div class="table-responsive__cell first">
                  <p class="text-bold">Marco Cuadrado Redondo</p>
                  <p class="u-text--gray-light">Titular de la reserva</p>
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
                <div class="table-responsive__cell">
                  <span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
                <div class="table-responsive__cell">
                  <span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
              </div>
              <div class="table-responsive__row">
                <div class="table-responsive__cell first">
                  <p class="text-bold">Marco Cuadrado Redondo</p>
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
                <div class="table-responsive__cell">
                  <span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
                <div class="table-responsive__cell">
                  <span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
              </div>
              <div class="table-responsive__row">
                <div class="table-responsive__cell first">
                  <p class="text-bold">Marco Cuadrado Redondo</p>
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
                <div class="table-responsive__cell">
                  <span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
                <div class="table-responsive__cell">
                  <span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
              </div>
              <div class="table-responsive__row">
                <div class="table-responsive__cell first">
                  <p class="text-bold">Marco Cuadrado Redondo</p>
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
                <div class="table-responsive__cell">
                  <span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
                <div class="table-responsive__cell">
                  <span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989
                </div>
                <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
