<div class="box-line-travel">
  <div class="box-line-travel__header u-d-flex u-align-items-center">
    <div class="box-line-travel__icon u-d-flex u-align-items-center u-justify-content-center">
      <i class="icon-location"></i>
    </div>
    <div>
      <h2 class="box-line-travel__title u-text o-mb--1">Embarque en el puerto</h2>
      <p class="box-line-travel__subtitle u-text-default">
        <span class="u-font-weight-semibold text--medium">Barcelona,</span> sábado, 29 enero 2021, 13:00
      </p>
    </div>
  </div>
  <div class="box-line-travel__body">
    <div class="box-line-travel__content">
      <p class="box-line-travel__text o-mb--2">
        <i class="icon-time o-mr--2 icon"></i>Recuerda llegar 90 minutos antes si viajas con coche
      </p>
      <p class="box-line-travel__text o-mb--2">
        <i class="icon-time o-mr--2 icon"></i>Todos los pasajeros deben llevar su DNI
      </p>
      <p class="box-line-travel__text o-mb--5">
        <i class="icon-qr o-mr--2 icon"></i>Todos los pasajeros deben llevar su tarjeta de embarque
      </p>
      <a href="#" class="g-link u-d-block u-border--bottom-gray o-pb--6"
        >Ver más instrucciones de embarque con vehículo</a
      >
      <a href="#" class="g-link u-d-flex u-align-items-center u-justify-content-between box-line-travel__link"
        ><i class="icon-location"></i>Cómo llegar al puerto <i class="icon-arrow-right2"></i
      ></a>
    </div>
  </div>
</div>
<div class="box-line-travel">
  <div class="box-line-travel__header u-d-flex u-align-items-center">
    <div class="box-line-travel__icon u-d-flex u-align-items-center u-justify-content-center">
      <i class="icon-location"></i>
    </div>
    <div>
      <h2 class="box-line-travel__title u-text o-mb--1">Durante el viaje</h2>
      <p class="box-line-travel__subtitle u-text-default">sábado, 29 enero 2021, 13:00</p>
    </div>
  </div>
  <div class="box-line-travel__body">
    <div class="box-line-travel__content">
      <div class="box banner-information u-d-flex u-align-items-center u-justify-content-between o-mb--3">
        <div class="banner-information__info u-d-md-flex">
          <i class="icon-info o-mr--2 banner-information__icon"></i>
          <div>
            <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
              ¿Ya formas parte del Balearia Club?
              <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
            </h2>
            <p class="banner-information__subtitle u-label">Ahorra en esta reserva usando tus puntos</p>
          </div>
        </div>
        <div class="banner-information__action">
          <button class="btn btn--primary btn--medium banner-information__btn">Acceder</button>
        </div>
      </div>
      <p class="box-line-travel__text o-mb--2"><i class="icon-qr o-mr--2 icon"></i>Accede a tu camarote con QR</p>
      <p class="box-line-travel__text o-mb--2">
        <i class="icon-time o-mr--2 icon"></i>WhatsApp GRATIS durante la travesía
      </p>
      <p class="box-line-travel__text o-mb--2">
        <i class="icon-cine o-mr--2 icon"></i>Cine y telévisión a bordo con series y películas
      </p>
      <p class="box-line-travel__text o-mb--2">
        <i class="icon-entretenimiento o-mr--2 icon"></i>Entretenimiento a bordo con juegos y revistas online
      </p>
      <p class="box-line-travel__text o-mb--5">
        <i class="icon-pet o-mr--2 icon"></i>Mira tus mascotas con nuestra cámaras en tiempo real
      </p>
      <a href="#" class="g-link u-d-block u-border--bottom-gray o-pb--6"
        >Ver más instrucciones de embarque con vehículo</a
      >
      <a href="#" class="g-link u-d-flex u-align-items-center u-justify-content-between box-line-travel__link o-mb--5"
        ><i class="icon-location"></i>Cómo llegar al puerto <i class="icon-arrow-right2"></i
      ></a>
      <div class="card-product card-product--hrz card--small">
        <div class="card-product--hrz__body">
          <div class="card-product__img">
            <img src="../../../assets/img/acomodacion.png" alt="" class="img" />
          </div>
          <div class="card-product__info">
            <div class="u-d-flex u-justify-content-between u-w--100 u-flex-wrap">
              <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                <div>
                  <p class="card-product__title">Eleanor Roosvelt</p>
                  <p class="card-product__description o-mb--1">Fast ferry a gas natural</p>
                </div>
                <div class="tag tag--large tag--green u-align-items-center">
                  <i class="icon-mobile tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Smart Ship
                </div>
              </div>
              <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                <a href="" class="g-link g-link--small">Descubre más</a>
                <button class="btn btn--primary btn--medium u-w-mobile--100">
                  <i class="icon-add icon"></i>
                  Ver tour virtual
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box-line-travel">
  <div class="box-line-travel__header u-d-flex u-align-items-center">
    <div class="box-line-travel__icon u-d-flex u-align-items-center u-justify-content-center">
      <i class="icon-location"></i>
    </div>
    <div>
      <h2 class="box-line-travel__title u-text o-mb--1">Desembarque en destino</h2>
      <p class="box-line-travel__subtitle u-text-default">
        <span class="u-font-weight-semibold text--medium">Alcúdia,</span> sábado, 29 enero 2021, 13:00
      </p>
    </div>
  </div>
  <div class="box-line-travel__body">
    <div class="box-line-travel__content">
      <div class="card-product card-product--hrz card--medium o-mb--6">
        <div class="card-product--hrz__body">
          <div class="card-product__img">
            <img src="../../../assets/img/acomodacion.png" alt="" class="img" />
          </div>
          <div class="card-product__info">
            <p class="card-product__title o-mb--1">Mallorca</p>
            <p class="card-product__description">
              Mallorca es sin duda un verdadero paraíso. Su belleza natural ha quedado retrata da a lo largo de la
              historia a través del arte, la literatura y la música.
            </p>
            <a href="" class="g-link g-link--small">Descubre más</a>
          </div>
        </div>
      </div>
      <a href="#" class="g-link u-d-flex u-align-items-center u-justify-content-between box-line-travel__link o-mb--5"
        ><i class="icon-location"></i>Cómo llegar al puerto <i class="icon-arrow-right2"></i
      ></a>
    </div>
  </div>
</div>
