<div class="u-bg--lighter">
  <!-- Header -->
  <div class="g-nav-sticky">
    <div class="g-header g-header--button">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
        <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
          <i class="icon-arrow-left2 back o-mr--3"></i>
          <p class="title">Selecciona hora y aomodación</p>
        </div>
        <div class="g-header__logo mobile-none">
          <a href="javascript:void(0)" class="u-text--no-underline">
            <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
          </a>
        </div>
        <button class="btn btn--secondary g-header__btn">
          <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" class="mobile-none" />
          <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
        </button>
      </div>
    </div>
    <div class="bar-items u-d-flex u-align-items-center">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-between">
        <div class="bar-items__text">
          <div class="u-d-flex u-align-items-center">
            <p class="text">Barcelona</p>
            <i class="icon-arrow-doble icon o-ml--2 o-mr--2"></i>
            <p class="text">Mallorca</p>
          </div>
          <ul class="bar-items__list u-d-flex u-align-items-center u-justify-content-between">
            <li class="bar-items__item u-d-flex u-align-items-center">
              15 dic <span class="mobile-none">2021</span>- 16 dic
              <span class="mobile-none">2021</span>
            </li>
            <li class="bar-items__item u-d-flex u-align-items-center">2 personas</li>
            <li class="bar-items__item u-d-flex u-align-items-center">1 vehículo</li>
            <li class="bar-items__item u-d-flex u-align-items-center">3 mascotas</li>
          </ul>
        </div>
        <div class="bar-items__buttons u-d-flex u-align-items-center">
          <div class="g-dropdown-basic dropdown-list g-dropdown-basic--empty">
            <button class="g-dropdown-basic--btn">
              <p>
                <span class="u-d-block total">Total</span>
                <span class="u-d-block price">0,00 €</span>
              </p>
              <i class="icon-arrow-down o-ml--1"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="g-dropdown-basic--bkg">
                <div
                  class="g-dropdown__header u-border--bottom-gray u-d-flex u-d-lg-none u-align-items-center u-justify-content-between o-pl--2 o-pr--2 o-mb--2"
                >
                  <p class="title">Tu reserva</p>
                  <i class="icon-close icon"></i>
                </div>
                <div class="g-dropdown__content">
                  <img src="../../../assets/img/success.svg" alt="" class="o-mb--3" />
                  <h2 class="title">Tu reserva está vacía</h2>
                  <p class="text">
                    Selecciona los trayectos y acomodaciones de ida y vuelta para continuar con tu reserva
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--primary o-ml--2 bar-items__btn">
            Continuar a extras<i class="icon-arrow-right u-d-none u-d-md-block"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bar dropdown -->
  <div class="u-border--bottom-gray">
    <div class="o-container u-d-flex u-align-items-center o-pt--1 o-pb--1">
      <div class="g-dropdown-basic g-dropdown--primary dropdown-list">
        <button class="g-dropdown-basic--btn">
          <span>¿Eres residente o familia numerosa?</span>
          <i class="icon-arrow-down o-ml--1"></i>
        </button>
        <div class="g-dropdown-basic--content">
          <div class="g-dropdown-basic--bkg">
            <ul class="g-dropdown-basic--list-radiobtn">
              <li class="item">
                <label class="g-radiobtn"
                  >Sin descuento
                  <input type="radio" checked="checked" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Residente islas o Ceuta (75 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Familia numerosa general (5 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Familia numerosa especial (10 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Fam. numerosa general residente (80 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
              <li class="item">
                <label class="g-radiobtn"
                  >Fam. numerosa especial residente (85 %)
                  <input type="radio" name="radio" />
                  <span class="g-radiobtn--checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-container">
    <div class="o-row o-mt--4">
      <div class="o-col-lg-5">
        <!-- nav vertical -->
        <div class="g-nav-vertical">
          <ul>
            <li>
              <a class="g-nav-vertical--item" href="javascript:void(0)">
                <i class="icon-arrow-right2"></i>
                <p>Añade flexibilidad</p>
              </a>
            </li>
            <li>
              <a class="g-nav-vertical--item active" href="javascript:void(0)">
                <i class="icon-arrow-right2"></i>
                <p>Mejora tu acomodación</p>
              </a>
            </li>
            <li>
              <a class="g-nav-vertical--item" href="javascript:void(0)">
                <i class="icon-arrow-right2"></i>
                <p>Comida a bordo</p>
              </a>
            </li>
            <li>
              <a class="g-nav-vertical--item" href="javascript:void(0)">
                <i class="icon-arrow-right2"></i>
                <p>Seguro de viaje</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="o-col-lg-19">
        <div class="u-d-none u-d-lg-block">
          <div class="o-row">
            <div class="o-col-lg-23">
              <!-- back button -->
              <div class="g-back-btn o-pb--3 o-pl--3">
                <i class="g-back-btn--arrow icon-arrow-left2"></i>
                <p class="g-back-btn--text">Mejora tu experiencia de viaje</p>
              </div>
            </div>
          </div>
        </div>
        <div class="o-row">
          <div class="o-col-lg-23 o-mb--3">
            <div class="box slider--small o-mb--3 o-p--0">
              <div class="tag--exclusive">
                <i class="icon-discount"></i>
                <p>NOVEDAD EXCLUSIVA</p>
              </div>
              <div class="box--medium-padding">
                <div class="box no-shadow alert alert--info u-d-flex u-align-items-lg-center o-mb--3">
                  <i class="icon-info alert__icon"></i>
                  <div class="alert__info">
                    <p class="alert__text">Aún queda más de un mes para tu viaje y pueden pasar muchas cosas...</p>
                  </div>
                </div>
                <div class="o-row u-justify-content-between">
                  <div class="o-col-md-auto">
                    <div class="o-mb--2">
                      <p class="box--sub-title">ACOMODACIONES</p>
                      <div class="u-d-flex u-align-items-center o-mb--1">
                        <h3 class="box--title o-mr--1">Anula tu reserva sin penalización</h3>
                        <i class="icon-info g-icon--tooltip"></i>
                      </div>
                      <p class="box--text">
                        Cambia tus fechas o anula tus billetes y obten el 100% del importa al anular con más de 7 días
                        de antelación
                      </p>
                    </div>
                  </div>
                  <div class="o-col-md-auto">
                    <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                      <p class="o-mb--1">
                        <span class="card-product__price">+7,00</span><span class="currency">€</span
                        ><span class="o-ml--1 text--small">por trayecto</span>
                      </p>
                      <button class="btn btn--primary btn--primary__border btn--medium u-w--100">
                        Cambiar a zona ventana
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="g-extra-banner">
                <div class="g-extra-banner--info">
                  <i class="icon icon-meal u-text--secondary"></i>
                  <div>
                    <p class="title">Ahorra hasta un 20% con los Bonos Restaurante</p>
                    <p class="text">Canjea fácilmente los menús con el código QR de tu tarjeta de embarque</p>
                  </div>
                </div>
                <button class="btn btn--primary btn--medium">Descúbrelos</button>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="o-row u-justify-content-between">
                <div class="o-col-md-auto">
                  <div class="o-mb--2">
                    <p class="box--sub-title">ACOMODACIONES</p>
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <h3 class="box--title o-mr--1">Mejora tu acomodación</h3>
                      <i class="icon-info g-icon--tooltip"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="o-row u-align-items-center title-section--medium">
                    <div class="o-col-md-17 u-d-flex">
                      <div class="title-icon title-icon--medium u-d-flex u-align-items-center">
                        <i class="icon-boat icon o-mr--3"></i>
                        <div class="u-d-md-flex">
                          <h2 class="title">Viaje de ida</h2>
                          <p class="text o-ml-lg--3 u-d-flex u-align-items-center">
                            <span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="o-col-md-7">
                      <div class="u-d-none u-d-md-flex u-justify-content-center u-justify-content-lg-end">
                        <div class="title-section--icon">
                          <i class="icon-time"></i>
                          <p>Duración del viaje 6 h 50 min</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="card-product card-product--hrz">
                    <div class="card-product--hrz__body">
                      <div class="card-product__img">
                        <div class="card-product__tag">
                          <div class="tag tag--green u-align-items-center o-mr--1">
                            <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                            >Recomendada
                          </div>
                        </div>
                        <img src="./../../../assets/img/acomodacion.png" alt="" class="img" />
                      </div>
                      <div class="card-product__info">
                        <div class="u-d-flex u-flex-column u-justify-content-between">
                          <div>
                            <p class="card-product__title">Butaca Sirena · Zona ventana</p>
                            <p class="card-product__description o-mb--1">Butaca estandar reclinable</p>
                            <a href="" class="g-link g-link--small o-mb--3">Ver detalles</a>
                          </div>
                          <p class="card-product__text o-mb--1">¡Al probar esta butaca no querrás otra!</p>
                        </div>
                        <div class="u-d-flex u-flex-column u-justify-content-between u-align-items-end">
                          <div class="tag tag--medium tag--red u-align-items-center o-mb--2">
                            <i
                              class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"
                            ></i
                            >Últimas plazas disponibles
                          </div>
                          <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                            <p class="o-mb--1">
                              <span class="card-product__price">+7,00</span><span class="currency">€</span
                              ><span class="o-ml--1 text--small">por trayecto</span>
                            </p>
                            <button class="btn btn--primary btn--primary__border btn--medium">
                              Cambiar a zona ventana
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24 o-mb--2">
                  <div class="o-row u-align-items-center title-section--medium">
                    <div class="o-col-md-17 u-d-flex">
                      <div class="title-icon title-icon--medium u-d-flex u-align-items-center">
                        <i class="icon-boat icon o-mr--3"></i>
                        <div class="u-d-md-flex">
                          <h2 class="title">Viaje de ida</h2>
                          <p class="text o-ml-lg--3 u-d-flex u-align-items-center">
                            <span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="o-col-md-7">
                      <div class="u-d-none u-d-md-flex u-justify-content-center u-justify-content-lg-end">
                        <div class="title-section--icon">
                          <i class="icon-time"></i>
                          <p>Duración del viaje 6 h 50 min</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-row">
                <div class="o-col-md-24">
                  <div class="card-product card-product--hrz">
                    <div class="card-product--hrz__body">
                      <div class="card-product__img">
                        <div class="card-product__tag">
                          <div class="tag tag--green u-align-items-center o-mr--1">
                            <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                            >Recomendada
                          </div>
                        </div>
                        <img src="./../../../assets/img/acomodacion.png" alt="" class="img" />
                      </div>
                      <div class="card-product__info">
                        <div class="u-d-flex u-flex-column u-justify-content-between">
                          <div>
                            <p class="card-product__title">Butaca Sirena · Zona ventana</p>
                            <p class="card-product__description o-mb--1">Butaca estandar reclinable</p>
                            <a href="" class="g-link g-link--small o-mb--3">Ver detalles</a>
                          </div>
                          <p class="card-product__text o-mb--1">¡Al probar esta butaca no querrás otra!</p>
                        </div>
                        <div class="u-d-flex u-flex-column u-justify-content-end u-align-items-end">
                          <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                            <p class="o-mb--1">
                              <span class="card-product__price">+7,00</span><span class="currency">€</span
                              ><span class="o-ml--1 text--small">por trayecto</span>
                            </p>
                            <button class="btn btn--primary btn--primary__border btn--medium">
                              Cambiar a zona ventana
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box slider--small o-mb--3 o-p--0">
              <div class="tag--exclusive">
                <i class="icon-discount"></i>
                <p>NOVEDAD EXCLUSIVA</p>
              </div>
              <div class="box--medium-padding">
                <div class="o-row u-justify-content-between o-mb--2">
                  <div class="o-col-md-13">
                    <div class="o-mb--2">
                      <p class="box--sub-title">COMIDA A BORDO</p>
                      <div class="u-d-flex u-align-items-center o-mb--1">
                        <h3 class="box--title o-mr--1">Ahorra hasta un 20% con los Bonos Restaurante</h3>
                        <i class="icon-info g-icon--tooltip"></i>
                      </div>
                      <p class="box--text">
                        Elige a bordo lo que quieres comer y canjea tus menús con tu código QR. Comprar ocn antelación
                        tiene recompensa.
                      </p>
                    </div>
                  </div>
                  <div class="o-col-md-auto u-text-center">
                    <img src="./../../../assets/img/card.png" alt="" />
                  </div>
                </div>
                <div class="g-card-landscape-bond--scroll">
                  <div class="g-card-landscape-bond o-mb--2">
                    <div class="o-row u-align-items-center o-p--2">
                      <div class="o-col-md-1">
                        <i class="g-card-landscape-bond--icon icon-ticket"></i>
                      </div>
                      <div class="o-col-md-10 o-col-lg-13">
                        <p class="g-card-landscape-bond--title">Bono restaurante pequeño</p>
                        <p class="g-card-landscape-bond--text">55 € para gastar a bordo</p>
                      </div>
                      <div class="o-col-md-13 o-col-lg-10">
                        <div
                          class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end"
                        >
                          <div class="u-d-flex u-align-items-center">
                            <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                            <p class="g-card-landscape-bond__price-2 o-mr--1">por bono</p>
                            <p class="g-card-landscape-bond__price-3 o-mr-lg--3">10%</p>
                          </div>
                          <button class="btn btn--primary btn--primary__border btn--medium g-card-landscape-bond--add">
                            Añadir +
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="g-card-landscape-bond o-mb--2">
                    <div class="o-row u-align-items-md-center u-align-items-top o-p--2">
                      <div class="o-col-10 o-col-md-1">
                        <i class="g-card-landscape-bond--icon icon-ticket"></i>
                      </div>
                      <div class="o-col-14 u-d-md-none u-text-right">
                        <div class="tag tag--green u-align-items-center">
                          <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                          >Recomendada
                        </div>
                      </div>
                      <div class="o-col-md-10 o-col-lg-13">
                        <p class="g-card-landscape-bond--title">Bono restaurante mediano</p>
                        <div class="u-d-flex u-align-items-center">
                          <p class="g-card-landscape-bond--text">55 € para gastar a bordo</p>
                          <div class="u-d-none u-d-md-flex">
                            <div class="tag tag--green u-align-items-center o-ml--2">
                              <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                              >Recomendada
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="o-col-md-13 o-col-lg-10">
                        <div
                          class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end"
                        >
                          <div class="u-d-flex u-align-items-center">
                            <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                            <p class="g-card-landscape-bond__price-2 o-mr--1">por bono</p>
                            <p class="g-card-landscape-bond__price-3 o-mr-lg--3">10%</p>
                          </div>
                          <button class="btn btn--primary btn--primary__border btn--medium g-card-landscape-bond--add">
                            Añadir +
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="g-card-landscape-bond">
                    <div class="o-row u-align-items-center o-p--2">
                      <div class="o-col-md-1">
                        <i class="g-card-landscape-bond--icon icon-ticket"></i>
                      </div>
                      <div class="o-col-md-10 o-col-lg-13">
                        <p class="g-card-landscape-bond--title">Bono restaurante grande</p>
                        <p class="g-card-landscape-bond--text">55 € para gastar a bordo</p>
                      </div>
                      <div class="o-col-md-13 o-col-lg-10">
                        <div
                          class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end"
                        >
                          <div class="u-d-flex u-align-items-center">
                            <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                            <p class="g-card-landscape-bond__price-2 o-mr--1">por bono</p>
                            <p class="g-card-landscape-bond__price-3 o-mr-lg--3">10%</p>
                          </div>
                          <button class="btn btn--primary btn--primary__border btn--medium g-card-landscape-bond--add">
                            Añadir +
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box--medium-padding slider--small o-mb--3">
              <div class="o-row u-justify-content-between o-mb--2">
                <div class="o-col-md-13">
                  <div class="o-mb--2">
                    <p class="box--sub-title">ACOMODACIONES</p>
                    <div class="u-d-flex u-align-items-center o-mb--1">
                      <h3 class="box--title o-mr--1">Anula tu reserva sin penalización</h3>
                      <i class="icon-info g-icon--tooltip"></i>
                    </div>
                    <p class="box--text">
                      Cambia tus fechas o anula tus billetes y obten el 100% del importa al anular con más de 7 días de
                      antelación
                    </p>
                  </div>
                </div>
              </div>
              <div class="o-row u-align-items-end u-justify-content-between">
                <div class="o-col-md-10">
                  <ul class="list list--check">
                    <li class="list__item">
                      <p class="list__item--doble">
                        <span class="text1">Item</span><span>Permite cambios de fecha con retarificación</span>
                      </p>
                    </li>
                    <li class="list__item">
                      <p class="list__item--doble"><span class="text1">Item</span><span>Permite anulación</span></p>
                    </li>
                    <li class="list__item">
                      <p class="list__item--doble"><span class="text1">Item</span><span>Permite anulación</span></p>
                    </li>
                    <li class="list__item">
                      <p class="list__item--doble"><span class="text1">Item</span><span>Permite anulación</span></p>
                    </li>
                  </ul>
                </div>
                <div class="o-col-md-13 o-col-lg-10">
                  <div class="u-d-flex u-flex-column u-align-items-end u-w--100">
                    <p class="o-mb--1">
                      <span class="card-product__price">+7,00</span><span class="currency">€</span
                      ><span class="o-ml--1 text--small">por trayecto</span>
                    </p>
                    <button class="btn btn--primary btn--primary__border btn--medium g-card-landscape-bond--add">
                      Añadir anulación
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="u-d-none u-d-lg-block">
              <div class="o-row u-justify-content-end">
                <div class="o-col-md-8 o-mb--8">
                  <button class="btn btn--primary u-w--100">Guardar y continuar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="footer-small">
    <div class="o-container">
      <button class="btn btn--secondary floating-btn">
        <i class="icon-chat icon"></i>
        Ayuda
      </button>
      <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
        <div class="footer-small__info">
          <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
        </div>
        <div class="footer-small__links">
          <a href="" class="footer-small__link">Política de cookies</a>
          <a href="" class="footer-small__link">Política de privacidad</a>
          <a href="" class="footer-small__link">Condiciones de uso</a>
        </div>
      </div>
    </div>
  </div>
</div>
