<div class="o-container">
  <div class="o-col-md-24 o-mb--3">
    <div class="box box--tag">
      <div class="tag u-d-flex u-align-items-center u-justify-content-between o-mb--3">
        <p class="tag__text u-font-weight-normal  u-d-flex u-align-items-center">
          <i class="icon-world  first"></i>
          <span class="u-font-weight-bold o-mr--1">+Eco</span>Este barco emite un 30% menos de CO2 al funcionar con Gas
          Natural
        </p>
        <i class="icon-info last"></i>
      </div>
      <p> Text text text</p>
    </div>
  </div>
  <div class="o-col-md-24">
    <div class="box box--tag">
      <div class="tag--exclusive">
        <i class="icon-discount"></i>
        <p>PACK RECOMENDADO - AHORRA <span class="bold">30%</span></p>
      </div>
      <p> Text text text</p>
    </div>
  </div>
</div>