<section class="footer">
  <div class="footer__bar-top u-d-flex u-align-items-center u-justify-content-center u-w--100">
    <div class="footer__bar-logos u-d-flex u-justify-content-between u-align-items-center u-w--100">
      <a href="">
        <i class="icon-youtube"></i>
      </a>
      <a href="">
        <i class="icon-twitter"></i>
      </a>
      <a href="">
        <i class="icon-facebook"></i>
      </a>
      <a href="">
        <i class="icon-linkedln"></i>
      </a>
      <a href="">
        <i class="icon-instagram"></i>
      </a>
    </div>
  </div>
  <div class="o-container">
    <img src="../../../assets/img/logo.svg" alt="" class="footer__logo">
    <div class="o-row o-pb--4">
      <div class="o-col-md-6">
        <h3 class="footer__title first o-mb--3">Descarga nuestra app</h3>
        <div class="footer__bar-img u-d-flex u-flex-md-column">
          <a href="" class="img-link"><img src="../../../assets/img/app-store.png" alt="" class="img"></a>
          <a href="" class="img-link"><img src="../../../assets/img/google-play.png" alt="" class="img"></a>
        </div>
      </div>
      <div class="o-col-md-6">
        <h3 class="footer__title o-mb--3">Atención al cliente</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="" class="footer__item-link">Centro de ayuda</a></li>
          <li class="footer__item"><a href="" class="footer__item-link">COVID-19</a></li>
          <li class="footer__item"><a href="" class="footer__item-link">Seguridad</a></li>
          <li class="footer__item"><a href="" class="footer__item-link">Puertos y puntos de venta</a></li>
        </ul>
      </div>
      <div class="o-col-md-6">
        <h3 class="footer__title o-mb--3">Inspírate</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="" class="footer__item-link">Destinos</a></li>
          <li class="footer__item"><a href="" class="footer__item-link">Rutas</a></li>
          <li class="footer__item"><a href="" class="footer__item-link">Blog Entreolas</a></li>
          <li class="footer__item"><a href="" class="footer__item-link">Rumbo verde</a></li>
        </ul>
      </div>
      <div class="o-col-md-6">
        <h3 class="footer__title o-mb--3">Nosotros</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="" class="footer__item-link">Grupo Balearia</a></li>
          <li class="footer__item"><a href="" class="footer__item-link">Responsabilidad social Corporativa</a></li>
          <li class="footer__item"><a href="" class="footer__item-link">Sala de prensa</a></li>
          <li class="footer__item"><a href="" class="footer__item-link">Trabaja con nosotros</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="footer__select  u-d-flex u-align-items-center u-w--100">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-md-end">
      <div class="form__input-wrapper o-mr--2">
        <select class="form__select" id="extra" name="extra" required>
          <option value="" selected>Español</option>
          <option value="tinted">Label</option>
          <option value="turbo">Label</option>
          <option value="speed">Label</option>
        </select>
      </div>
      <div class="form__input-wrapper">
        <select class="form__select" id="extra" name="extra" required>
          <option value="" selected>EUR - €</option>
          <option value="tinted">Label</option>
          <option value="turbo">Label</option>
          <option value="speed">Label</option>
        </select>
      </div>
    </div>
  </div>
  <div class="footer__bar-bottom u-d-flex u-align-items-center">
    <div class="o-container u-d-flex u-justify-content-between u-align-items-center">
      <p class="text">2021 Baleària. Todos los derechos reservados.</p>
      <div class="footer__bar-link">
        <a href="" class="link">Política de privacidad</a>
        <a href="" class="link">Política de cookies</a>
        <a href="" class="link">Condiciones de uso</a>
      </div>
    </div>
  </div>
</section>