<div class="o-container">
  <div class="box banner-information u-d-flex u-align-items-center u-justify-content-between o-mb--3">
    <div class="banner-information__info u-d-md-flex">
      <i class="icon-info o-mr--2 banner-information__icon"></i>
      <div>
        <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
          ¿Ya formas parte del Balearia Club?
          <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
        </h2>
        <p class="banner-information__subtitle u-label">Ahorra en esta reserva usando tus puntos</p>
      </div>
    </div>
    <div class="banner-information__action">
      <button class="btn btn--primary btn--medium banner-information__btn">Acceder</button>
    </div>
  </div>

  <div class="box banner-information banner-information--small u-d-flex u-justify-content-between o-mb--3">
    <div class="banner-information__info u-d-md-flex u-w--100 o-pr--1">
      <i class="icon-ticket o-mr--2 banner-information__icon"></i>
      <div class="u-w--100">
        <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
          Únete al Balearia Club y consigue 54 puntos
          <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
        </h2>
        <p class="banner-information__subtitle u-label">Promociones, descuentos, regalo de cumpleaños y mucho más</p>
        <div class="banner-information__content u-border--top-gray o-mt--2 o-pt--2">
          <p class="banner-information__subtitle u-label o-mb--2">
            Crea una contraseña para poder entrar en tu cuenta de Balearia Club
          </p>
          <div class="form__input-wrapper form__icon-right o-mb--1">
            <input class="g-input form__input" type="text" name="label" placeholder=" " />
            <label>Contraseña</label>
            <i class="icon-eye-hide u-text--secondary"></i>
          </div>
          <p class="u-help u-text--gray-light o-mb--2">
            Mínimo 8 carácteres, un número, una letra mayúscula y algún símbolo
          </p>
          <div class="form__input-wrapper">
            <input class="g-input form__input" type="text" name="label" placeholder=" " />
            <label>Fecha de caducidad</label>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-information__action">
      <label class="g-switch g-switch--large g-switch--second">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div class="box banner-information banner-information--small active u-d-flex u-justify-content-between o-mb--3">
    <div class="banner-information__info u-d-md-flex u-w--100 o-pr--1">
      <i class="icon-ticket o-mr--2 banner-information__icon"></i>
      <div class="u-w--100">
        <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
          Únete al Balearia Club y consigue 54 puntos
          <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
        </h2>
        <p class="banner-information__subtitle u-label">Promociones, descuentos, regalo de cumpleaños y mucho más</p>
        <div class="banner-information__content u-border--top-gray o-mt--2 o-pt--2">
          <p class="banner-information__subtitle u-label o-mb--2">
            Crea una contraseña para poder entrar en tu cuenta de Balearia Club
          </p>
          <div class="form__input-wrapper form__icon-right o-mb--1">
            <input class="g-input form__input" type="text" name="label" placeholder=" " />
            <label>Contraseña</label>
            <i class="icon-eye-hide u-text--secondary"></i>
          </div>
          <p class="u-help u-text--gray-light o-mb--2">
            Mínimo 8 carácteres, un número, una letra mayúscula y algún símbolo
          </p>
          <div class="form__input-wrapper">
            <input class="g-input form__input" type="text" name="label" placeholder=" " />
            <label>Fecha de caducidad</label>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-information__action">
      <label class="g-switch g-switch--large g-switch--second">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div
    class="box banner-information banner-information--small u-d-flex u-align-items-center u-justify-content-between o-mb--3"
  >
    <div class="banner-information__info u-d-md-flex u-w--100 o-pr--1">
      <i class="icon-mobile o-mr--2 banner-information__icon"></i>
      <div class="u-w--100">
        <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
          Recibe tu tarjeta de embarque por Whatsapp gratis
          <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
        </h2>
        <p class="banner-information__subtitle u-label">Recibe tu tarjeta de embarque por Whatsapp gratis</p>
        <div class="banner-information__content u-border--top-gray o-mt--2 o-pt--2">
          <p class="banner-information__subtitle u-label o-mb--2">
            ¿En qué teléfono quieres recibir la tarjeta de embarque?
          </p>
          <div class="select-input u-w--100">
            <select class="form__select" id="extra" name="extra" required>
              <option value="" selected>+31</option>
              <option value="tinted">+58</option>
              <option value="turbo">+51</option>
              <option value="speed">+56</option>
            </select>
            <div class="form__input-wrapper u-w--100">
              <input class="g-input form__input" type="text" name="label" placeholder=" " />
              <label>Teléfono</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-information__action">
      <label class="g-switch g-switch--large g-switch--second">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div
    class="box banner-information banner-information--small active u-d-flex u-align-items-center u-justify-content-between o-mb--3"
  >
    <div class="banner-information__info u-d-md-flex u-w--100 o-pr--1">
      <i class="icon-mobile o-mr--2 banner-information__icon"></i>
      <div class="u-w--100">
        <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
          Recibe tu tarjeta de embarque por Whatsapp gratis
          <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
        </h2>
        <p class="banner-information__subtitle u-label">Recibe tu tarjeta de embarque por Whatsapp gratis</p>
        <div class="banner-information__content u-border--top-gray o-mt--2 o-pt--2">
          <p class="banner-information__subtitle u-label o-mb--2">
            ¿En qué teléfono quieres recibir la tarjeta de embarque?
          </p>
          <div class="select-input u-w--100">
            <select class="form__select" id="extra" name="extra" required>
              <option value="" selected>+31</option>
              <option value="tinted">+58</option>
              <option value="turbo">+51</option>
              <option value="speed">+56</option>
            </select>
            <div class="form__input-wrapper u-w--100">
              <input class="g-input form__input" type="text" name="label" placeholder=" " />
              <label>Teléfono</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-information__action">
      <label class="g-switch g-switch--large g-switch--second">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div class="box banner-information banner-information--xsmall u-d-flex u-align-items-center o-mb--3">
    <div class="banner-information__info u-d-flex u-align-items-center u-justify-content-between u-w--100">
      <div class="u-d-flex u-align-items-md-center">
        <i class="icon-info o-mr--2 banner-information__icon u-text--secondary"></i>
        <h2 class="banner-information__title u-text">
          Código promocional aplicado: <span class="u-text--secondary"> BALEARIA2020</span>
        </h2>
      </div>
      <i class="icon-trash"></i>
    </div>
  </div>

  <div class="box banner-information u-d-flex u-align-items-center u-flex-column">
    <div class="banner-information__info u-d-md-flex o-mb--3">
      <img src="../../../assets/img/whatsapp.svg" alt="whatsapp" class="o-mr--2 u-img--large o-mb--1 o-mb-md--0" />
      <div>
        <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
          Recibe notificaciones sobre tu viaje por WhatsApp
        </h2>
        <p class="banner-information__subtitle u-label">
          Recibiras notificaciones relacionadas con tu viaje y las tarjetas de embarque
        </p>
      </div>
    </div>
    <div class="banner-information__action u-d-flex u-justify-content-end u-w--100 o-mt--0">
      <button
        class="btn btn--primary btn--primary__border btn--medium banner-information__btn u-d-block u-w-mobile--100"
        data-micromodal-trigger="modal-download-app"
      >
        Descargar la app
      </button>
    </div>
  </div>

  <div
    class="box--line banner-information banner-information--small banner--checkout banner-information--active u-d-flex u-justify-content-between o-mb--3"
  >
    <div class="banner-information__info u-d-md-flex u-align-items-start u-w--100 u-flex-wrap">
      <img
        class="o-mr--2 banner-information__icon banner-information__icon--svg"
        src="./../../../assets/img/coche.svg"
        alt=""
      />
      <div class="banner-information__title-box">
        <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
          Únete al Balearia Club y consigue 54 puntos
          <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
        </h2>
        <p class="banner-information__subtitle u-label">Promociones, descuentos, regalo de cumpleaños y mucho más</p>
      </div>
    </div>
    <div class="banner-information__content u-border--top-gray o-mt--2 o-pt--2">
      <p class="banner-information__subtitle u-label o-mb--2">
        Crea una contraseña para poder entrar en tu cuenta de Balearia Club
      </p>
      <div class="form__input-wrapper form__icon-right o-mb--1">
        <input class="g-input form__input" type="text" name="label" placeholder=" " />
        <label>Contraseña</label>
        <i class="icon-eye-hide u-text--black"></i>
      </div>
      <p class="u-help u-text--gray-light o-mb--2">
        Mínimo 8 carácteres, un número, una letra mayúscula y algún símbolo
      </p>
      <div class="form__input-wrapper">
        <input class="g-input form__input" type="text" name="label" placeholder=" " />
        <label>Fecha de caducidad</label>
      </div>
    </div>
    <div class="banner-information__action">
      <label class="g-switch g-switch--second">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div
    class="box--line banner-information banner-information--small banner--checkout banner-information--activ u-d-flex u-align-items-center u-justify-content-between o-mb--3"
  >
    <div class="banner-information__info u-d-md-flex u-align-items-start u-w--100 u-flex-wrap">
      <img
        class="o-mr--2 banner-information__icon banner-information__icon--svg"
        src="./../../../assets/img/mobile.svg"
        alt=""
      />
      <div class="banner-information__title-box">
        <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
          Recibe tu tarjeta de embarque por Whatsapp gratis
          <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
        </h2>
        <p class="banner-information__subtitle u-label">Recibe tu tarjeta de embarque por Whatsapp gratis</p>
      </div>
    </div>
    <div class="banner-information__content u-border--top-gray o-mt--2 o-pt--2">
      <p class="banner-information__subtitle u-label o-mb--2">
        ¿En qué teléfono quieres recibir la tarjeta de embarque?
      </p>
      <div class="select-input u-w--100">
        <select class="form__select" id="extra" name="extra" required>
          <option value="" selected>+31</option>
          <option value="tinted">+58</option>
          <option value="turbo">+51</option>
          <option value="speed">+56</option>
        </select>
        <div class="form__input-wrapper u-w--100">
          <input class="g-input form__input" type="text" name="label" placeholder=" " />
          <label>Teléfono</label>
        </div>
      </div>
    </div>
    <div class="banner-information__action">
      <label class="g-switch g-switch--second">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div class="o-container">
    <div
      class="box banner-information u-d-flex u-align-items-center u-justify-content-between u-flex-wrap u-flex-lg-nowrap o-mb--4"
    >
      <div class="u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100 o-mb--1 o-mb-md--0">
        <img src="../../../assets/img/proposal-5.svg" alt="" class="u-img--medium o-mr--2" />
        <p
          class="u-text-default u-text-default--xlarge u-text--secondary u-font-weight-bold u-d-flex u-align-items-center u-align-items-md-end"
        >
          +300 <span class="u-text-default u-text-default--small u-font-weight-normal u-text--text-light">puntos</span>
        </p>
      </div>
      <p
        class="u-text-default u-text-default--large u-text--gray u-font-weight-semibold u-w-mobile--100 o-mb--1 o-mb-lg--0 o-pl-lg--2"
      >
        <span class="u-d-lg-block">Te sumaremos 300 puntos</span> <span> una vez hayas viajado</span>
      </p>
      <div
        class="u-d-flex u-align-items-md-center u-justify-content-between u-w-mobile--100 u-flex-column u-border-lg--left-gray o-pl-lg--2"
      >
        <p class="u-text-default u-text-default--small u-text--text-light">
          Descubre ventajas con las que usar tus puntos que ya tienes hoy
        </p>
        <div class="box-border-text u-d-flex u-align-items-center u-w--100 margin-mobile">
          <i class="icon-coins u-text--fz-24 o-mr--1"></i>
          <div class="u-d-md-flex u-align-items-center">
            <p class="u-d-flex u-align-items-center u-text--text-light o-mr--2 u-text-default">
              <span class="u-text--secondary u-font-weight-bold text-lg-mobile">345</span>puntos
            </p>
            <p class="u-text-default u-text-default--small u-text--text-light">
              <span class="u-font-weight-semibold">255 </span> puntos caducan el 26/6/2022
            </p>
          </div>
        </div>
      </div>
      <button class="btn btn--primary btn--primary__border u-w-mobile--100">Ir a la tienda del Club</button>
    </div>
  </div>
</div>
