<ul class="list list--check o-mb--3">
  <li class="list__item">Consigue descuentos y recompensas</li>
  <li class="list__item">Mejora tu experiencia a bordo</li>
  <li class="list__item">Reserva más rápido y más fácil</li>
  <li class="list__item">Reserva más rápido y más fácil</li>
  <li class="list__item not-check">Reserva más rápido y más fácil</li>
</ul>

<ul class="list list--number">
  <li class="list__item">1 minuto para darte de alta</li>
  <li class="list__item">10% de descuento en tu próxima reserva</li>
  <li class="list__item">Sigue disfrutando de descuentos y ventajas</li>
</ul>
