<div class="u-bg--lighter">
  <div class="u-bg--lighter__white">
    <!-- header -->
    <section class="g-header g-header--simple">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-between u-h--100 wrapper">
        <div class="g-header__logo">
          <a href="javascript:void(0)">
            <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
          </a>
          <div class="g-header__logo-help">
            <i class="icon-help icon"></i>
            <button class="btn btn--secondary g-header__btn"><i class="icon-user o-mr--1"></i></button>
          </div>
        </div>
        <ul class="g-header__list last u-d-md-flex u-align-items-center u-justify-content-between">
          <li class="g-header__item" id="help">
            <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold fw-normal">Ayuda</a>
          </li>
          <li class="g-header__item g-header__btn-box">
            <button class="btn btn--secondary g-header__btn">
              <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" />
              <span class="g-header__btn-text o-ml--1">Club</span>
            </button>
          </li>
        </ul>
      </div>
    </section>

    <!-- body -->
    <section class="o-container o-pb--12 box--irregular">
      <div class="o-mt--7 mobile-none"></div>
      <div class="o-row login o-col-lg-24 box--double">
        <div class="o-col-lg-12 box--double__img">
          <img class="img u-w--100 mobile-none" src="../../../assets/img/login-bg-desktop.svg" alt="" />
        </div>
        <div class="o-col-lg-12 box--double__text">
          <div class="o-col-lg-24">
            <div class="o-mt--3">
              <h2 class="title--bold o-mb--1 o-mt--2">Inicia sesión en Balearia Club</h2>
              <div class="o-pb--3">
                <p class="label__link">¿Eres nuevo?</p>
                <a href="#" class="g-link g-link--orange o-ml--1 mobile-none">Crear cuenta</a>
                <a href="#" class="g-link g-link--orange o-ml--1 desktop-none">Crea tu cuenta ahora</a>
              </div>
              <div class="login__buttons u-d-lg-flex">
                <button class="btn btn--gray btn--gray__border o-mb--2 u-w--100 o-mr--2">
                  Continua con Google <img src="../../../assets/img/google.svg" alt="" class="o-ml--1" />
                </button>
                <button class="btn btn--gray btn--gray__border o-mb--2 u-w--100">
                  Continua con Facebook <img src="../../../assets/img/facebook.svg" alt="" class="o-ml--1" />
                </button>
              </div>
              <p class="divider o-mb--3 o-mt--1">
                <span class="divider__text">o accede con tu correo electrónico...</span>
              </p>
              <div class="o-mb--4">
                <div class="form__input-wrapper o-mb--2">
                  <input class="g-input form__input" type="text" name="label" placeholder=" " />
                  <label>Correo electrónico</label>
                </div>
                <div class="form__input-wrapper form__icon-right o-mb--1">
                  <input class="g-input form__input" type="text" name="label" placeholder=" " />
                  <label>Contraseña</label>
                  <i class="icon-eye-hide icon--green-main"></i>
                </div>
                <p class="u-help u-text--gray-light o-mb--2 mobile-none">
                  Mínimo 8 carácteres, un número, una letra mayúscula y algún símbolo
                </p>
              </div>
              <button class="btn btn--primary o-mb--1 u-w--100">Iniciar sesión</button>
              <div class="desktop-none o-mb--3"></div>
              <button class="btn btn--primary btn--primary__ghost btn--small u-w-mobile--100">
                ¿Has olvidado la contraseña?
              </button>
            </div>
            <div class="mobile-none">
              <h2 class="subtitle--bold o-mb--3 o-mt--3">
                Un club con más de 20.000 personas del que la familia Balearia se siente orgullosa
              </h2>
              <ul class="list list--check o-mb--3">
                <li class="list__item">Gana puntos y consigue descuentos y recompensas</li>
                <li class="list__item">Mejora tu experiencia a bordo</li>
                <li class="list__item">Reserva más rápido y más fácil</li>
                <li class="list__item">Gana puntos completando retos</li>
              </ul>
              <div class="link-icon u-d-md-flex u-align-items-center">
                <a href="#" class="link-icon__link mobile-none">Descubre todas las ventajas del Club Balearia</a>
                <i class="icon-arrow-right link-icon__icon o-pl--1"></i>
              </div>
            </div>
            <div class="desktop-none box__double--responsive o-mt--3">
              <img class="img-bg img desktop-none" src="../../../assets/img/login-bg-mobile.svg" alt="" />
              <div>
                <h2 class="subtitle--bold o-mb--3 o-mt--3">
                  Un club con más de 20.000 personas del que la familia Balearia se siente orgullosa
                </h2>
                <ul class="list list--check list--check__green o-mb--3">
                  <li class="list__item">Gana puntos y consigue descuentos y recompensas</li>
                  <li class="list__item">Mejora tu experiencia a bordo</li>
                  <li class="list__item">Reserva más rápido y más fácil</li>
                  <li class="list__item">Gana puntos completando retos</li>
                </ul>
                <button class="btn btn--gray btn--gray__border o-mb--2 btn--gray__border-white btn--descubre">
                  Descubre todas las ventajas del Club Balearia<i class="icon-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- floating button -->
    <button class="btn btn--secondary floating-btn desktop-none floating-btn--login">
      <i class="icon-chat icon"></i>
      Ayuda
    </button>

    <!-- footer -->
    <section class="footer-small mobile-none">
      <div class="o-container">
        <div
          class="footer-small__row u-border--top-gray u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3"
        >
          <div class="footer-small__info">
            <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
          </div>
          <div class="footer-small__links">
            <a class="footer-small__link">Política de cookies</a>
            <a class="footer-small__link">Política de privacidad</a>
            <a class="footer-small__link">Condiciones de uso</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
