<section class="g-header--fixed">
  <div class="g-header g-header--button u-w--100">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
      <div>
        <a href="javascript:void(0)" class="u-text--no-underline">
          <img src="../../../assets/img/logo-exp.png" alt="logo" class="img" />
        </a>
      </div>
    </div>
  </div>
</section>

<section class="o-container o-mt-lg--6">
  <div class="o-row u-justify-content-between">
    <div class="o-col-md-8">
      <div class="o-mt--2">
        <h2 class="u-title--large o-mb--4">Accede a tu experiencia personalizada</h2>
      </div>
      <div class="o-row o-mb--4 u-flex-md-column">
        <div class="o-col-md-20 o-col-24">
          <div class="form__input-wrapper u-w--100">
            <input class="g-input form__input" type="text" name="label" placeholder=" ">
            <label>Localizador de la reserva</label>
          </div>
          <p class="o-mb--3 o-mt--1 u-text-default--xsmall u-text--text-light">Lo encontrarás en tu tarjeta de embarque. Es un número de 4 cifras y 2 letras</p>
        </div>
        <div class="o-col-md-20 o-col-24">
          <button class="btn btn--primary u-w--100 btn--medium">Acceder ahora<i class="icon-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="o-col-md-12">
      <div class="u-d-none u-d-lg-block">
        <img class="u-w--100" src="../../../assets/img/banner-login-exp.png" alt="" />
      </div>
      <div class="u-d-lg-none">
        <img class="u-w--100" src="../../../assets/img/banner-login-exp-mb.png" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="u-bg--lighter">
  <div class="o-container o-pt--6">
    <div class="o-row u-align-items-center o-pt--2 o-pb--2 u-justify-content-center o-mb-lg--2">
      <div class="o-col-lg-24">
        <h2 class="u-sub-title u-text-lg-center o-mb--3">Descubre todo lo que vas a encontrar</h2>
      </div>
    </div>
    <div class="o-row u-justify-content-center o-pb-lg--8">
      <div class="o-col-lg-10 o-mb--3">
        <div class="u-d-flex u-justify-content-center u-align-items-start u-h--100 u-flex-column">
          <p class="u-text-default--large u-text-default--heavy o-mb--2">
            Internet a bordo disponible y whatsapp gratis
          </p>
          <p class="u-text-default--medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
      <div class="o-col-lg-12">
        <div class="text-image-block__image-container u-relative">
          <img src="../../../assets/img/cine-1.png" alt="" />
        </div>
      </div>
    </div>
    <div class="o-row u-justify-content-center u-flex-column-reverse u-flex-lg-row  o-mb-lg--8">
      <div class="o-col-lg-12">
        <div class="text-image-block__image-container u-relative">
          <img src="../../../assets/img/cine-1.png" alt="" />
        </div>
      </div>
      <div class="o-col-lg-10 o-mb--3">
        <div class="u-d-flex u-justify-content-center u-align-items-start u-h--100 u-flex-column">
          <p class="u-text-default--large u-text-default--heavy o-mb--2">
            Canjea tus cupopnes del Balearia Club a bordo
          </p>
          <p class="u-text-default--medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
    </div>
    <div class="o-row u-justify-content-center o-pb-lg--8">
      <div class="o-col-lg-10 o-mb--3">
        <div class="u-d-flex u-justify-content-center u-align-items-start u-h--100 u-flex-column">
          <p class="u-text-default--large u-text-default--heavy o-mb--2">
            Pide tu comida desde tu acomodación y evita colas
          </p>
          <p class="u-text-default--medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
      <div class="o-col-lg-12">
        <div class="text-image-block__image-container u-relative">
          <img src="../../../assets/img/cine-1.png" alt="" />
        </div>
      </div>
    </div>
    <div class="o-row u-justify-content-center u-flex-column-reverse u-flex-lg-row  o-mb-lg--8">
      <div class="o-col-lg-12">
        <div class="text-image-block__image-container u-relative">
          <img src="../../../assets/img/cine-1.png" alt="" />
        </div>
      </div>
      <div class="o-col-lg-10 o-mb--3">
        <div class="u-d-flex u-justify-content-center u-align-items-start u-h--100 u-flex-column">
          <p class="u-text-default--large u-text-default--heavy o-mb--2">
            Disfruta de nuestra selección de cine y series a bordo
          </p>
          <p class="u-text-default--medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
    </div>
    <div class="o-row u-justify-content-center o-pb-lg--8">
      <div class="o-col-lg-10 o-mb--3">
        <div class="u-d-flex u-justify-content-center u-align-items-start u-h--100 u-flex-column">
          <p class="u-text-default--large u-text-default--heavy o-mb--2">
            Entretenimento asegurado con nuestra selección de juegos
          </p>
          <p class="u-text-default--medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
      <div class="o-col-lg-12">
        <div class="text-image-block__image-container u-relative">
          <img src="../../../assets/img/cine-1.png" alt="" />
        </div>
      </div>
    </div>
    <div class="o-row u-justify-content-center u-flex-column-reverse u-flex-lg-row  o-mb-lg--8">
      <div class="o-col-lg-12">
        <div class="text-image-block__image-container u-relative">
          <img src="../../../assets/img/cine-1.png" alt="" />
        </div>
      </div>
      <div class="o-col-lg-10 o-mb--3">
        <div class="u-d-flex u-justify-content-center u-align-items-start u-h--100 u-flex-column">
          <p class="u-text-default--large u-text-default--heavy o-mb--2">
            Lee tranquilamente nuestra selección de revistas
          </p>
          <p class="u-text-default--medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
    </div>
    <div class="o-row u-justify-content-center o-pb-lg--8">
      <div class="o-col-lg-10 o-mb--3">
        <div class="u-d-flex u-justify-content-center u-align-items-start u-h--100 u-flex-column">
          <p class="u-text-default--large u-text-default--heavy o-mb--2">
            Mira tu mascota a través de su cámara
          </p>
          <p class="u-text-default--medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
      <div class="o-col-lg-12">
        <div class="text-image-block__image-container u-relative">
          <img src="../../../assets/img/cine-1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>