<div class="o-container g-search--full js-tabs-header">
  <div class="o-row u-justify-content-center">
    <div class="o-col-md-22">
      <!-- tab header -->
      <div class="g-tab">
        <button class="tablinks js-tabs__title">
          <span>Ferry</span>
          <span class="line"></span>
        </button>
        <button class="tablinks js-tabs__title">
          <span>Ferry + hotel</span>
          <span class="line"></span>
        </button>
        <button class="tablinks js-tabs__title">
          <span>Hotel</span>
          <span class="line"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="o-row u-justify-content-center">
    <div class="o-col-lg-22">
      <div class="js-tabs__content">
        <p>cont1</p>
      </div>
      <div class="js-tabs__content">
        <p>cont2</p>
      </div>
      <div class="js-tabs__content">
        <p>cont3</p>
      </div>
    </div>
  </div>
</div>
<div class="o-container o-mt--6">
  <div class="o-row u-justify-content-center">
    <div class="o-col-lg-22">
      <!-- tab header -->
      <div class="g-tab g-tab--transparent">
        <button class="tablinks">
          <span class="tablinks__title">Tab 1</span>
          <span class="line"></span>
        </button>
        <button class="tablinks">
          <span class="tablinks__title">Tab 2</span>
          <span class="line"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="o-row u-justify-content-center">
    <div class="o-col-lg-22">
      <div class="g-tab--tabcontent">
        <p>Contenido Tab 1</p>
      </div>
      <div class="g-tab--tabcontent">
        <p>Contenido Tab 2</p>
      </div>
    </div>
  </div>
</div>
