<div class="o-container">
  <div class="o-row">
    <div class="o-col-md-24 o-mb--2">
      <div class="title-icon u-d-flex u-align-items-center">
        <i class="icon-boat icon o-mr--3"></i>
        <h2 class="title">Selecciona ida</h2>
        <p class="text o-ml--3 u-d-flex u-align-items-center"><span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span></p>
      </div>
    </div>
  </div>

  <div class="o-row">
    <div class="o-col-md-24 o-mb--2">
      <div class="o-row u-align-items-center title-section--medium">
        <div class="o-col-md-17 u-d-flex">
          <div class="title-icon title-icon--medium u-d-flex u-align-items-center">
            <i class="icon-boat icon o-mr--3"></i>
            <div class="u-d-md-flex">
              <h2 class="title">Viaje de ida</h2>
              <p class="text o-ml-lg--3 u-d-flex u-align-items-center">
                <span>Barcelona</span><i class="icon-arrow-right text__icon"></i><span>Mallorca</span>
              </p>
            </div>
          </div>
        </div>
        <div class="o-col-md-7">
          <div class="u-d-none u-d-md-flex u-justify-content-center u-justify-content-lg-end">
            <div class="title-section--icon">
              <i class="icon-time"></i>
              <p>Duración del viaje 6 h 50 min</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>