<div class="stories-wrapper">
  <div class="o-container">
    <div class="o-row u-align-items-start o-mb--4">
      <div class="o-col-md-6">
        <div class="form__input-wrapper">
          <input class="g-input form__input" type="text" name="label" placeholder=" " />
          <label>Label</label>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="form__input-wrapper">
          <input class="g-input form__input" type="tel" pattern="[0-9]*" name="label" placeholder=" " required />
          <label>Label</label>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="form__input-wrapper">
          <input class="g-input form__input" type="tel" pattern="[0-9]*" name="label" placeholder=" " required />
          <label>Label</label>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="form__input-wrapper">
          <select class="form__select" id="extra" name="extra" required>
            <option value="" selected></option>
            <option value="tinted">Label</option>
            <option value="turbo">Label</option>
            <option value="speed">Label</option>
          </select>
          <label>Label</label>
        </div>
      </div>
    </div>
    <div class="o-row u-align-items-start o-mb--4">
      <div class="o-col-md-6">
        <div class="form__input-wrapper form__icon-right">
          <input class="g-input form__input" type="text" name="label" placeholder=" " />
          <label>Label</label>
          <i class="icon-user"></i>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="form__input-wrapper form__icon-left">
          <input class="g-input form__input" type="text" name="label" placeholder=" " />
          <label>Label</label>
          <i class="icon-user"></i>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="form__input-wrapper form__icon-left">
          <input class="g-input form__input" type="text" name="label" placeholder=" " />
          <label>Label</label>
          <i class="icon-user"></i>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="form__input-wrapper form__icon-left">
          <input class="g-input form__input" type="text" name="label" placeholder=" " />
          <label>Label</label>
          <i class="icon-user"></i>
        </div>
      </div>
    </div>
    <div class="o-row u-align-items-start o-mb--4">
      <div class="o-col-md-6">
        <div class="select-input">
          <select class="form__select" id="extra" name="extra" required>
            <option value="" selected>+31</option>
            <option value="tinted">+58</option>
            <option value="turbo">+51</option>
            <option value="speed">+56</option>
          </select>
          <div class="form__input-wrapper">
            <input class="g-input form__input" type="text" name="label" placeholder=" " />
            <label>Label</label>
          </div>
        </div>
      </div>
    </div>
    <div class="o-row u-align-items-start o-mb--4">
      <div class="o-col-md-6">
        <div class="g-search--item g-dropdown-click">
          <i class="icon icon-boat"></i>
          <div class="g-search--item__info u-text-cut u-w--100">
            <span class="label">Ruta</span>
            <input class="g-input--ligth" type="text" placeholder="Busca puerto, ciudad o país" />
          </div>
        </div>
      </div>
    </div>
    <div class="o-row u-align-items-start o-mb--4">
      <div class="o-col-md-24">
        <p class="u-text-default u-text-default--medium u-text--gray u-font-weight-semibold o-mb--1">
          Arrastra el documento aquí o
          <a href="#" class="form__input-file u-text--secondary"><input type="file" class="input" />Buscar</a>
        </p>
      </div>
    </div>
  </div>
</div>
