.section-fixed {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.09);
  position: sticky;
  display: none;
  top: 0;
  z-index: 2;
  @include mobile {
    height: 56px;
  }
  &__back {
    margin-right: 11px;
  }
  .g-tab--submenu {
    filter: none;
    @include mobile {
      height: auto;
    }
  }
}
