<section class="section-fixed u-bg--white">
  <div class="o-container u-d-flex u-align-items-center u-justify-content-md-between">
    <div class="u-d-flex u-align-items-center">
      <button class="btn btn--secondary btn--secondary__ghost btn--icon section-fixed__back">
        <i class="icon-arrow-left2"></i>
      </button>
      <p class="box-details__title u-d-none u-d-md-flex u-align-items-center">
        <span class="u-text--dark u-font-weight-semibold o-mr--1">Barcelona</span>
        <i class="icon-arrow-doble u-text--secondary icon o-mr--1"></i>
        <span class="u-font-weight-semibold">Valencia</span>
      </p>
    </div>
    <div class="js-tabs-submenu">
      <div class="g-tab g-tab--submenu">
        <div class="o-container">
          <button class="js-tabs-submenu__title tablinks">
            <span class="tablinks__title">Mejora tu viaje</span>
            <span class="line"></span>
          </button>
          <button class="js-tabs-submenu__title tablinks">
            <span class="tablinks__title">Detalles</span>
            <span class="line"></span>
          </button>
          <button class="js-tabs-submenu__title tablinks">
            <span class="tablinks__title">Guía de viaje</span>
            <span class="line"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
