<div class="o-container">
  <div class="o-row">
    <div class="o-col-md-6">
      <div class="g-message--border g-message--green o-mb--3">
        <i class="icon-user o-mr--1"></i>
        <div class="g-message--info">
          <p class="g-message--info__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p class="g-message--info__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <i class="g-message--arrow icon-arrow-right o-ml--1"></i>
      </div>
    </div>
  </div>
</div>