<div class="u-bg--lighter confirmation o-pb--12">
  <section class="g-header g-header--button g-header--button-lg g-header--button--not-back">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
      <div class="g-header__logo">
        <a href="javascript:void(0)" class="u-text--no-underline">
          <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
        </a>
      </div>
      <button class="btn btn--secondary g-header__btn">
        <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" class="mobile-none" />
        <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
      </button>
    </div>
  </section>
  <div class="o-container">
    <div class="o-row">
      <div class="o-col-md-24 margin-responsive">
        <div class="box banner-confirmation u-w--100 u-d-md-flex u-flex-wrap">
          <div class="banner-confirmation__img">
            <img src="../../../assets/img/phone.svg" alt="ilustration" class="img" />
          </div>
          <div class="banner-confirmation__box">
            <div class="u-d-lg-flex u-align-items-center u-justify-content-between">
              <div>
                <p class="u-text o-mb--1">¡Gracias Mariluz!</p>
                <h2 class="u-sub-title banner-confirmation__title">La pre-reserva está hecha!</h2>
              </div>
              <div>
                <div class="banner-confirmation__double-text u-d-flex u-align-items-center">
                  <div class="tag tag--green u-align-items-center o-mr--2">
                    <i class="icon-check tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                    >Confirmada
                  </div>
                  <h2 class="u-sub-title u-text--secondary">CQYP050</h2>
                </div>
                <p class="u-text o-mt--1 u-text-lg-right o-mr--2">1230UI8 | Mari Luz</p>
              </div>
            </div>
            <ul class="list list--check u-w--100">
              <li class="list__item">
                <p>
                  <span class="u-text--secondary u-font-weight-semibold o-pr--2"
                    >Tarjetas no enviadas aún al cliente</span
                  >
                </p>
              </li>
              <li class="list__item">Modifica tu reserva online cuando quieras</li>
            </ul>
            <div
              class="banner-confirmation__buttons u-d-flex u-align-items-center u-justify-content-end margin-responsive"
            >
              <button class="btn btn--primary btn--primary__border">Ver reserva</button>
              <button class="btn btn--primary" data-micromodal-trigger="modal-download-app3">
                Enviar tarjetas de embarque al cliente
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="o-col-md-24 margin-responsive">
        <div class="box box--header">
          <div class="box__header u-d-flex u-align-items-center u-justify-content-between u-border--bottom-gray">
            <h2 class="box__header-title u-text--gray u-text">Detalles del viaje</h2>
            <button class="btn btn--primary box__header-btn">Mejora tu experiencia</button>
          </div>
          <div class="o-pt--3 o-pb--3">
            <div class="box-travel o-pl--3 o-pr--3">
              <div class="o-row u-align-items-center u-justify-content-between">
                <div
                  class="o-col-md-16 o-col-lg-13 u-d-flex u-align-items-center u-justify-content-center u-justify-content-md-between u-flex-wrap u-flex-md-nowrap"
                >
                  <div
                    class="box-travel__details u-d-flex u-align-items-center u-w-mobile--100 u-justify-content-between"
                  >
                    <div class="u-d-flex u-align-items-center u-justify-content-md-between">
                      <i class="icon-boat o-mr--2 box-travel__icon"></i>
                      <div>
                        <p class="box-travel__text u-text--gray">Ida</p>
                        <p class="box-travel__text u-text--secondary">Sábado, 29 enero 2021</p>
                      </div>
                    </div>
                    <a href="#" class="g-link u-d-md-none">Ver detalle</a>
                  </div>
                  <div class="box-time u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100">
                    <div class="box-time__text">
                      <p class="large">13:30</p>
                      <p class="small">Barcelona</p>
                    </div>
                    <div class="box-time__line">
                      <i class="icon-time icon"></i>
                      <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                    </div>
                    <div class="box-time__text">
                      <p class="large">19:00</p>
                      <p class="small">Mallorca</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-3 u-d-none u-d-md-block">
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-seat o-mr--2 box-travel__icon"></i>
                    <div>
                      <p class="box-travel__text u-text--gray u-font-weight-semibold">Asiento</p>
                      <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">Butaca Sirena</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-3 u-d-none u-d-md-block">
                  <p class="box-travel__text u-text--gray u-font-weight-semibold">
                    Tarifa Básica <i class="icon-info tooltips u-text--secondary o-ml--1"></i>
                  </p>
                  <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">
                    <i class="icon-check u-text--secondary icon--check"></i> Un sólo cambio
                  </p>
                </div>
                <div class="o-col-md-4 u-d-none u-d-md-block">
                  <p class="box-travel__text u-text--gray u-font-weight-semibold">Barco</p>
                  <p class="box-travel__text u-text--secondary">Abel Matutes, Smart ship</p>
                </div>
              </div>
            </div>
            <div class="box-travel o-pl--3 o-pr--3">
              <div class="o-row u-align-items-center u-justify-content-between">
                <div
                  class="o-col-md-16 o-col-lg-13 u-d-flex u-align-items-center u-justify-content-center u-justify-content-md-between u-flex-wrap u-flex-md-nowrap"
                >
                  <div
                    class="box-travel__details u-d-flex u-align-items-center u-w-mobile--100 u-justify-content-between"
                  >
                    <div class="u-d-flex u-align-items-center u-justify-content-md-between">
                      <i class="icon-boat o-mr--2 box-travel__icon"></i>
                      <div>
                        <p class="box-travel__text u-text--gray">Ida</p>
                        <p class="box-travel__text u-text--secondary">Sábado, 29 enero 2021</p>
                      </div>
                    </div>

                    <a href="#" class="g-link u-d-md-none">Ver detalle</a>
                  </div>
                  <div class="box-time u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100">
                    <div class="box-time__text">
                      <p class="large">13:30</p>
                      <p class="small">Barcelona</p>
                    </div>
                    <div class="box-time__line">
                      <i class="icon-time icon"></i>
                      <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                    </div>
                    <div class="box-time__text">
                      <p class="large">19:00</p>
                      <p class="small">Mallorca</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-3 u-d-none u-d-md-block">
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-seat o-mr--2 box-travel__icon"></i>
                    <div>
                      <p class="box-travel__text u-text--gray u-font-weight-semibold">Asiento</p>
                      <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">Butaca Sirena</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-3 u-d-none u-d-md-block">
                  <p class="box-travel__text u-text--gray u-font-weight-semibold">
                    Tarifa Básica <i class="icon-info tooltips u-text--secondary o-ml--1"></i>
                  </p>
                  <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">
                    <i class="icon-check u-text--secondary icon--check"></i> Un sólo cambio
                  </p>
                </div>
                <div class="o-col-md-4 u-d-none u-d-md-block">
                  <p class="box-travel__text u-text--gray u-font-weight-semibold">Barco</p>
                  <p class="box-travel__text u-text--secondary">Abel Matutes, Smart ship</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="o-col-md-24 margin-responsive">
        <div class="box no-padding">
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-user no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <span>Pasajeros</span>
                  <p class="text--small u-text--text-light o-mr--2">3 adultos, 1 niño y 1 bebé</p>
                </div>
              </div>
              <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="table-responsive">
                <div class="table-responsive__body">
                  <div class="table-responsive__row u-border--bottom-gray o-pb--1">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                      <p class="u-text--gray-light">Titular de la reserva</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 41536698W</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 2024
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> España</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 1989
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Hombre</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 41536698W</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 2024
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> España</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 1989
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Hombre</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 41536698W</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 2024
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> España</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 1989
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Hombre</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 41536698W</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 2024
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> España</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 1989
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Hombre</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-pet no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <span>Mascotas</span>
                  <p class="text--small u-text--text-light o-mr--2">2 mascotas</p>
                </div>
              </div>
              <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="g-dropdown-basic--bkg">
                <div class="table-responsive u-d-block">
                  <div class="table-responsive__body">
                    <div class="table-responsive__row">
                      <div class="table-responsive__cell first">
                        <p class="text-bold">Luna</p>
                      </div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> Perro grande
                      </div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> Butaca Petfriendly
                      </div>
                    </div>
                    <div class="table-responsive__row">
                      <div class="table-responsive__cell first">
                        <p class="text-bold">Sol</p>
                      </div>
                      <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> Habitáculo para mascotas
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-car no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <span>Vehículos</span>
                  <p class="text--small u-text--text-light o-mr--2">1 vehículo, 1 equipaje</p>
                </div>
              </div>
              <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="g-dropdown-basic--bkg">
                <div class="table-responsive u-d-block">
                  <div class="table-responsive__body">
                    <div class="table-responsive__row">
                      <div class="table-responsive__cell first">
                        <p class="text-bold">Coche o furgoneta</p>
                      </div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> Dacia Sandero
                      </div>
                      <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 2167JGT</div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> 2 metros de altura
                      </div>
                    </div>
                    <div class="table-responsive__row">
                      <div class="table-responsive__cell first">
                        <p class="text-bold">Canoa</p>
                      </div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> 1 unidad
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-meal no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <span>Sin comida a bordo</span>
                  <p class="text--small u-text--text-light o-mr--2">Reserva tu comida ahora y ahorra hasta un 20%</p>
                </div>
              </div>
              <a class="btn btn--primary btn--small u-text-nowrap">Añadir comida</a>
            </button>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-insurance-ok no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <span>Sin seguro añadido</span>
                  <p class="text--small u-text--text-light o-mr--2">Ahórrate disgustos y gana tranquilidad 20%</p>
                </div>
              </div>
              <a class="btn btn--primary btn--small u-text-nowrap">Añadir seguro</a>
            </button>
          </div>
        </div>
      </div>
      <div class="o-col-md-24">
        <div class="box no-radius">
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table dropdown-collapse-table--edit u-w--100 g-dropdown-divider"
          >
            <div class="dropdown-collapse__header u-w--100">
              <button class="g-dropdown-basic--btn u-text u-d-flex u-align-items-center u-justify-content-between">
                <div class="u-d-flex u-align-items-center">
                  <i class="icon-user no-rotate o-mr--2"></i>
                  Datos de contacto
                </div>
                <div class="details">
                  <p class="details-text text--small u-text--text-light o-mb--2">
                    Si surge algun problema o cambio te informaremos a través de estos canales de contacto
                  </p>
                  <div class="u-d-flex u-align-items-center">
                    <p class="details-text text--small u-text--text-gray o-mr--2 u-d-flex u-align-items-center">
                      <i class="icon-mail no-rotate o-mr--1"></i>marco@gmail.com
                    </p>
                    <p class="details-text text--small u-text--text-gray u-d-flex u-align-items-center">
                      <i class="icon-calling no-rotate o-mr--1"></i>marco@gmail.com
                    </p>
                  </div>
                </div>
                <div class="u-w-tablet--100 u-d-flex u-align-items-center u-justify-content-end">
                  <a
                    class="btn btn--secondary btn--secondary__ghost btn--small"
                    data-micromodal-trigger="modal-gestion-anulacion"
                    >Modificar</a
                  >
                </div>
              </button>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table dropdown-collapse-table--edit u-w--100"
          >
            <div class="dropdown-collapse__header u-w--100">
              <button class="g-dropdown-basic--btn u-text u-d-flex u-align-items-center u-justify-content-between">
                <div class="u-d-flex u-align-items-center">
                  <i class="icon-credit-card no-rotate o-mr--2"></i>Datos de pago
                </div>
                <div class="details">
                  <div class="tag tag--red u-align-items-center">
                    <i class="icon-info tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>¡Los
                    Pendiente de pago
                  </div>
                </div>
                <div class="u-d-lg-none u-w--100 u-d-flex u-align-items-center u-justify-content-end">
                  <a class="btn btn--secondary btn--secondary__ghost btn--small">Modificar</a>
                </div>
                <div class="summary u-d-flex u-align-items-center u-justify-content-between u-justify-content-lg-end">
                  <p class="u-text--secondary price">87,70 €</p>
                  <a
                    class="btn btn--secondary btn--secondary__ghost btn--small text"
                    data-micromodal-trigger="modal-desglose-precio"
                    >Ver desglose</a
                  >
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="footer-small">
  <div class="o-container">
    <button class="btn btn--secondary floating-btn">
      <i class="icon-chat icon"></i>
      Ayuda
    </button>
    <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
      <div class="footer-small__info">
        <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
      </div>
      <div class="footer-small__links">
        <a href="" class="footer-small__link">Política de cookies</a>
        <a href="" class="footer-small__link">Política de privacidad</a>
        <a href="" class="footer-small__link">Condiciones de uso</a>
      </div>
    </div>
  </div>
</section>

<!-- Modals -->

<!-- Actualizar correo -->
<div class="modal micromodal-slide" id="modal-update-email" aria-hidden="true">
  <div class="g-modal--info-xsmall g-modal--code modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Actualizar correo electrónico</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-p--3">
        <div class="o-row">
          <div class="o-col-md-24">
            <p class="g-modal--medium__txt o-mb--2">
              Actualiza tu correo electrónico y te volveremos a enviar la confirmación
            </p>
            <div class="form__input-wrapper o-mb--5">
              <input class="g-input form__input" type="text" name="label" placeholder=" " />
              <label>Matrícula</label>
            </div>
            <button class="btn btn--primary u-w--100">Reenviar confirmación</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Descargar tarjetas de embarque -->
<div class="modal micromodal-slide" id="modal-download-app3" aria-hidden="true">
  <div class="g-modal--medium g-modal--code modal__overlay g-modal--size" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Descarga tus tarjetas de embarque</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-pt--2 o-pb--2 o-pr--3 o-pl--3">
        <div class="o-row">
          <div class="o-col-md-24 o-mb--3">
            <div class="u-box-border u-box-border--light u-align-items-center u-d-flex u-justify-content-between">
              <p>Tarjetas de embarque </p>
              <div class="tag tag--red u-align-items-center o-mr--1">
                <i class="icon-send tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                >Pendientes de enviar
              </div>
            </div>
          </div>
          <div class="o-col-md-24 o-mb--3">
            <div class="u-box-border u-box-border--light">
              <div class="o-row u-justify-content-between">
                <div class="o-col-md-24 u-d-flex u-justify-content-start o-mb--3 margin-mobile">
                  <div class="tag tag--green u-align-items-center o-mr--1">
                    <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                    >Recomendada
                  </div>
                </div>
                <div class="o-col-md-24">
                  <div class="u-d-flex u-flex-wrap u-flex-md-nowrap">
                    <i class="icon-mobile icon--large o-mr--2 margin-mobile"></i>
                    <div class="u-w-mobile--100">
                      <p class="text-3 o-mb--1">Envia las tarjetas de embarque al cliente</p>
                      <p class="g-modal--medium__txt o-mb--3">
                        No enviamos las tarjetas al cliente hasta que tu no lo decidas
                      </p>
                      <div class="u-d-flex u-align-items-center">
                        <label class="control control--checkbox o-mr--2"
                          >Por Mail
                          <input type="checkbox" />
                          <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox"
                          >Por Whatsapp
                          <input type="checkbox" />
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                      <button
                        class="btn btn--primary btn--medium u-w-mobile--100 o-mt--3"
                        data-micromodal-close
                        data-micromodal-trigger="modal-download-app"
                      >
                        Enviar tarjetas de embarque<i class="icon-send"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="o-col-md-24 o-mb--3">
            <div class="u-d-flex u-align-items-center u-justify-content-between">
              <p>O si lo prefieres</p>
              <a class="u-d-flex u-align-items-center g-link g-link--yellow" href="">
                <i class="icon-doc o-mr--1"></i>
                <span>Descargar en PDF</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Descargar app -->
<div class="modal micromodal-slide" id="modal-download-app" aria-hidden="true">
  <div class="g-modal--medium modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Descarga la app gratis</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-pt--2 o-pb--2 o-pr--3 o-pl--3">
        <div class="o-row u-justify-content-between">
          <div class="o-col-md-24 margin-responsive">
            <p class="g-modal--medium__txt o-mb--2">
              Con nuestra App gratis no necesitas ni datos, ni Wifi ni impresora para tener tus tarjetas de embarque.
            </p>
            <p class="g-modal--medium__txt o-mb--3">
              Te enviaremos un SMS con un enlace para descargarte la app gratis.
            </p>
            <div class="o-row">
              <div class="o-col-md-12 o-mb--3">
                <div class="select-input">
                  <select class="form__select" id="extra" name="extra" required="">
                    <option value="" selected="">+31</option>
                    <option value="tinted">+58</option>
                    <option value="turbo">+51</option>
                    <option value="speed">+56</option>
                  </select>
                  <div class="form__input-wrapper u-w--100">
                    <input class="g-input form__input" type="text" name="label" placeholder=" " />
                    <label>Label</label>
                  </div>
                </div>
              </div>
              <div class="o-col-md-12 o-mb--3">
                <button
                  class="btn btn--primary btn--medium u-w--100"
                  data-micromodal-close
                  data-micromodal-trigger="modal-download-app-ok"
                >
                  Enviadme el enlace al móvil <i class="icon-mobile"></i>
                </button>
              </div>
            </div>
            <p class="g-modal--medium__txt">
              Si nos indicas tu número, quiere decir que aceptas recibir un SMS automático con el enlace para
              descargarte la app.
            </p>
          </div>
          <div class="o-col-md-24">
            <div class="u-d-flex u-align-items-center u-justify-content-between u-flex-wrap u-border--top-gray o-pt--3">
              <p class="g-modal--medium__txt u-d-flex u-align-items-center u-w-mobile--100 margin-mobile">
                <i class="icon-mobile icon--medium o-mr--2"></i>Si lo prefieres, escanea el QR con tu móvil para
                descargar la App
              </p>
              <div class="u-d-flex u-justify-content-center u-w-mobile--100">
                <img src="../../../assets/img/qr.svg" alt="qr" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Descargar app ok -->
<div class="modal micromodal-slide" id="modal-download-app-ok" aria-hidden="true">
  <div class="g-modal--medium g-modal--code modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Date de alta para recibir facturas</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-p--3">
        <div class="o-row">
          <div class="o-col-md-24 u-d-flex u-align-items-center u-justify-content-center u-flex-column o-pt--5">
            <img src="../../../assets/img/success.svg" alt="success" />
            <h2 class="text-3 o-mb--2">¡Ya te hemos enviado el SMS!</h2>
            <p class="g-modal--medium__txt o-mb--5">
              Te enviaremos las tarjetas all <span class="u-font-weight-semibold">+34 675435623</span>
            </p>
            <button class="btn btn--primary u-w-mobile--100 o-mb--3">Entendido</button>
            <p class="g-modal--medium__txt">¡No has recibido el SMS? <a href="#" class="g-link">Reenviar</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Modificar reserva -->
<div class="modal micromodal-slide" id="modal-gestion-anulacion" aria-hidden="true">
  <div class="g-modal--medium g-modal--size modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Gestiona tu reserva</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-pt--2 o-pb--2 o-pl--3 o-pr--3">
        <div class="o-row">
          <div class="o-col-md-24 o-mb--2">
            <p class="u-text-default u-text-default--small u-text--text-light u-d-flex u-align-items-center">
              <span class="u-font-weight-semibold o-mr--1">Tarifa Flexible:</span> Dispones de 1 cambio y no permite
              anulación <i class="icon-info tooltips u-text--secondary o-ml--1"></i>
            </p>
          </div>
          <div class="o-col-md-24 o-mb--2">
            <a
              href="#"
              class="u-box-border u-box-border--gray2 u-text--no-underline u-d-flex u-align-items-center u-justify-content-between"
            >
              <div class="u-d-flex u-align-items-center">
                <i class="icon-mail o-mr--2 u-text--fz-24 u-text--gray"></i>
                <div>
                  <p class="u-text-default u-text-default--medium u-font-weight-semibold u-text--gray">
                    Datos de contacto
                  </p>
                  <p class="u-text-default u-text-default--xsmall u-text--text-light">Modifica tus datos de contacto</p>
                </div>
              </div>
              <i class="icon-arrow-right2 u-text--secondary u-text--fz-24"></i>
            </a>
          </div>
          <div class="o-col-md-24 o-mb--2">
            <a
              href="#"
              class="u-box-border u-box-border--gray2 u-text--no-underline u-d-flex u-align-items-center u-justify-content-between"
            >
              <div class="u-d-flex u-align-items-center">
                <i class="icon-boat o-mr--2 u-text--fz-24 u-text--gray"></i>
                <div>
                  <p class="u-text-default u-text-default--medium u-font-weight-semibold u-text--gray">
                    Cambios en mi viaje
                  </p>
                  <p class="u-text-default u-text-default--xsmall u-text--text-light">
                    Cambia de fechas, de ruta, de hora...
                  </p>
                </div>
              </div>
              <i class="icon-arrow-right2 u-text--secondary u-text--fz-24"></i>
            </a>
          </div>
          <div class="o-col-md-24 o-mb--2">
            <a
              href="#"
              class="u-box-border u-box-border--gray2 u-text--no-underline u-d-flex u-align-items-center u-justify-content-between"
            >
              <div class="u-d-flex u-align-items-center">
                <i class="icon-boat o-mr--2 u-text--fz-24 u-text--gray"></i>
                <div>
                  <p class="u-text-default u-text-default--medium u-font-weight-semibold u-text--gray">
                    Gestionar pasajeros
                  </p>
                  <p class="u-text-default u-text-default--xsmall u-text--text-light">
                    Cambia su acomodación o añade más mascotas
                  </p>
                </div>
              </div>
              <i class="icon-arrow-right2 u-text--secondary u-text--fz-24"></i>
            </a>
          </div>
          <div class="o-col-md-24 o-mb--2">
            <a
              href="#"
              class="u-box-border u-box-border--gray2 u-text--no-underline u-d-flex u-align-items-center u-justify-content-between"
            >
              <div class="u-d-flex u-align-items-center">
                <i class="icon-pet o-mr--2 u-text--fz-24 u-text--gray"></i>
                <div>
                  <p class="u-text-default u-text-default--medium u-font-weight-semibold u-text--gray">
                    Gestionar mascotas
                  </p>
                  <p class="u-text-default u-text-default--xsmall u-text--text-light">
                    Cambia su acomodación o añade más mascotas
                  </p>
                </div>
              </div>
              <i class="icon-arrow-right2 u-text--secondary u-text--fz-24"></i>
            </a>
          </div>
          <div class="o-col-md-24 o-mb--2">
            <a
              href="#"
              class="u-box-border u-box-border--gray2 u-text--no-underline u-d-flex u-align-items-center u-justify-content-between"
            >
              <div class="u-d-flex u-align-items-center">
                <i class="icon-car o-mr--2 u-text--fz-24 u-text--gray"></i>
                <div>
                  <p class="u-text-default u-text-default--medium u-font-weight-semibold u-text--gray">
                    Gestionar vehículo
                  </p>
                  <p class="u-text-default u-text-default--xsmall u-text--text-light">
                    Marca y modelo, matrícula, anular vehículo...
                  </p>
                </div>
              </div>
              <i class="icon-arrow-right2 u-text--secondary u-text--fz-24"></i>
            </a>
          </div>
          <div class="o-col-md-24 o-mb--2">
            <a
              href="#"
              class="u-box-border u-box-border--gray2 u-text--no-underline u-d-flex u-align-items-center u-justify-content-between"
            >
              <div class="u-d-flex u-align-items-center">
                <i class="icon-file o-mr--2 u-text--fz-24 u-text--gray"></i>
                <div>
                  <p class="u-text-default u-text-default--medium u-font-weight-semibold u-text--gray">
                    Gestionar servicios extra
                  </p>
                  <p class="u-text-default u-text-default--xsmall u-text--text-light">
                    Modifica tus servicios extra como comida, bono wifi, parking...
                  </p>
                </div>
              </div>
              <i class="icon-arrow-right2 u-text--secondary u-text--fz-24"></i>
            </a>
          </div>
          <div class="o-col-md-24">
            <a
              href="#"
              class="u-box-border u-border--error u-bg--error u-text--no-underline u-d-flex u-align-items-center u-justify-content-between"
            >
              <div class="u-d-flex u-align-items-center">
                <i class="icon-file o-mr--2 u-text--fz-32 u-text--red"></i>
                <div>
                  <p class="u-text-default u-text-default--medium u-font-weight-semibold u-text--gray">Anulaciones</p>
                  <p class="u-text-default u-text-default--xsmall u-text--text-light">
                    Anula todo el viaje o sólo el de pasajeros individuales
                  </p>
                </div>
              </div>
              <i class="icon-arrow-right2 u-text--red u-text--fz-24"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal ver desglose -->
<div class="modal micromodal-slide" id="modal-desglose-precio" aria-hidden="true">
  <div
    class="g-modal--info g-modal--side g-modal--size g-modal--info-small modal__overlay"
    tabindex="-1"
    data-micromodal-close
  >
    <div
      class="modal__container modal__container--small"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <div class="g-modal--info__header">
        <div class="u-d-flex u-align-items-center">
          <h3 class="title">Desglose de tu reserva</h3>
        </div>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-p--3">
        <div class="section__fixed-static" data-element="checkout-summary">
          <div class="g-dropdown-basic dropdown-list g-dropdown-basic--details u-w--100">
            <div class="g-dropdown-basic--content">
              <div class="g-dropdown-basic--bkg">
                <div class="g-dropdown__content">
                  <div class="u-d-flex">
                    <i class="icon-arrow-right icon-green"></i>
                    <div class="information u-w--100">
                      <p class="title--small o-mb--2">Viaje de ida</p>
                      <h2 class="title">Barcelona a Mallorca</h2>
                      <p class="text">15 diciembre 2021 a las 13:00. llegada 10:00</p>
                      <p class="text">4 pasajeros en Butaca Sirena</p>
                      <div
                        class="details__wrapper js-details u-align-items-center u-justify-content-between o-mt--2 o-mb--2"
                      >
                        <div class="u-d-flex u-justify-content-between u-border--top-gray o-pt--2">
                          <button class="details__btn js-details-out-btn">
                            <p>Precio total ida</p>
                            <i class="icon-arrow-down o-ml--1"></i>
                          </button>
                          <p>60,00 €</p>
                        </div>
                        <ul class="details__list js-details-list">
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Adultos</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Niños</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Bebés</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Coche o furgoneta</p>
                            <p class="details__list-text u-font-weight-semibold">1 x 10,00 €</p>
                          </li>
                        </ul>
                        <ul class="details__list js-details-list">
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Seguro de viaje</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Menú desayuno</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="u-d-flex u-border--top-gray o-pt--2">
                    <i class="icon-arrow-left icon-green"></i>
                    <div class="information u-w--100">
                      <p class="title--small o-mb--2">Viaje de vuelta</p>
                      <h2 class="title">Barcelona a Mallorca</h2>
                      <div
                        class="details__wrapper js-details u-align-items-center u-justify-content-between u-border--top-gray o-mt--2 o-pt--2 o-pb--2"
                      >
                        <div class="u-d-flex u-justify-content-between">
                          <button class="details__btn js-details-in-btn">
                            <p>Precio total ida</p>
                            <i class="icon-arrow-down o-ml--1"></i>
                          </button>
                          <p>60,00 €</p>
                        </div>
                        <ul class="details__list js-details-list">
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Adultos</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Niños</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Bebés</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Coche o furgoneta</p>
                            <p class="details__list-text u-font-weight-semibold">1 x 10,00 €</p>
                          </li>
                        </ul>
                        <ul class="details__list js-details-list">
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Seguro de viaje</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text">Menú desayuno</p>
                            <p class="details__list-text u-font-weight-semibold">2 x 10,00 €</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="details__wrapper js-details g-hidden" data-element="promo-code-success">
                    <div class="u-d-flex u-justify-content-between u-border--top-gray o-pt--2 o-pb--2">
                      <button class="details__btn js-details-code-btn">
                        <i class="icon-discount o-mr--1"></i>
                        <p>Descuento</p>
                        <i class="icon-arrow-down o-ml--1"></i>
                      </button>
                      <p>-25,00 €</p>
                    </div>
                    <div class="details__list js-details-list">
                      <div class="u-d-flex u-border--top-gray o-pt--2 o-pb--2">
                        <i class="icon-ticket icon-green"></i>
                        <div class="information u-w--100">
                          <h3 class="details__discount-title text" data-text="promo-code"></h3>
                          <p class="details__discount-text text">El descuento se aplica en el paso de pago</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="details__footer u-d-flex u-justify-content-between u-border--top-gray o-pt--4 u-align-items-center"
                  >
                    <div>
                      <p class="title--small" data-text="checokut-sumary-total">Total</p>
                    </div>
                    <p class="title" data-text="checkout-summary-final-price"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>