
<section class="section__fixed-wrapper u-bg--lighter">
  <!-- Header -->
  <div class="g-nav-sticky">
    <div class="g-header g-header--button">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
        <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
          <i class="icon-arrow-left2 back o-mr--1"></i>
          <p class="title">Volver a mi reserva</p>
        </div>
        <div class="g-header__logo mobile-none">
          <a class="u-text--no-underline">
            <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
          </a>
        </div>
        <a href="" class="g-header__text u-d-flex u-align-items-center mobile-none g-link">
          <i class="icon-arrow-left back o-mr--1"></i>
          <p>Volver a mi reserva</p>
        </a>
        <button class="btn btn--secondary g-header__btn">
          <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo.svg" alt="" class="mobile-none g-header__btn--logo" />
          <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
        </button>
      </div>
    </div>
    <div class="u-bg--primary">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100 o-p--2">
        <p class="u-font-weight-semibold u-text--white g-font--montserrat">Check-in online</p>
      </div>
    </div>
  </div>
  <div class="o-container">
    <div class="o-row o-pt--3 o-pt-lg--8 o-pb--2 o-mb-lg--2">
      <div class="o-col-lg-16 o-mb--3">
        <div class="o-mb--5">
          <h3 class="g-font--montserrat u-font-weight-semibold u-text-default--large o-mb--2">Trayectos disponibles para check-in</h3>
          <div class="box active box--medium-padding slider--small o-mb--3">
            <div class="u-d-md-flex u-justify-content-between">
              <div>
                <div class="o-mb-lg--4 o-mb--1">
                  <div class="u-d-flex u-align-items-center o-mb--1">
                    <span class="u-font-weight-semibold o-mr--1 u-text-default--large">Barcelona</span>
                    <i class="icon-arrow-doble u-text--secondary o-mr--1"></i>
                    <span class="u-font-weight-semibold o-mr--1 u-text-default--large">Alcúdia</span>
                  </div>
                  <div class="u-text--text-light u-d-md-flex u-align-items-center">
                    <span>22 enero 2022 · 13.00h -</span>
                    <div class="o-ml-lg--1">
                      <i class="icon-seat"></i>
                      <span>Butaca Sirena</span>
                    </div>
                  </div>
                </div>
                <ul class="card-product__list u-d-flex o-mb--2 o-mb-lg--0">
                  <li class="card-product__list-item u-text--text-light">4 pasajeros | 2 mascotas | 1 vehículo</li>
                </ul>
              </div>
              <div class="u-d-flex u-align-items-start u-align-items-md-end u-flex-column">
                <div class="tag tag--green3 u-align-items-center o-mb--1">
                  <i class="icon-boat tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Check-in abierto
                </div>
                <p class="u-text--text-light">El check-in se cierra en 6h y 53 min</p>
              </div>
            </div>
          </div>
        </div>
        <div class="o-mb--5">
          <h3 class="g-font--montserrat u-font-weight-semibold u-text-default--large o-mb--2">Trayectos no disponibles para check-in</h3>
          <div class="box box--medium-padding slider--small o-mb--3">
            <div class="u-d-md-flex u-justify-content-between">
              <div>
                <div class="o-mb-lg--4 o-mb--1">
                  <div class="u-d-flex u-align-items-center o-mb--1">
                    <span class="u-font-weight-semibold o-mr--1 u-text-default--large">Barcelona</span>
                    <i class="icon-arrow-doble u-text--secondary o-mr--1"></i>
                    <span class="u-font-weight-semibold o-mr--1 u-text-default--large">Alcúdia</span>
                  </div>
                  <div class="u-text--text-light u-d-md-flex u-align-items-center">
                    <span>22 enero 2022 · 13.00h -</span>
                    <div class="o-ml-lg--1">
                      <i class="icon-seat"></i>
                      <span>Butaca Sirena</span>
                    </div>
                  </div>
                </div>
                <ul class="card-product__list u-d-flex o-mb--2 o-mb-lg--0">
                  <li class="card-product__list-item u-text--text-light">4 pasajeros | 2 mascotas | 1 vehículo</li>
                </ul>
              </div>
              <div class="u-d-flex u-align-items-start u-align-items-md-end u-flex-column">
                <div class="tag tag--gray2 u-align-items-center o-mb--1">
                  <i class="icon-time tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Check-in no disponible
                </div>
                <p class="u-text--text-light">Lo podrás realizar el 20 de Enero</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="o-col-lg-7 o-mb--3">
        <div class="box o-p--3 o-mb--3">
          <i class="icon-seat u-text--secondary u-text-default--xxlarge"></i>
          <p class="u-text-default--medium u-font-weight-semibold o-mb--2">Elige tus asientos y consigue tus tarjetas de embarque 100% online</p>
          <button class="btn btn--primary u-w--100 o-mt--2 btn--medium">Hacer Check-in ida</button>
        </div>
        <div class="box o-p--0">
          <div class="u-text-default--large o-pl--3 o-pr--3 o-pb--2 o-pt--2 u-border--bottom-gray">
            <p class="u-font-weight-semibold">¿Cómo funciona?</p>
          </div>
          <div class="o-p--3">
            <div class="u-d-flex u-align-items-center o-mb--2">
              <i class="u-text--fz-22 icon-seat o-mr--1"></i>
              <span>Elige tu asiento sobre el plano</span>
            </div>
            <div class="u-d-flex u-align-items-center o-mb--2">
              <i class="u-text--fz-22 icon-game o-mr--1"></i>
              <span>Mejora tu viaje añadiento extras</span>
            </div>
            <div class="u-d-flex u-align-items-center o-mb--2">
              <i class="u-text--fz-22 icon-qr o-mr--1"></i>
              <span>Obtén tus tarjetas de embarque</span>
            </div>
            <div class="u-d-flex u-align-items-center">
              <a class="g-link g-link--small" data-micromodal-trigger="modal-check-in">Saber más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-small">
  <div class="o-container">
    <button class="btn btn--secondary floating-btn">
      <i class="icon-chat icon"></i>
      Ayuda
    </button>
    <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
      <div class="footer-small__info">
        <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
      </div>
      <div class="footer-small__links">
        <a href="" class="footer-small__link">Política de cookies</a>
        <a href="" class="footer-small__link">Política de privacidad</a>
        <a href="" class="footer-small__link">Condiciones de uso</a>
      </div>
    </div>
  </div>
</section>

<div class="modal micromodal-slide" id="modal-check-in" aria-hidden="true">
  <div class="g-modal--medium modal__overlay g-modal--full-mobile" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Cómo funciona el nuevo check-in online</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-p--3">
        <div class="o-row u-justify-content-between">
          <div class="o-col-md-12 o-mb--2">
            <div class="u-d-flex u-align-items-start o-mb--3">
              <i class="icon-seat u-text--fz-24 o-mr--1"></i>
              <div>
                <p class="u-text-default u-text-default--medium u-text--gray u-font-weight-semibold o-mb--1">
                  Elige tu asiento sobre el plano
                </p>
                <p class="u-text-default u-text-default--medium u-text--gray">
                  Elige el lugar más cómodo para todos los pasajeros
                </p>
              </div>
            </div>
            <div class="u-d-flex u-align-items-start o-mb--3">
              <i class="icon-game u-text--fz-24 o-mr--1"></i>
              <div>
                <p class="u-text-default u-text-default--medium u-text--gray u-font-weight-semibold o-mb--1">
                  Mejora tu viaje añadiento extras
                </p>
                <p class="u-text-default u-text-default--medium u-text--gray">
                  Disfruta de wi-fi a bordo y de los Bonos Restaurante disponibles
                </p>
              </div>
            </div>
            <div class="u-d-flex u-align-items-start o-mb--3">
              <i class="icon-qr u-text--fz-24 o-mr--1"></i>
              <div>
                <p class="u-text-default u-text-default--medium u-text--gray u-font-weight-semibold o-mb--1">
                  Obtén tus tarjetas de embarque
                </p>
                <p class="u-text-default u-text-default--medium u-text--gray">
                  Descarga y comparte tus tarjetas que podrás recuperar en cualquier momento
                </p>
              </div>
            </div>               
          </div>
          <div class="o-col-md-12 o-mb--2">
            <img class="u-w--100" src="../../../assets/img/frame.png" alt="">
          </div>
          <div class="o-col-md-24">
            <p class="u-text-default u-text-default--medium u-text--gray u-font-weight-semibold o-mb--1">
              ¿Por qué hacer el check-in online?
            </p>
            <p class="u-text-default u-text-default--medium u-text--gray">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>