<div class="o-container">
  <div class="o-row">
    <div class="o-col-md-20 o-mb--2">
      <div class="g-card-landscape-bond">
        <div class="o-row u-align-items-md-center u-align-items-top o-p--2">
          <div class="o-col-10 o-col-md-1">
            <i class="g-card-landscape-bond--icon icon-activity"></i>
          </div>
          <div class="o-col-14 u-d-md-none u-text-right">
            <div class="tag tag--green u-align-items-center">
              <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Recomendada
            </div>
          </div>
          <div class="o-col-md-10 o-col-lg-13">
            <p class="g-card-landscape-bond--title">Bono restaurante mediano</p>
            <div class="u-d-flex u-align-items-center">
              <p class="g-card-landscape-bond--text">55 € para gastar a bordo</p>
              <div class="u-d-none u-d-md-flex">
                <div class="tag tag--green u-align-items-center o-ml--2">
                  <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Recomendada
                </div>
              </div>
            </div>
          </div>
          <div class="o-col-md-13 o-col-lg-10">
            <div class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end">
              <div class="u-d-flex u-align-items-center">
                <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                <p class="g-card-landscape-bond__price-2 o-mr--1">por bono</p>
                <p class="g-card-landscape-bond__price-3 o-mr-lg--3">10%</p>
              </div>
              <button class="btn btn--primary btn--primary__border btn--medium g-card-landscape-bond--add">
                Añadir +
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-col-md-20 o-mb--2">
      <div class="g-card-landscape-bond">
        <div class="o-row u-align-items-center o-p--2">
          <div class="o-col-md-1">
            <i class="g-card-landscape-bond--icon icon-activity"></i>
          </div>
          <div class="o-col-md-10 o-col-lg-13">
            <p class="g-card-landscape-bond--title">Tarifa Plus</p>
            <p class="g-card-landscape-bond--text">
              Cambios i anulaciones ilimitados sin necesidad de avisar con tiempo
            </p>
          </div>
          <div class="o-col-md-13 o-col-lg-10">
            <div class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end">
              <p class="box-radio__text-bold o-mr-lg--3">+7,00€</p>
              <button class="btn btn--primary btn--primary__border btn--medium g-card-landscape-bond--add">
                Añadir +
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-col-md-20 o-mb--2">
      <div class="g-card-landscape-bond active">
        <div class="o-row u-align-items-center o-p--2">
          <div class="o-col-md-1">
            <i class="g-card-landscape-bond--icon icon-activity"></i>
          </div>
          <div class="o-col-md-10 o-col-lg-13">
            <p class="g-card-landscape-bond--title">Tarifa Plus</p>
            <p class="g-card-landscape-bond--text">
              Hasta dos cambios y anulaciones gratis si lo haces 7 días antes
            </p>
          </div>
          <div class="o-col-md-13 o-col-lg-10">
            <div class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end">
              <p class="box-radio__text-bold o-mr-lg--3">+7,00€</p>
              <div class="g-card-landscape-bond--added">
                <button class="btn btn--secondary btn--secondary__ghost btn--medium o-mr--1">Eliminar</button>
                <div class="box-selected box-selected--small u-d-flex u-align-items-center">
                  <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                  <p class="box-selected__title">Añadido</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-col-md-20 o-mb--2">
      <div class="g-card-landscape-bond active">
        <div class="o-row u-align-items-center o-p--2">
          <div class="o-col-md-1">
            <i class="g-card-landscape-bond--icon icon-activity"></i>
          </div>
          <div class="o-col-md-10 o-col-lg-13">
            <p class="g-card-landscape-bond--title">Bono restaurante pequeño</p>
            <p class="g-card-landscape-bond--text">55 € para gastar a bordo</p>
          </div>
          <div class="o-col-md-13 o-col-lg-10">
            <div class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end">
              <div class="u-d-flex u-align-items-center">
                <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                <p class="g-card-landscape-bond__price-2 o-mr--1">por bono</p>
                <p class="g-card-landscape-bond__price-3 o-mr-lg--3">10%</p>
              </div>
              <div class="g-card-landscape-bond--added">
                <button class="btn btn--secondary btn--secondary__ghost btn--medium o-mr--1">Eliminar</button>
                <div class="box-selected box-selected--small u-d-flex u-align-items-center">
                  <i class="icon-check check u-d-flex u-align-items-center u-justify-content-center"></i>
                  <p class="box-selected__title">Añadido</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="o-row u-flex-column u-flex-md-row u-align-items-cente o-pt--2 o-pb--2 o-m--0 u-border--top-gray">
          <div class="o-col-lg-12 u-border-lg--right-gray">
            <div class="g-card-radio active">
              <div class="u-d-flex u-align-items-center">
                <i class="g-card-radio--icon icon-boat"></i>
                <p class="g-card-radio--title">Viaje de ida</p>
              </div>
              <label class="g-switch g-switch--large g-switch--second">
                <input type="checkbox" checked="">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="o-col-lg-12">
            <div class="g-card-radio">
              <div class="u-d-flex u-align-items-center">
                <i class="g-card-radio--icon icon-boat"></i>
                <p class="g-card-radio--title">Viaje de vuelta</p>
              </div>
              <label class="g-switch g-switch--large g-switch--second">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="o-col-md-20">
      <div class="g-card-landscape-bond--scroll">
        <div class="g-card-landscape-bond o-mb--2">
          <div class="o-row u-align-items-center o-p--2">
            <div class="o-col-md-1">
              <i class="g-card-landscape-bond--icon icon-activity"></i>
            </div>
            <div class="o-col-md-10 o-col-lg-13">
              <p class="g-card-landscape-bond--title">Bono restaurante pequeño</p>
              <p class="g-card-landscape-bond--text">55 € para gastar a bordo</p>
            </div>
            <div class="o-col-md-13 o-col-lg-10">
              <div class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end">
                <div class="u-d-flex u-align-items-center">
                  <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                  <p class="g-card-landscape-bond__price-2 o-mr--1">por bono</p>
                  <p class="g-card-landscape-bond__price-3 o-mr-lg--3">10%</p>
                </div>
                <button class="btn btn--primary btn--primary__border btn--medium g-card-landscape-bond--add">
                  Añadir +
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="g-card-landscape-bond o-mb--2">
          <div class="o-row u-align-items-md-center u-align-items-top o-p--2">
            <div class="o-col-10 o-col-md-1">
              <i class="g-card-landscape-bond--icon icon-activity"></i>
            </div>
            <div class="o-col-14 u-d-md-none u-text-right">
              <div class="tag tag--green u-align-items-center">
                <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Recomendada
              </div>
            </div>
            <div class="o-col-md-10 o-col-lg-13">
              <p class="g-card-landscape-bond--title">Bono restaurante mediano</p>
              <div class="u-d-flex u-align-items-center">
                <p class="g-card-landscape-bond--text">55 € para gastar a bordo</p>
                <div class="u-d-none u-d-md-flex">
                  <div class="tag tag--green u-align-items-center o-ml--2">
                    <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Recomendada
                  </div>
                </div>
              </div>
            </div>
            <div class="o-col-md-13 o-col-lg-10">
              <div class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end">
                <div class="u-d-flex u-align-items-center">
                  <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                  <p class="g-card-landscape-bond__price-2 o-mr--1">por bono</p>
                  <p class="g-card-landscape-bond__price-3 o-mr-lg--3">10%</p>
                </div>
                <button class="btn btn--primary btn--primary__border btn--medium g-card-landscape-bond--add">
                  Añadir +
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="g-card-landscape-bond">
          <div class="o-row u-align-items-center o-p--2">
            <div class="o-col-md-1">
              <i class="g-card-landscape-bond--icon icon-activity"></i>
            </div>
            <div class="o-col-md-10 o-col-lg-13">
              <p class="g-card-landscape-bond--title">Bono restaurante grande</p>
              <p class="g-card-landscape-bond--text">55 € para gastar a bordo</p>
            </div>
            <div class="o-col-md-13 o-col-lg-10">
              <div class="u-d-flex u-flex-column u-flex-md-row u-align-items-end u-align-items-md-center u-justify-content-end">
                <div class="u-d-flex u-align-items-center">
                  <p class="box-radio__text-bold o-mr--3">+7,00€</p>
                  <p class="g-card-landscape-bond__price-2 o-mr--1">por bono</p>
                  <p class="g-card-landscape-bond__price-3 o-mr-lg--3">10%</p>
                </div>
                <button class="btn btn--primary btn--primary__border btn--medium g-card-landscape-bond--add">
                  Añadir +
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
