<div class="o-container">
  <div class="tag tag--green u-align-items-center o-mr--1 o-mb--2">
    <i class="icon-star tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Recomendada
  </div>
  <div class="tag tag--blue u-align-items-center o-mb--2">
    <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Últimas plazas
  </div>
  <div class="tag tag--gray u-align-items-center o-mb--2">
    <i class="icon-discount tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>BALEARIA2021
  </div>
  <div class="tag u-align-items-center o-mb--2">
    <i class="icon-pet tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Pet friendly
  </div>
  <div class="tag tag--large tag--red u-align-items-center o-mb--2">
    <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>¡Los billetes vuelan
    en estas fechas!
  </div>
  <div class="tag tag--transparent u-align-items-center o-mb--2">
    <i class="icon-info tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Pendiente
  </div>
  <div class="tag tag--blue tag--secondary u-align-items-center o-mb--2">
    <i class="icon-qr tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Presentar QR a bordo para
    disfrutarlo
  </div>
</div>
