<div class="u-bg--lighter">
  <div class="u-bg--lighter__confirmation">
    <!-- header -->
    <section class="g-header g-header--simple">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-between u-h--100 wrapper">
        <div class="g-header__logo">
          <a href="javascript:void(0)">
            <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
          </a>
          <div class="g-header__logo-help">
            <i class="icon-help icon"></i>
            <button class="btn btn--secondary g-header__btn"><i class="icon-user o-mr--1"></i></button>
          </div>
        </div>
        <ul class="g-header__list last u-d-md-flex u-align-items-center u-justify-content-between">
          <li class="g-header__item" id="help">
            <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold fw-normal">Ayuda</a>
          </li>
          <li class="">
            <button class="btn btn--secondary g-header__btn">
              <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" />
              <span class="g-header__btn-text o-ml--1">Club</span>
            </button>
          </li>
        </ul>
      </div>
    </section>

    <!-- body -->
    <section>
      <div class="o-mt--8 mobile-none"></div>
      <div class="o-container box box--confirmation g-modal--medium">
        <div class="o-pt--2 o-pl--3 o-pr--3 o-pb--2">
          <div class="o-row">
            <div class="o-col-md-24 u-d-flex u-align-items-center u-justify-content-center u-flex-column">
              <img src="../../../assets/img/success.svg" alt="" />
              <h2 class="text-3 o-mb--3 o-mt--2 title--large u-font-weight-extrabold">
                Bienvenido a Balearia Club,
                <span class="text--name">Marco</span>
              </h2>
              <p class="u-text-center u-font-weight-semibold text-confirmation">
                Ya casi estamos! Sólo nos queda verificar tu correo electrónico
              </p>
              <p class="o-mb--6 o-mt--3 u-text-center text-correo">
                Te hemos enviado un correo a <span class="u-font-weight-semibold">marco@gmail.com</span> para que
                confirmes tu cuenta
              </p>
              <button class="btn btn--primary u-w-desktop--50 u-w-mobile--100 o-mb--2">Ir a gmail</button>
              <button class="btn btn--primary btn--primary__ghost u-w--70 btn--medium btn--orange">
                ¿No has recibido el correo electrónico? Reenviar
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- floating button -->
    <button class="btn btn--secondary floating-btn desktop-none floating-btn--login desktop-none">
      <i class="icon-chat icon"></i>
      Ayuda
    </button>

    <!-- footer -->
    <section class="footer-small">
      <div class="o-container">
        <div
          class="footer-small__row u-border--top-gray u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3"
        >
          <div class="footer-small__info">
            <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
          </div>
          <div class="footer-small__links">
            <a class="footer-small__link">Política de cookies</a>
            <a class="footer-small__link">Política de privacidad</a>
            <a class="footer-small__link">Condiciones de uso</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
