<div class="o-container o-mt--3">
  <div class="o-row">
    <div class="o-col-md-12">
      <div class="o-row">
        <div class="o-col-md-24">
          <div class="tooltips tooltip--with-hover o-mb--2">
            Tooltip - sin camarotes
            <div class="tooltips__content">
              <p class="tooltips__title u-d-flex u-align-items-center">
                <i class="icon-alert tooltips__icon o-mr--1"></i>Este barco no tiene camarotes
              </p>
            </div>
          </div>
        </div>
        <div class="o-col-md-24">
          <div class="tooltips tooltip--with-hover o-mb--2">
            Tooltip - Acomodaciones - Acomodacion agotada
            <div class="tooltips__content">
              <p class="tooltips__title u-d-flex u-align-items-center o-mb--1">
                <i class="icon-alert tooltips__icon o-mr--1"></i>Este barco no tiene camarotes
              </p>
              <div class="alert alert--info u-d-md-flex u-align-items-center">
                <i class="icon-info alert__icon"></i>
                <div class="alert__info">
                  <p class="alert__text">Intenta reservar con más antelación la próxima vez</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="o-col-md-24">
          <div class="tooltips tooltip--with-hover o-mb--2">
            Tooltip - Acomodaciones - Tarifas no combinables
            <div class="tooltips__content">
              <p class="tooltips__title u-d-flex u-align-items-center o-mb--1">
                <i class="icon-alert tooltips__icon o-mr--1"></i>Tarifas no combinables
              </p>
              <p class="tooltips__text u-text--text-light">
                Esta acomodación tiene una tarifa no compatible con la tarifa que has escogido para la ida.
              </p>
            </div>
          </div>
        </div>
        <div class="o-col-md-24">
          <div class="tooltips tooltip--with-hover recommendation o-mb--2">
            Tooltip recomendaciones
            <div class="tooltips__content">
              <div class="u-d-flex">
                <i class="icon-info tooltips__icon o-mr--1"></i>
                <div>
                  <p class="tooltips__title u-d-flex u-align-items-center o-mb--1">Sois 4 pasajeros</p>
                  <p class="tooltips__text--small">¿Seguro que no quieres camarote?</p>
                </div>
              </div>
              <p class="tooltips__text u-text--gray u-w--100">
                Os recomendamos los camarotes para poder descansar con mayora tranquilidad y silencio separados del
                resto de pasajeros
              </p>
              <div class="tooltips__btn">
                <a class="js-close-tooltip btn btn--primary btn--primary__ghost u-w-mobile--100">
                  No gracias, quiero butaca
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="o-col-md-24">
          <div class="tooltips tooltip--with-hover o-mb--2">
            Capa - Modificar acom mascota - disabled
            <div class="tooltips__content">
              <div class="u-d-flex">
                <i class="icon-info u-text--fz-24 u-text--secondary o-mr--1"></i>
                <div>
                  <p class="u-text-default u-text-default--medium u-text--gray u-font-weight-bold o-mb--1">
                    Ya tienes la mejor acomodación
                  </p>
                  <p class="tooltips__text">Tu tarifa no permite cambios a acomodaciones inferiores.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
