<section class="g-proposal">
  <div class="o-container">
    <div class="o-row u-h--100r">
      <div class="o-col-md-6">
        <div class="g-proposal--item">
          <img src="../../../assets/img/proposal-1.svg" alt="">
          <div class="g-proposal--info">
            <p class="g-proposal--title">Cancelaciones flexibles</p>
            <p class="g-proposal--paragraph">Cancela sin penalización con nuestra tarifa Plus</p>
          </div>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="g-proposal--item">
          <img src="../../../assets/img/proposal-2.svg" alt="">
          <div class="g-proposal--info">
            <p class="g-proposal--title">La libertad de llevar tu coche</p>
            <p class="g-proposal--paragraph">La libertad de llevar tu coche</p>
          </div>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="g-proposal--item">
          <img src="../../../assets/img/proposal-3.svg" alt="">
          <div class="g-proposal--info">
            <p class="g-proposal--title">Tu mascota contigo siempre</p>
            <p class="g-proposal--paragraph">Acomodaciones 100% Pet friendly para viajar juntos</p>
          </div>
        </div>
      </div>
      <div class="o-col-md-6">
        <div class="g-proposal--item">
          <img src="../../../assets/img/proposal-4.svg" alt="">
          <div class="g-proposal--info">
            <p class="g-proposal--title">Cuidamos el planeta</p>
            <p class="g-proposal--paragraph">Buques más sostenibles, economía circular, envases bioedegradables...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="g-proposal g-proposal__column">
  <div class="o-container">
    <div class="o-row u-h--100r">
      <div class="o-col-md-24">
        <div class="g-proposal--item">
          <img src="../../../assets/img/proposal-1.svg" alt="">
          <div class="g-proposal--info">
            <p class="g-proposal--title">Cancelaciones flexibles</p>
            <p class="g-proposal--paragraph">Cancela sin penalización con nuestra tarifa Plus</p>
          </div>
        </div>
      </div>
      <div class="o-col-md-24">
        <div class="g-proposal--item">
          <img src="../../../assets/img/proposal-2.svg" alt="">
          <div class="g-proposal--info">
            <p class="g-proposal--title">La libertad de llevar tu coche</p>
            <p class="g-proposal--paragraph">La libertad de llevar tu coche</p>
          </div>
        </div>
      </div>
      <div class="o-col-md-24">
        <div class="g-proposal--item">
          <img src="../../../assets/img/proposal-3.svg" alt="">
          <div class="g-proposal--info">
            <p class="g-proposal--title">Tu mascota contigo siempre</p>
            <p class="g-proposal--paragraph">Acomodaciones 100% Pet friendly para viajar juntos</p>
          </div>
        </div>
      </div>
      <div class="o-col-md-24">
        <div class="g-proposal--item">
          <img src="../../../assets/img/proposal-4.svg" alt="">
          <div class="g-proposal--info">
            <p class="g-proposal--title">Cuidamos el planeta</p>
            <p class="g-proposal--paragraph">Buques más sostenibles, economía circular, envases bioedegradables...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>