<div class="o-container o-pt--3">
  <div class="o-row">
    <div class="o-col-lg-18">
      <div class="table-responsive">
        <div class="table-responsive__header u-d-none u-d-lg-flex">
          <div class="table-responsive__cell">Tipo</div>
          <div class="table-responsive__cell">Tipo</div>
          <div class="table-responsive__cell">Tipo</div>
          <div class="table-responsive__cell">Tipo</div>
          <div class="table-responsive__cell">Tipo</div>
          <div class="table-responsive__cell">Tipo</div>
          <div class="table-responsive__cell">Tipo</div>
        </div>
        <div class="table-responsive__body">
          <div class="table-responsive__row">
            <div class="table-responsive__cell first">
              <p class="text-bold">Marco Cuadrado Redondo</p>
              <p class="u-text--gray-light">Titular de la reserva</p>
            </div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
          </div>
          <div class="table-responsive__row">
            <div class="table-responsive__cell first">
              <p class="text-bold">Marco Cuadrado Redondo</p>
            </div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
          </div>
          <div class="table-responsive__row">
            <div class="table-responsive__cell first">
              <p class="text-bold">Marco Cuadrado Redondo</p>
            </div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
          </div>
          <div class="table-responsive__row">
            <div class="table-responsive__cell first">
              <p class="text-bold">Marco Cuadrado Redondo</p>
            </div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Adulto</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 41536698W</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 12 abril 2024</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> España</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> 12 abril 1989</div>
            <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Titulo</span> Hombre</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
