<div class="o-container">
  <div class="o-row">
    <div class="o-col-md-24 o-mb--2">
      <div class="box-acomodations active shadow u-br--8">
        <div class="box-acomodations__header u-d-flex u-align-items-center u-justify-content-between u-flex-wrap">
          <div class="box-acomodations__col box-acomodations__top u-d-flex u-align-items-center u-w-mobile--100">
            <i class="icon-boat u-text--fz-32 o-mr--2"></i>
            <p class="u-text-default u-text-default--small">Ida</p>
          </div>
          <div
            class="box-acomodations__col-md box-acomodations__bottom u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100"
          >
            <div class="u-d-flex">
              <i class="icon-cabin u-text--fz-32 o-mr--2"></i>
              <div>
                <p class="u-text-default u-text-default--small">Butaca Sirena</p>
                <p class="u-text-default u-text-default--small u-text--text-light">4 pasajeros</p>
              </div>
            </div>
            <p class="u-text-default u-text-default--small u-font-weight-bold u-text--secondary">78,00 €</p>
          </div>
          <div class="box-acomodations__col u-d-flex u-align-items-center u-justify-content-md-end">
            <button class="btn btn--secondary btn--secondary__ghost btn--small box-acomodations__link">
              Modificar
            </button>
          </div>
        </div>
        <div
          class="box-acomodations__body u-border--top-gray u-flex-wrap u-align-items-center u-justify-content-between"
        >
          <div class="box-acomodations__card u-d-flex u-align-items-end u-justify-content-between o-mb--2">
            <div class="u-d-flex u-align-items-center u-w--100">
              <label class="g-radiobtn">
                <input type="radio" checked="checked" name="radio" />
                <span class="g-radiobtn--checkmark"></span>
              </label>
              <div class="u-w--100">
                <p class="u-text-default u-text-default--medium u-font-weight-semibold o-mb--1 title">Butaca sirena</p>
                <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                  <a href="#" class="box-acomodations__card-link u-text--secondary">Ver detalles</a>
                  <p class="u-text-default u-text-default--small u-font-weight-bold u-text--secondary">78,00 €</p>
                </div>
              </div>
            </div>
          </div>
          <div class="box-acomodations__card u-d-flex u-align-items-end u-justify-content-between o-mb--2">
            <div class="u-d-flex u-align-items-center u-w--100">
              <label class="g-radiobtn">
                <input type="radio" checked="checked" name="radio" />
                <span class="g-radiobtn--checkmark"></span>
              </label>
              <div class="u-w--100">
                <p class="u-text-default u-text-default--medium u-font-weight-semibold o-mb--1 title">Butaca sirena</p>
                <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                  <a href="#" class="box-acomodations__card-link u-text--secondary">Ver detalles</a>
                  <p class="u-text-default u-text-default--small u-font-weight-bold u-text--secondary">78,00 €</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-col-md-24 o-mb--2">
      <div class="box-acomodations shadow u-br--8">
        <div class="box-acomodations__header u-d-flex u-align-items-center u-justify-content-between u-flex-wrap">
          <div class="box-acomodations__col box-acomodations__top u-d-flex u-align-items-center u-w-mobile--100">
            <i class="icon-boat u-text--fz-32 o-mr--2"></i>
            <p class="u-text-default u-text-default--small">Ida</p>
          </div>
          <div
            class="box-acomodations__col-md box-acomodations__bottom u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100"
          >
            <div class="u-d-flex">
              <i class="icon-cabin u-text--fz-32 o-mr--2"></i>
              <div>
                <p class="u-text-default u-text-default--small">Butaca Sirena</p>
                <p class="u-text-default u-text-default--small u-text--text-light">4 pasajeros</p>
              </div>
            </div>
            <div class="tag tag--blue u-align-items-center">
              <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i>Selección
              actual
            </div>
          </div>
          <div class="box-acomodations__col u-d-flex u-align-items-center u-justify-content-md-end">
            <button class="btn btn--secondary btn--secondary__ghost btn--small box-acomodations__link">
              Modificar
            </button>
          </div>
        </div>
        <div
          class="box-acomodations__body active u-border--top-gray u-flex-wrap u-align-items-center u-justify-content-between"
        >
          <div class="box-acomodations__card active u-d-flex u-align-items-end u-justify-content-between o-mb--2">
            <div class="u-d-flex u-align-items-center u-w--100">
              <label class="g-radiobtn">
                <input type="radio" checked="checked" name="radio" />
                <span class="g-radiobtn--checkmark"></span>
              </label>
              <div class="u-w--100">
                <p class="u-text-default u-text-default--medium u-font-weight-semibold o-mb--1 title">Butaca sirena</p>
                <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                  <a href="#" class="box-acomodations__card-link u-text--secondary">Ver detalles</a>
                  <div class="tag tag--blue u-align-items-center">
                    <i class="icon-lighting tag__icon u-d-flex u-align-items-center u-justify-content-center"></i
                    >Últimas plazas
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-acomodations__card u-d-flex u-align-items-end u-justify-content-between o-mb--2">
            <div class="u-d-flex u-align-items-center u-w--100">
              <label class="g-radiobtn">
                <input type="radio" checked="checked" name="radio" />
                <span class="g-radiobtn--checkmark"></span>
              </label>
              <div class="u-w--100">
                <p class="u-text-default u-text-default--medium u-font-weight-semibold o-mb--1 title">Butaca sirena</p>
                <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                  <a href="#" class="box-acomodations__card-link u-text--secondary">Ver detalles</a>
                  <p class="u-text-default u-text-default--small u-font-weight-bold u-text--secondary">78,00 €</p>
                </div>
              </div>
            </div>
          </div>
          <div class="box-acomodations__card u-d-flex u-align-items-end u-justify-content-between o-mb--2">
            <div class="u-d-flex u-align-items-center u-w--100">
              <label class="g-radiobtn">
                <input type="radio" checked="checked" name="radio" />
                <span class="g-radiobtn--checkmark"></span>
              </label>
              <div class="u-w--100">
                <p class="u-text-default u-text-default--medium u-font-weight-semibold o-mb--1 title">Butaca sirena</p>
                <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                  <a href="#" class="box-acomodations__card-link u-text--secondary">Ver detalles</a>
                  <p class="u-text-default u-text-default--small u-font-weight-bold u-text--secondary">78,00 €</p>
                </div>
              </div>
            </div>
          </div>
          <div class="box-acomodations__card disabled u-d-flex u-align-items-end u-justify-content-between o-mb--2">
            <div class="u-d-flex u-align-items-center u-w--100">
              <label class="g-radiobtn">
                <input type="radio" checked="checked" name="radio" />
                <span class="g-radiobtn--checkmark"></span>
              </label>
              <div class="u-w--100">
                <p class="u-text-default u-text-default--medium u-font-weight-semibold o-mb--1 title">Butaca sirena</p>
                <div class="u-d-flex u-align-items-center u-justify-content-between u-w--100">
                  <a href="#" class="box-acomodations__card-link u-text--secondary">Ver detalles</a>
                  <p class="u-text-default u-text-default--small u-font-weight-bold u-text--secondary text">AGOTADAS</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-col-md-24 o-mb--2">
      <div class="box-acomodations box-acomodations--transparent u-border--full u-br--8">
        <div class="box-acomodations__header u-d-flex u-align-items-center u-justify-content-between u-flex-wrap">
          <div class="u-d-flex u-align-items-center u-w-mobile--100">
            <div class="g-calendar--check u-d-flex u-align-items-center">
              <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
              </label>
              <div class="u-d-md-flex u-align-items-center">
                <p class="u-text-default u-text-default--medium u-font-weight-semibold">Luna</p>
                <p class="u-text-default u-text-default--medium o-ml-md--1">Perro grande</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-acomodations__body active u-border--top-gray">
          <div class="o-row u-w--100">
            <div class="o-col-md-12">
              <div class="form__input-wrapper">
                <select class="form__select" id="extra" name="extra" required>
                  <option value="" selected></option>
                  <option value="tinted">Label</option>
                  <option value="turbo">Label</option>
                  <option value="speed">Label</option>
                </select>
                <label>Selecciona un motivo de anulación</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-col-md-24 o-mb--2">
      <div class="box-acomodations box-acomodations--transparent u-border--full u-br--8">
        <div class="box-acomodations__header u-d-flex u-align-items-center u-justify-content-between u-flex-wrap">
          <div class="u-d-flex u-align-items-center u-w-mobile--100">
            <div class="g-calendar--check u-d-flex u-align-items-center">
              <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
              </label>
              <div class="u-d-md-flex u-align-items-center">
                <p class="u-text-default u-text-default--medium u-font-weight-semibold">Luna</p>
                <p class="u-text-default u-text-default--medium o-ml-md--1">Perro grande</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-acomodations__body active u-border--top-gray">
          <div class="o-row u-w--100">
            <div class="o-col-md-12">
              <div class="form__input-wrapper">
                <select class="form__select" id="extra" name="extra" required>
                  <option value="" selected></option>
                  <option value="tinted">Label</option>
                  <option value="turbo">Label</option>
                  <option value="speed">Label</option>
                </select>
                <label>Selecciona un motivo de anulación</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
