<div class="o-row">
  <div class="o-col-md-24">
    <div class="g-tab g-tab--submenu">
      <div class="o-container js-tabs-submenu">
        <button class="js-tabs__title tablinks">
          <span class="tablinks__title">Mi cuenta</span>
          <span class="line"></span>
        </button>
        <button class="js-tabs__title tablinks">
          <span class="tablinks__title">Reservas</span>
          <span class="line"></span>
        </button>
        <button class="js-tabs__title tablinks">
          <span class="tablinks__title">Tienda Club</span>
          <span class="line"></span>
        </button>
        <button class="js-tabs__title tablinks">
          <span class="tablinks__title">Cupones</span>
          <span class="line"></span>
        </button>
        <button class="js-tabs__title tablinks">
          <span class="tablinks__title">Retos</span>
          <span class="line"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="o-row">
  <div class="o-col-md-24">
    <div class="o-container">
      <div class="js-tabs__content">
        <p>Mi cuenta</p>
      </div>
      <div class="js-tabs__content">
        <p>Reservas</p>
      </div>
      <div class="js-tabs__content">
        <p>Tienda Club</p>
      </div>
      <div class="js-tabs__content">
        <p>Cupones</p>
      </div>
      <div class="js-tabs__content">
        <p>retos</p>
      </div>
    </div>
  </div>
</div>
