<div class="u-bg--lighter">
  <section class="g-header">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-between u-h--100 wrapper">
      <ul class="g-header__list first u-d-md-flex u-align-items-center u-justify-content-between">
        <li class="g-header__item active">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold"
            >Mi dashboard<img src="../../../assets/img/arrow-right.svg" alt="" class="arrow"
          /></a>
        </li>
        <li class="g-header__item" id="balearia">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold"
            >Viajar con Balearia<img src="../../../assets/img/arrow-right.svg" alt="" class="arrow"
          /></a>
          <div class="g-header__submenu">
            <div class="o-container u-d-lg-flex no-padding-mobile">
              <div class="g-header__sub-header back">
                <h2 class="g-header__sub-header-title">
                  <i class="icon-arrow-right o-mr--1 icon"></i>Viajar con Balearia
                </h2>
                <button class="btn btn--primary btn--primary__ghost">Ver todos<i class="icon-arrow-right"></i></button>
              </div>
              <ul class="g-header__sublist">
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Nuestros barcos <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viaja con mascotas <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viaja con vehículo <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viajes sostenibles <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viaja en Classe VIP <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100 u-d-lg-none experience">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Experiencia a bordo <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100 u-d-lg-none info">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Info práctica <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100 u-d-lg-none travel">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viajes para ti <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
              </ul>
              <div class="g-header__sub-content u-w--100">
                <div class="o-container no-padding-mobile">
                  <div class="o-row">
                    <div class="o-col-lg-6" id="experience">
                      <div class="g-header__sub-header back-two">
                        <h2 class="g-header__sub-header-title">
                          <i class="icon-arrow-right o-mr--1 icon"></i>Experiencia a bordo
                        </h2>
                        <button class="btn btn--primary btn--primary__ghost">
                          Ver todas<i class="icon-arrow-right"></i>
                        </button>
                      </div>
                      <h3 class="g-header__title-small">Experiencia a bordo</h3>
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Acomodaciones</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Series y películas</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Internet y Wifi</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal">Niños</a>
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Comida y bebida</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Instalaciones</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Actividades y eventos</a
                      >
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6" id="info">
                      <div class="g-header__sub-header back-two">
                        <h2 class="g-header__sub-header-title">
                          <i class="icon-arrow-right o-mr--1 icon"></i>Info práctica
                        </h2>
                        <button class="btn btn--primary btn--primary__ghost">
                          Ver todas<i class="icon-arrow-right"></i>
                        </button>
                      </div>
                      <h3 class="g-header__title-small">Info práctica</h3>
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Información COVID-19</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Puertos y puntos de venta</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Seguridad</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Link helpdesk</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Link helpdesk</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Link helpdesk</a
                      >
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6" id="travel">
                      <div class="g-header__sub-header back-two">
                        <h2 class="g-header__sub-header-title">
                          <i class="icon-arrow-right o-mr--1 icon"></i>Viajes para ti
                        </h2>
                        <button class="btn btn--primary btn--primary__ghost">
                          Ver todas<i class="icon-arrow-right"></i>
                        </button>
                      </div>
                      <h3 class="g-header__title-small">Viajes para ti</h3>
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Viaja en familia</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Viaja en grupo</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Viaje de aventuras</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Alojamiento y actividades</a
                      >
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="g-header__item" id="route">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold"
            >Rutas<img src="../../../assets/img/arrow-right.svg" alt="" class="arrow"
          /></a>
          <div class="g-header__submenu">
            <div class="o-container u-d-lg-flex no-padding-mobile">
              <div class="g-header__sub-header u-d-md-none back">
                <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Rutas</h2>
              </div>
              <ul class="g-header__sublist">
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Baleares <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                  <div class="u-d-flex u-align-items-center u-justify-content-between" style="display: none">
                    <h2 class="g-header__sub-header-title u-d-md-none">
                      <i class="icon-arrow-right o-mr--1 icon"></i>Rutas
                    </h2>
                    <button class="btn btn--primary btn--primary__ghost btn-mobile u-d-md-none">
                      Ver todas<i class="icon-arrow-right"></i>
                    </button>
                  </div>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Argelia <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Francia <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Estrecho - sur <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Canarias <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >EE.UU - Caribe <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
              </ul>
              <div class="g-header__sub-content u-w--100">
                <div class="g-header__title-link u-d-flex u-align-items-center u-justify-content-between">
                  <h2 class="g-header__sub-title">Rutas destacadas de Baleares</h2>
                  <button class="btn btn--primary btn--primary__ghost btn-link">
                    Ver todos<i class="icon-arrow-right"></i>
                  </button>
                </div>
                <div class="g-header__sub-header u-d-md-none back-two">
                  <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Rutas</h2>
                </div>
                <div class="o-container">
                  <div class="o-row o-mb-lg--2 row--margin" id="list-route">
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Barcelona <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Mallorca <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Valencia <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Ibiza <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                  <div class="o-row" id="list-route-two">
                    <div class="o-col-lg-6 dropdown__box content--padding">
                      <h3 class="g-header__title-small">
                        Desde Formentera <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Mallorca <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Valencia <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Ibiza <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="g-header__item" id="destiny">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold"
            >Destinos <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow"
          /></a>
          <div class="g-header__submenu">
            <div class="g-header__sub-header back">
              <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Destinos</h2>
              <button class="btn btn--primary btn--primary__ghost">Ver todos<i class="icon-arrow-right"></i></button>
            </div>
            <ul class="g-header__sublist u-d-lg-none">
              <li class="g-header__subitem u-w--100 islas">
                <a
                  href="javascript:void(0)"
                  class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                  >Islas Baleares <img src="../../../assets/img/arrow-right.svg" alt=""
                /></a>
              </li>
              <li class="g-header__subitem u-w--100 peninsula">
                <a
                  href="javascript:void(0)"
                  class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                  >Península Ibérica <img src="../../../assets/img/arrow-right.svg" alt=""
                /></a>
              </li>
              <li class="g-header__subitem u-w--100 canarias">
                <a
                  href="javascript:void(0)"
                  class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                  >Canarias <img src="../../../assets/img/arrow-right.svg" alt=""
                /></a>
              </li>
              <li class="g-header__subitem u-w--100 africa">
                <a
                  href="javascript:void(0)"
                  class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                  >Norte de África<img src="../../../assets/img/arrow-right.svg" alt=""
                /></a>
              </li>
            </ul>
            <div class="o-container col--mobile">
              <h3 class="g-header__title-small">Top destinos ahora</h3>
              <div class="g-header__box small">
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                <div
                  class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                >
                  <div class="g-header__box-text">
                    <h3 class="g-header__box-title">Mallorca</h3>
                    <p class="g-header__box-price">
                      <span class="u-font-weight-bold number">33</span>
                      <span class="coin">€</span>
                      <span class="text--small">Desde</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="g-header__box small">
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                <div
                  class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                >
                  <div class="g-header__box-text">
                    <h3 class="g-header__box-title">Mallorca</h3>
                    <p class="g-header__box-price">
                      <span class="u-font-weight-bold number">33</span>
                      <span class="coin">€</span>
                      <span class="text--small">Desde</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="g-header__sub-content u-w--100">
              <div class="o-container no-padding-mobile">
                <div class="o-row o-mb--2 u-w--100 u-justify-content-md-between row--padding">
                  <div class="o-col-lg-3 col" id="islas">
                    <div class="g-header__sub-header back-two">
                      <h2 class="g-header__sub-header-title">
                        <i class="icon-arrow-right o-mr--1 icon"></i>Islas Baleares
                      </h2>
                    </div>
                    <h3 class="g-header__title-small">Islas Baleares</h3>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Mallorca <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Ibiza <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Menorca <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Formentera <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                  </div>
                  <div class="o-col-lg-3 col" id="peninsula">
                    <div class="g-header__sub-header back-two">
                      <h2 class="g-header__sub-header-title">
                        <i class="icon-arrow-right o-mr--1 icon"></i>Península Ibérica
                      </h2>
                    </div>
                    <h3 class="g-header__title-small">Península Ibérica</h3>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Barcelona <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Dénia <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Valencia <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Almería <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Huelva <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Málaga <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                  </div>
                  <div class="o-col-lg-3 col" id="canarias">
                    <div class="g-header__sub-header back-two">
                      <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Canarias</h2>
                    </div>
                    <h3 class="g-header__title-small">Canarias</h3>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Las Palmas de Gran Canaria
                      <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Tenerife <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                  </div>
                  <div class="o-col-lg-3 col" id="africa">
                    <div class="g-header__sub-header back-two">
                      <h2 class="g-header__sub-header-title">
                        <i class="icon-arrow-right o-mr--1 icon"></i>Norte de África
                      </h2>
                    </div>
                    <h3 class="g-header__title-small">Norte de África</h3>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Nador <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Mostaganem <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Tanger <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Ceuta <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Melilla <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Alhucemas <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                  </div>
                  <div class="o-col-md-8 o-col-lg-6 col--desktop">
                    <h3 class="g-header__title-small">Top destinos ahora</h3>
                    <div class="g-header__box small">
                      <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                      <div
                        class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                      >
                        <div class="g-header__box-text">
                          <h3 class="g-header__box-title">Mallorca</h3>
                          <p class="g-header__box-price">
                            <span class="u-font-weight-bold number">33</span>
                            <span class="coin">€</span>
                            <span class="text--small">Desde</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="g-header__box small">
                      <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                      <div
                        class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                      >
                        <div class="g-header__box-text">
                          <h3 class="g-header__box-title">Mallorca</h3>
                          <p class="g-header__box-price">
                            <span class="u-font-weight-bold number">33</span>
                            <span class="coin">€</span>
                            <span class="text--small">Desde</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="g-header__logo">
        <i class="icon-menu toggle icon" id="open_header"></i>
        <a href="javascript:void(0)">
          <img src="../../../assets/img/logo-agencias.svg" alt="logo" class="img" />
        </a>
        <div>
          <i class="icon-close close" id="close_header"></i>
        </div>
        <div class="g-header__logo-help">
          <i class="icon-help icon"></i>
          <div class="g-header--logado__favi">
            <span>M</span>
          </div>
        </div>
      </div>
      <ul class="g-header__list last u-d-md-flex u-align-items-center u-justify-content-end">
        <li class="g-header__item">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold fw-normal">Ayuda y contacto</a>
        </li>
        <li class="g-header__item language" id="language">
          <a href="javascript:void(0)" class="g-header__item-link">Español</a>
          <div class="g-header__submenu">
            <div class="g-header__sub-header back">
              <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Idioma</h2>
            </div>
            <div class="o-container">
              <div class="o-row o-mb--2 u-w--100 u-justify-content-md-between">
                <div class="o-col-md-8 o-col-lg-3">
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">Español</a>
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">Català</a>
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">Français</a>
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">English</a>
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">Italiano</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="g-header__item g-header__btn-box o-ml-lg--2">
          <div class="u-d-flex g-header--logado__agency">
            <div class="g-header--logado__favi">
              <span>M</span>
            </div>
            <div class="g-header--logado__info o-ml--1">
              <p class="g-header--logado__name">Mari Luz</p>
              <div class="g-header--logado__date">
                <p class="u-font-weight-normal">Mayorista - Excursión</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="o-container">
      <div class="o-row">
        <div class="o-col-24">
          <div class="o-pb--4 o-pt--3 o-pt-md--6">
            <h2 class="u-sub-title">Mis datos de acceso</h2>
          </div>    
        </div>
      </div>
      <div class="o-row">
        <div class="o-col-md-12">
          <div class="box o-p--3">
            <div class="u-border--bottom-gray o-pb--3">
              <div class="u-d-flex u-justify-content-between u-align-items-center o-mb--1">
                <h3 class="u-text-default--large u-font-weight-semibold">Mari Luz Perez Perez</h3>
                <i class="icon-help u-text--secondary u-cursor-pointer" data-micromodal-trigger="modal-aviso-reserva"></i>
              </div>
              <p class="o-mb--1">Agente</p>
              <p class="u-text--text-light">mariluz@agenciavillalonga.com</p>
            </div>
            <div class="u-d-flex u-justify-content-between u-align-items-center o-pt--3">
              <p class="u-text--text-light">Contraseña *********</p>
              <div class="u-d-flex u-align-items-center u-text--secondary u-font-weight-semibold u-cursor-pointer" data-micromodal-trigger="modal-checkout-condiciones-error">
                <i class="icon-edit o-mr--1"></i>
                <p>Cambiar contraseña</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <section class="footer o-mt--8">
    <div class="footer__bar-top u-d-flex u-align-items-center u-justify-content-center u-w--100">
      <div class="footer__bar-logos u-d-flex u-justify-content-between u-align-items-center u-w--100">
        <a href="">
          <i class="icon-youtube"></i>
        </a>
        <a href="">
          <i class="icon-twitter"></i>
        </a>
        <a href="">
          <i class="icon-facebook"></i>
        </a>
        <a href="">
          <i class="icon-linkedln"></i>
        </a>
        <a href="">
          <i class="icon-instagram"></i>
        </a>
      </div>
    </div>
    <div class="o-container">
      <img src="../../../assets/img/logo.svg" alt="" class="footer__logo" />
      <div class="o-row o-pb--4">
        <div class="o-col-md-6">
          <h3 class="footer__title first o-mb--3">Descarga nuestra app</h3>
          <div class="footer__bar-img u-d-flex u-flex-md-column">
            <a href="" class="img-link"><img src="../../../assets/img/app-store.png" alt="" class="img" /></a>
            <a href="" class="img-link"><img src="../../../assets/img/google-play.png" alt="" class="img" /></a>
          </div>
        </div>
        <div class="o-col-md-6">
          <h3 class="footer__title o-mb--3">Atención al cliente</h3>
          <ul class="footer__list">
            <li class="footer__item"><a href="" class="footer__item-link">Centro de ayuda</a></li>
            <li class="footer__item"><a href="" class="footer__item-link">COVID-19</a></li>
            <li class="footer__item"><a href="" class="footer__item-link">Seguridad</a></li>
            <li class="footer__item"><a href="" class="footer__item-link">Puertos y puntos de venta</a></li>
          </ul>
        </div>
        <div class="o-col-md-6">
          <h3 class="footer__title o-mb--3">Inspírate</h3>
          <ul class="footer__list">
            <li class="footer__item"><a href="" class="footer__item-link">Destinos</a></li>
            <li class="footer__item"><a href="" class="footer__item-link">Rutas</a></li>
            <li class="footer__item"><a href="" class="footer__item-link">Blog Entreolas</a></li>
            <li class="footer__item"><a href="" class="footer__item-link">Rumbo verde</a></li>
          </ul>
        </div>
        <div class="o-col-md-6">
          <h3 class="footer__title o-mb--3">Nosotros</h3>
          <ul class="footer__list">
            <li class="footer__item"><a href="" class="footer__item-link">Grupo Balearia</a></li>
            <li class="footer__item"><a href="" class="footer__item-link">Responsabilidad social Corporativa</a></li>
            <li class="footer__item"><a href="" class="footer__item-link">Sala de prensa</a></li>
            <li class="footer__item"><a href="" class="footer__item-link">Trabaja con nosotros</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__select u-d-flex u-align-items-center u-w--100">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-md-end">
        <div class="form__input-wrapper o-mr--2">
          <select class="form__select" id="extra" name="extra" required>
            <option value="" selected>Español</option>
            <option value="tinted">Label</option>
            <option value="turbo">Label</option>
            <option value="speed">Label</option>
          </select>
        </div>
        <div class="form__input-wrapper">
          <select class="form__select" id="extra" name="extra" required>
            <option value="" selected>EUR - €</option>
            <option value="tinted">Label</option>
            <option value="turbo">Label</option>
            <option value="speed">Label</option>
          </select>
        </div>
      </div>
    </div>
    <div class="footer__bar-bottom u-d-flex u-align-items-center">
      <div class="o-container u-d-flex u-justify-content-between u-align-items-center">
        <p class="text">2021 Baleària. Todos los derechos reservados.</p>
        <div class="footer__bar-link">
          <a href="" class="link">Política de privacidad</a>
          <a href="" class="link">Política de cookies</a>
          <a href="" class="link">Condiciones de uso</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal micromodal-slide" id="modal-aviso-reserva" aria-hidden="true">
  <div class="g-modal--info g-modal--code modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container u-h--auto-mobile" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="o-p--3">
        <div class="o-row">
          <div class="o-col-md-24 u-d-flex u-align-items-center u-justify-content-center u-flex-column o-pt--2">
            <img src="../../../assets/img/user.svg"/>
            <h2 class="text-3 o-mb--2 o-mt--3">¿Necesitas editar tus datos?</h2>
            <p class="u-text-default u-text-default--medium u-text--text-gray u-text-center o-mb--6">
              Para relizar cambios de tus datos personales o nombre de usuario Contacta con la administradora de tu agencia, Joselito
            </p>
            <button class="btn btn--primary u-w-mobile--100">Entendido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="modal-checkout-condiciones-error" aria-hidden="true">
  <div class="g-modal--info g-modal--info-small modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="g-modal--info__header">
        <h3 class="title">Crea tu nueva contraseña</h3>
        <button class="modal__close icon-close" aria-label="Close modal" data-micromodal-close></button>
      </div>
      <div class="o-p--3">
        <div class="o-mb--4">
          <p class="u-label o-mb--3">Contraseña actual</p>
          <div class="form__input-wrapper form__icon-right o-mb--2">
            <input class="g-input form__input" type="text" name="label" placeholder=" ">
            <label>Contraseña</label>
            <i class="icon-eye-hide u-text--secondary u-cursor--pointer"></i>
          </div>
          <a class="g-link g-link--small" href="">¿Has olvidado la contraseña?</a>
        </div>
        <div>
          <p class="u-label o-mb--3">Nueva contraseña</p>
          <div class="form__input-wrapper form__icon-right">
            <input class="g-input form__input" type="text" name="label" placeholder=" ">
            <label>Nueva contraseña</label>
            <i class="icon-eye-hide u-text--secondary u-cursor--pointer"></i>
          </div>
          <p class="u-help u-text--gray-light o-mt--1">Mínimo 8 carácteres, un número, una letra mayúscula y algún símbolo</p>
        </div>
        <div class="g-modal--info__footer o-mt--3">
          <button class="btn btn--primary btn--primary__ghost u-w--100">Cancelar</button>
          <button class="btn btn--primary u-w--100 o-mb--1 u-w--100">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
</div>