<div class="stories-wrapper">
  <div class="o-container">
    <div class="o-row u-align-items-start">
      <div class="o-col-md-4">
        <button class="btn btn--primary o-mb--2">Buscar</button>
        <button class="btn btn--primary o-mb--2 btn--medium">Buscar</button>
        <button class="btn btn--primary o-mb--4 btn--small">Buscar</button>
        <button class="btn btn--primary btn--primary__border o-mb--2">Buscar</button>
        <button class="btn btn--primary btn--primary__border o-mb--2 btn--medium">Buscar</button>
        <button class="btn btn--primary btn--primary__border o-mb--4 btn--small">Buscar</button>
        <button class="btn btn--primary btn--primary__ghost o-mb--2">Buscar</button>
        <button class="btn btn--primary btn--primary__ghost o-mb--2 btn--medium">Buscar</button>
        <button class="btn btn--primary btn--primary__ghost o-mb--4 btn--small">Buscar</button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--primary o-mb--2">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--primary o-mb--2 btn--medium">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--primary o-mb--4 btn--small">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__border o-mb--2">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__border o-mb--2 btn--medium">Buscar<i
            class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__border o-mb--4 btn--small">Buscar<i
            class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__ghost o-mb--2">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__ghost o-mb--2 btn--medium">Buscar<i
            class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__ghost o-mb--4 btn--small">Buscar<i class="icon-user"></i></button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--primary o-mb--2 btn--icon"><i class="icon-user"></i></button>
        <button class="btn btn--primary o-mb--2 btn--icon btn--icon__medium btn--medium"><i
            class="icon-user"></i></button>
        <button class="btn btn--primary o-mb--4 btn--small btn--icon btn--icon__small"><i
            class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__border btn--icon o-mb--2"><i class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__border btn--icon btn--icon__medium o-mb--2 btn--medium"><i
            class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__border btn--icon btn--icon__small o-mb--4 btn--small"><i
            class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__ghost btn--icon o-mb--2"><i class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__ghost btn--icon btn--icon__medium o-mb--2 btn--medium"><i
            class="icon-user"></i></button>
        <button class="btn btn--primary btn--primary__ghost btn--icon btn--icon__small o-mb--4 btn--small"><i
            class="icon-user"></i></button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--secondary o-mb--2">Buscar</button>
        <button class="btn btn--secondary o-mb--2 btn--medium">Buscar</button>
        <button class="btn btn--secondary o-mb--4 btn--small">Buscar</button>
        <button class="btn btn--secondary btn--secondary__border o-mb--2">Buscar</button>
        <button class="btn btn--secondary btn--secondary__border o-mb--2 btn--medium">Buscar</button>
        <button class="btn btn--secondary btn--secondary__border o-mb--4 btn--small">Buscar</button>
        <button class="btn btn--secondary btn--secondary__ghost o-mb--2">Buscar</button>
        <button class="btn btn--secondary btn--secondary__ghost o-mb--2 btn--medium">Buscar</button>
        <button class="btn btn--secondary btn--secondary__ghost o-mb--4 btn--small">Buscar</button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--secondary o-mb--2">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--secondary o-mb--2 btn--medium">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--secondary o-mb--4 btn--small">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__border o-mb--2">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__border o-mb--2 btn--medium">Buscar<i
            class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__border o-mb--4 btn--small">Buscar<i
            class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__ghost o-mb--2">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__ghost o-mb--2 btn--medium">Buscar<i
            class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__ghost o-mb--4 btn--small">Buscar<i
            class="icon-user"></i></button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--secondary o-mb--2 btn--icon"><i class="icon-user"></i></button>
        <button class="btn btn--secondary o-mb--2 btn--icon btn--icon__medium btn--medium"><i
            class="icon-user"></i></button>
        <button class="btn btn--secondary o-mb--4 btn--small btn--icon btn--icon__small"><i
            class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__border btn--icon o-mb--2"><i class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__border btn--icon btn--icon__medium o-mb--2 btn--medium"><i
            class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__border btn--icon btn--icon__small o-mb--4 btn--small"><i
            class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__ghost btn--icon o-mb--2"><i class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__ghost btn--icon btn--icon__medium o-mb--2 btn--medium"><i
            class="icon-user"></i></button>
        <button class="btn btn--secondary btn--secondary__ghost btn--icon btn--icon__small o-mb--4 btn--small"><i
            class="icon-user"></i></button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--gray btn--gray__border o-mb--2">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--gray btn--gray__border o-mb--2 btn--medium">Buscar<i
            class="icon-user"></i></button>
        <button class="btn btn--gray btn--gray__border o-mb--4 btn--small">Buscar<i
            class="icon-user"></i></button>
      </div>
    </div>

    <div class="o-row u-align-items-start o-pt--2" style="background: #666666;">
      <div class="o-col-md-4">
        <button class="btn btn--transparent o-mb--2">Buscar</button>
        <button class="btn btn--transparent o-mb--2 btn--medium">Buscar</button>
        <button class="btn btn--transparent o-mb--4 btn--small">Buscar</button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--transparent o-mb--2">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--transparent o-mb--2 btn--medium">Buscar<i class="icon-user"></i></button>
        <button class="btn btn--transparent o-mb--4 btn--small">Buscar<i class="icon-user"></i></button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--transparent btn--icon o-mb--2"><i class="icon-user"></i></button>
        <button class="btn btn--transparent btn--icon btn--icon__medium o-mb--2 btn--medium"><i
            class="icon-user"></i></button>
        <button class="btn btn--transparent btn--icon btn--icon__small o-mb--4 btn--small"><i
            class="icon-user"></i></button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--primary o-mb--2" disabled>Buscar</button>
        <button class="btn btn--secondary o-mb--2 btn--medium" disabled>Buscar</button>
        <button class="btn btn--primary o-mb--4 btn--small" disabled>Buscar</button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--primary btn--primary__ghost o-mb--2" disabled>Buscar</button>
        <button class="btn btn--secondary btn--secondary__ghost o-mb--2 btn--medium" disabled>Buscar</button>
        <button class="btn btn--primary btn--primary__ghost o-mb--4 btn--small" disabled>Buscar</button>
      </div>

      <div class="o-col-md-4">
        <button class="btn btn--transparent btn--icon o-mb--2" disabled><i class="icon-user"></i></button>
        <button class="btn btn--transparent btn--icon btn--icon__medium o-mb--2 btn--medium" disabled><i
            class="icon-user"></i></button>
        <button class="btn btn--transparent btn--icon btn--icon__small o-mb--4 btn--small" disabled><i
            class="icon-user"></i></button>
      </div>
    </div>
  </div>
</div>