<section class="u-bg--primary header-bar u-d-none u-d-lg-block">
  <div class="bar-items u-d-flex u-align-items-center">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-between">
      <div class="bar-items__text">
        <p class="text">Has hecho cambios en tu reserva. Confirma para guardarlos.</p>
      </div>
      <div class="bar-items__buttons u-d-flex u-align-items-center">
        <div class="g-dropdown-basic dropdown-list g-dropdown-basic--empty">
          <button class="g-dropdown-basic--btn">
            <p>
              <span class="u-d-block total">Total</span>
              <span class="u-d-block price">50,00 €</span>
            </p>
            <i class="icon-arrow-down o-ml--1"></i>
          </button>
          <div class="g-dropdown-basic--content">
            <div class="g-dropdown-basic--bkg">
              <div
                class="g-dropdown__header u-border--bottom-gray u-d-flex u-d-lg-none u-align-items-center u-justify-content-between o-pl--2 o-pr--2 o-mb--2"
              >
                <p class="title">Ya casi estás, finaliza tu reserva</p>
                <i class="icon-close icon"></i>
              </div>
              <div class="g-dropdown__content">
                <i class="icon-boat icon"></i>
                <h2 class="title">Tu reserva está vacía</h2>
                <p class="text">
                  Selecciona los trayectos y acomodaciones de ida y vuelta para continuar con tu reserva
                </p>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn--primary o-ml--2 bar-items__btn">Confirmar</button>
      </div>
    </div>
  </div>
</section>
