<div style="padding: 20px; max-width: 500px">
  <div class="collapse">
    <div class="collapse__header u-d-flex u-align-items-center u-justify-content-between">
      <span class="g-link">Tengo un código promocional</span>
      <i class="icon-arrow-down collapse__icon u-cursor-pointer"></i>
    </div>
    <div class="collapse__content">
      <div class="o-row o-mt--3">
        <div class="o-col-lg-24 u-d-lg-flex u-align-items-center u-justify-content-md-between">
          <div class="form__input-wrapper u-w--100 margin-mobile">
            <input class="g-input form__input" type="text" name="label" placeholder=" " />
            <label>Introduce código promocional</label>
          </div>
          <button class="btn btn--primary btn--medium collapse__btn">Aplicar código</button>
        </div>
      </div>
    </div>
  </div>
</div>
