<div class="o-container">
  <div class="o-row u-align-items-center u-justify-content-center o-mt--8">
    <div class="o-col-md-12">
      <img class="u-w--100" src="../../../assets/img/maintenance.svg" alt="" />
    </div>
    <div class="o-col-lg-10">
      <div class="u-border--bottom-gray o-pb--4">
        <h1 class="u-sub-title o-mb--3">En estos momentos estamos realizando tareas de mantenimiento.</h1>
        <p class="u-sub-title--secondary o-mb--2">
          Para información y reservas puede hacerlo a través de este teléfono
          <span class="u-font-weight-semibold u-text-nowrap">+34 912 660 215</span>
        </p>
        <p>Disculpen las molestias.</p>
      </div>
      <div class="o-pt--4 o-pb--7">
        <h2 class="u-text-default--large u-font-weight-semibold o-mb--2">Our website is undergoing maintenance.</h2>
        <p class="o-mb--1">
          For information and bookings, please phone
          <span class="u-font-weight-semibold u-text-nowrap">+34 912 660 215</span>
        </p>
        <p>We apologise for any inconvenience.</p>
      </div>
      <img src="../../../assets/img/logo-2.svg" alt="" />
    </div>
  </div>
</div>
