<div class="u-bg--lighter confirmation o-pb--12">
  <section class="g-header g-header--button g-header--button-lg g-header--button--not-back">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
      <div class="g-header__logo">
        <a href="javascript:void(0)" class="u-text--no-underline">
          <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
        </a>
      </div>
      <button class="btn btn--secondary g-header__btn">
        <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo.svg" alt="" class="mobile-none g-header__btn--logo" />
        <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
      </button>
    </div>
  </section>
  <div class="o-container">
    <div class="o-row">
      <div class="o-col-md-24 o-mb--4 o-mb-md--3">
        <div class="box banner-confirmation u-w--100 u-d-md-flex u-flex-wrap">
          <div class="banner-confirmation__img">
            <img src="../../../assets/img/phone.svg" alt="ilustration" class="img" />
          </div>
          <div class="banner-confirmation__box">
            <div class="u-d-lg-flex u-justify-content-between">
              <div>
                <p class="u-text o-mb--1">¡Gracias Marco!</p>
                <h2 class="u-sub-title banner-confirmation__title">Tu reserva a Mallorca confirmada!</h2>
              </div>
              <div class="u-text-right">
                <p class="u-text o-mb--1">Tu localizador</p>
                <h2 class="u-sub-title u-text--secondary">CQYP050</h2>
              </div>
            </div>
            <ul class="list list--check u-w--100">
              <li class="list__item">
                <p>
                  Hemos enviado la confirmación a
                  <span class="u-text--secondary u-font-weight-semibold o-pr--2">
                    marco@gmail.com<i
                      class="icon-edit edit u-cursor-pointer o-ml--1"
                      data-micromodal-trigger="modal-update-email"
                    ></i
                  ></span>
                </p>
              </li>
              <li class="list__item">Modifica tu reserva online cuando quieras</li>
            </ul>
            <div
              class="banner-confirmation__buttons u-d-flex u-align-items-center u-justify-content-end margin-responsive"
            >
              <button class="btn btn--primary btn--primary__border">Ver reserva</button>
              <button class="btn btn--primary">
                Obtener tarjetas de embarque
              </button>
            </div>
          </div>
          <div class="banner-confirmation__footer u-w--100">
            <div class="g-box-link__wrapper u-d-flex u-justify-content-between u-align-items-md-center">
              <a href="#" class="g-box-link">
                <div class="u-d-flex">
                  <i class="icon-home2 u-text--gray icon"></i>
                  <div>
                    <p class="g-box-link--text u-text--gray">Reserva tu alojamiento</p>
                    <p class="g-box-link--text g-box-link--text-small u-text--text-light">
                      Los mejores precios en hoteles
                    </p>
                  </div>
                  <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
                </div>
              </a>
              <a href="#" class="g-box-link">
                <div class="u-d-flex">
                  <i class="icon-ticket u-text--gray icon"></i>
                  <div>
                    <p class="g-box-link--text u-text--gray">Diviértete en tu destino</p>
                    <p class="g-box-link--text g-box-link--text-small u-text--text-light">
                      Miles de eventos, atracciones y actividades
                    </p>
                  </div>
                  <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
                </div>
              </a>
              <a href="#" class="g-box-link">
                <div class="u-d-flex">
                  <i class="icon-taxi u-text--gray icon"></i>
                  <div>
                    <p class="g-box-link--text u-text--gray">Reserva un taxi</p>
                    <p class="g-box-link--text g-box-link--text-small u-text--text-light">
                      Haz tus desplazamientos más cómodos
                    </p>
                  </div>
                  <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="o-col-md-24 o-mb--4 o-mb-md--3">
        <div class="box g-extra-banner g-extra-banner--border">
          <div class="g-extra-banner__content u-d-flex u-align-items-center">
            <div class="g-extra-banner--info">
              <img src="../../../assets/img/balearia-club.svg" alt="ilustrationBalearia" class="img" />
              <div class="g-extra-banner--padding">
                <p class="title">Con Balearia Club, viajar tiene recompensa</p>
                <p class="text">
                  Crea tu cuenta y gana tus primeros <span class="u-font-weight-semibold"> 35 puntos!</span>
                </p>
              </div>
            </div>
            <div class="g-extra-banner--padding">
              <button class="btn btn--primary btn--primary__border btn--medium">Crear cuenta ahora</button>
            </div>
          </div>
        </div>
      </div>
      <div class="o-col-md-12 o-mb--4 o-mb-md--3">
        <div class="box banner-information u-d-flex u-align-items-center u-flex-column">
          <div class="banner-information__info u-d-md-flex o-mb--3">
            <img src="../../../assets/img/mobile.svg" alt="" class="o-mr--2 u-img--large o-mb--1 o-mb-md--0" />
            <div>
              <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                Descarga la app Balearia y consigue Wi-Fi gratis en el barco
              </h2>
              <p class="banner-information__subtitle u-label">
                Internet gratis, las tarjetas de embarque en tu móvil y entretenimiento a bordo
              </p>
            </div>
          </div>
          <div class="banner-information__action u-d-flex u-justify-content-end u-w--100 o-mt--0">
            <button
              class="btn btn--primary btn--primary__border btn--medium banner-information__btn u-d-block u-w-mobile--100"
              data-micromodal-trigger="modal-download-app"
            >
              Descargar la app
            </button>
          </div>
        </div>
      </div>
      <div class="o-col-md-12 o-mb--4 o-mb-md--3">
        <div class="box banner-information u-d-flex u-align-items-center u-flex-column">
          <div class="banner-information__info u-d-md-flex o-mb--3">
            <img
              src="../../../assets/img/whatsapp.svg"
              alt="whatsapp"
              class="o-mr--2 u-img--large o-mb--1 o-mb-md--0"
            />
            <div>
              <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                Recibe notificaciones sobre tu viaje por WhatsApp
              </h2>
              <p class="banner-information__subtitle u-label">
                Recibiras notificaciones relacionadas con tu viaje y las tarjetas de embarque
              </p>
            </div>
          </div>
          <div class="banner-information__action u-d-flex u-justify-content-end u-w--100 o-mt--0">
            <button
              class="btn btn--primary btn--primary__border btn--medium banner-information__btn u-d-block u-w-mobile--100"
              data-micromodal-trigger="modal-download-app"
            >
              Descargar la app
            </button>
          </div>
        </div>
      </div>
      <div class="o-col-md-24 o-mb--4 o-mb-md--3">
        <div class="box box--header">
          <div class="box__header u-d-flex u-align-items-center u-justify-content-between u-border--bottom-gray">
            <h2 class="box__header-title u-text--gray u-text">Tu viaje</h2>
            <button class="btn btn--primary box__header-btn">Mejora tu experiencia</button>
          </div>
          <div class="o-pt--3 o-pb--3">
            <div class="box-travel o-pl--3 o-pr--3">
              <div class="o-row u-align-items-center u-justify-content-between">
                <div
                  class="o-col-md-16 o-col-lg-13 u-d-flex u-align-items-center u-justify-content-center u-justify-content-md-between u-flex-wrap u-flex-md-nowrap"
                >
                  <div
                    class="box-travel__details u-d-flex u-align-items-center u-w-mobile--100 u-justify-content-between"
                  >
                    <div class="u-d-flex u-align-items-center u-justify-content-md-between">
                      <i class="icon-boat o-mr--2 box-travel__icon"></i>
                      <div>
                        <p class="box-travel__text u-text--gray">Ida</p>
                        <p class="box-travel__text u-text--secondary">Sábado, 29 enero 2021</p>
                      </div>
                    </div>
                    <a data-micromodal-trigger="detail" class="g-link u-d-md-none">Ver detalle</a>
                  </div>
                  <div class="box-time u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100">
                    <div class="box-time__text">
                      <p class="large">13:30</p>
                      <p class="small">Barcelona</p>
                    </div>
                    <div class="box-time__line">
                      <i class="icon-time icon"></i>
                      <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                    </div>
                    <div class="box-time__text">
                      <p class="large">19:00</p>
                      <p class="small">Mallorca</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-3 u-d-none u-d-md-block">
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-seat o-mr--2 box-travel__icon"></i>
                    <div>
                      <p class="box-travel__text u-text--gray u-font-weight-semibold">Asiento</p>
                      <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">Butaca Sirena</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-3 u-d-none u-d-md-block">
                  <p class="box-travel__text u-text--gray u-font-weight-semibold">
                    Tarifa Básica <i class="icon-info tooltips u-text--secondary o-ml--1"></i>
                  </p>
                  <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">
                    <i class="icon-check u-text--secondary icon--check"></i> Un sólo cambio
                  </p>
                </div>
                <div class="o-col-md-4 u-d-none u-d-md-block">
                  <p class="box-travel__text u-text--gray u-font-weight-semibold">Barco</p>
                  <p class="box-travel__text u-text--secondary">Abel Matutes, Smart ship</p>
                </div>
              </div>
            </div>
            <div class="box-travel o-pl--3 o-pr--3">
              <div class="o-row u-align-items-center u-justify-content-between">
                <div
                  class="o-col-md-16 o-col-lg-13 u-d-flex u-align-items-center u-justify-content-center u-justify-content-md-between u-flex-wrap u-flex-md-nowrap"
                >
                  <div
                    class="box-travel__details u-d-flex u-align-items-center u-w-mobile--100 u-justify-content-between"
                  >
                    <div class="u-d-flex u-align-items-center u-justify-content-md-between">
                      <i class="icon-boat o-mr--2 box-travel__icon"></i>
                      <div>
                        <p class="box-travel__text u-text--gray">Ida</p>
                        <p class="box-travel__text u-text--secondary">Sábado, 29 enero 2021</p>
                      </div>
                    </div>

                    <a data-micromodal-trigger="detail" class="g-link u-d-md-none">Ver detalle</a>
                  </div>
                  <div class="box-time u-d-flex u-align-items-center u-justify-content-between u-w-mobile--100">
                    <div class="box-time__text">
                      <p class="large">13:30</p>
                      <p class="small">Barcelona</p>
                    </div>
                    <div class="box-time__line">
                      <i class="icon-time icon"></i>
                      <p class="time"><span class="text">Duración</span> 6h - 50min</p>
                    </div>
                    <div class="box-time__text">
                      <p class="large">19:00</p>
                      <p class="small">Mallorca</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-3 u-d-none u-d-md-block">
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-seat o-mr--2 box-travel__icon"></i>
                    <div>
                      <p class="box-travel__text u-text--gray u-font-weight-semibold">Asiento</p>
                      <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">Butaca Sirena</p>
                    </div>
                  </div>
                </div>
                <div class="o-col-md-3 u-d-none u-d-md-block">
                  <p class="box-travel__text u-text--gray u-font-weight-semibold">
                    Tarifa Básica <i class="icon-info tooltips u-text--secondary o-ml--1"></i>
                  </p>
                  <p class="box-travel__text u-text--text-light u-d-flex u-align-items-center">
                    <i class="icon-check u-text--secondary icon--check"></i> Un sólo cambio
                  </p>
                </div>
                <div class="o-col-md-4 u-d-none u-d-md-block">
                  <p class="box-travel__text u-text--gray u-font-weight-semibold">Barco</p>
                  <p class="box-travel__text u-text--secondary">Abel Matutes, Smart ship</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="o-col-md-8 o-mb--4 o-mb-md--3">
        <div class="box box--header">
          <div class="box__header box__header--small u-d-flex u-align-items-center u-border--bottom-gray">
            <h2 class="box__header-title u-text--gray u-text">Información importante</h2>
          </div>
          <div class="box__header-content">
            <p class="box__header-text u-d-flex u-align-items-center u-text--text-light">
              <i class="icon-time box__header-icon u-text--gray"></i>Estar en el puerto 1,5 horas antes de la salida
            </p>
            <p class="box__header-text u-d-flex u-align-items-center u-text--text-light">
              <i class="icon-dni box__header-icon u-text--gray"></i>Todos los pasajeros deben llevar su DNI
            </p>
            <p class="box__header-text u-d-flex u-align-items-center u-text--text-light">
              <i class="icon-qr box__header-icon u-text--gray"></i>Todos los pasajeros deben llevar su tarjeta de
              embarque
            </p>
          </div>
        </div>
      </div>
      <div class="o-col-md-8 o-mb--4 o-mb-md--3">
        <div class="box box--header">
          <div
            class="box__header box__header--small u-d-flex u-align-items-center u-justify-content-between u-border--bottom-gray"
          >
            <h2 class="box__header-title u-text--gray u-text">Cómo llegar al puerto</h2>
          </div>
          <div class="box__header-content">
            <div class="u-d-flex u-align-items-center u-justify-content-between">
              <div class="o-mb--2 o-mb-md--0">
                <p
                  class="box__header-text box__header-text--small bold u-text--gray u-d-flex u-align-items-center o-mb--1"
                >
                  <i class="icon-boat box__header-icon-big"></i>Viaje de ida
                </p>
                <p class="box__header-text box__header-text--small">
                  Barcelona <i class="icon-arrow-right o-ml--1 o-mr--1"></i> Mallorca
                </p>
              </div>
              <a href="#" class="g-link">Cómo llegar</a>
            </div>
            <div class="u-d-flex u-align-items-center u-justify-content-between">
              <div>
                <p
                  class="box__header-text box__header-text--small bold u-text--gray u-d-flex u-align-items-center o-mb--1"
                >
                  <i class="icon-boat box__header-icon-big icon-rotate-left"></i>Viaje de vuelta
                </p>
                <p class="box__header-text box__header-text--small">
                  Barcelona <i class="icon-arrow-left o-ml--1 o-mr--1"></i> Mallorca
                </p>
              </div>
              <a href="#" class="g-link">Cómo llegar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="o-col-md-8 margin-responsive">
        <div class="box box--header">
          <div class="box__header box__header--small u-d-flex u-align-items-center u-border--bottom-gray">
            <h2 class="box__header-title u-text--gray u-text">¿Tienes dudas?</h2>
          </div>
          <div class="box__header-content">
            <div class="u-d-flex u-align-items-center">
              <img src="../../../assets/img/contact.svg" alt="" class="u-img--large o-mr--2" />
              <p class="u-text-default u-text-default--medium o-mb--3">
                Visita nuestro centro de ayuda y te resolveremos todas tus dudas
              </p>
            </div>
            <button class="btn btn--primary btn--primary__border btn--medium u-d-block u-w--100">
              Ir al centro de ayuda
            </button>
          </div>
        </div>
      </div>
      <div class="o-col-md-24 margin-responsive">
        <div class="box no-padding box--mobile">
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-passenger no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <span>Personas</span>
                  <p class="text--small u-text--text-light o-mr--2">3 adultos, 1 niño y 1 bebé</p>
                </div>
              </div>
              <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="table-responsive o-pl-lg--6">
                <div class="table-responsive__body">
                  <div class="table-responsive__row u-border--bottom-gray o-pb--1">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                      <p class="u-text--gray-light">Titular de la reserva</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 41536698W</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 2024
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> España</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 1989
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Hombre</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 41536698W</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 2024
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> España</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 1989
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Hombre</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 41536698W</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 2024
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> España</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 1989
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Hombre</div>
                  </div>
                  <div class="table-responsive__row">
                    <div class="table-responsive__cell first">
                      <p class="text-bold">Marco Cuadrado Redondo</p>
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 41536698W</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 2024
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> España</div>
                    <div class="table-responsive__cell">
                      <span class="text-small u-d-lg-none">Tipo</span> 12 abril 1989
                    </div>
                    <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Hombre</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-pet no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <span>Mascotas</span>
                  <p class="text--small u-text--text-light o-mr--2">2 mascotas</p>
                </div>
              </div>
              <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="g-dropdown-basic--bkg">
                <div class="table-responsive o-pl-lg--6 u-d-block">
                  <div class="table-responsive__body">
                    <div class="table-responsive__row">
                      <div class="table-responsive__cell first">
                        <p class="text-bold">Luna</p>
                      </div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> Perro grande
                      </div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> Butaca Petfriendly
                      </div>
                    </div>
                    <div class="table-responsive__row">
                      <div class="table-responsive__cell first">
                        <p class="text-bold">Sol</p>
                      </div>
                      <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> Adulto</div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> Habitáculo para mascotas
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider"
          >
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-car no-rotate o-mr--2"></i>
                <div
                  class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between"
                >
                  <span>Vehículos</span>
                  <p class="text--small u-text--text-light o-mr--2">1 vehículo, 1 equipaje</p>
                </div>
              </div>
              <i class="g-dropdown-basic__border--arrow icon-arrow-down"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="g-dropdown-basic--bkg">
                <div class="table-responsive o-pl-lg--6 u-d-block">
                  <div class="table-responsive__body">
                    <div class="table-responsive__row">
                      <div class="table-responsive__cell first">
                        <p class="text-bold">Coche o furgoneta</p>
                      </div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> Dacia Sandero
                      </div>
                      <div class="table-responsive__cell"><span class="text-small u-d-lg-none">Tipo</span> 2167JGT</div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> 2 metros de altura
                      </div>
                    </div>
                    <div class="table-responsive__row">
                      <div class="table-responsive__cell first">
                        <p class="text-bold">Canoa</p>
                      </div>
                      <div class="table-responsive__cell">
                        <span class="text-small u-d-lg-none">Tipo</span> 1 unidad
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider show">
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-change no-rotate o-mr--2"></i>
                <div class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between">
                  <span>Flexibilidad</span>
                  <p class="text--small u-text--text-light o-mr--2">Reserva tu comida ahora y ahorra hasta un 20%</p>
                </div>
              </div>
              <a class="btn btn--primary btn--small u-text-nowrap">Añadir</a>
            </button>
          </div>
          <div class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider show">
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-meal no-rotate o-mr--2"></i>
                <div class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between">
                  <span>Comida a bordo</span>
                  <p class="text--small u-text--text-light o-mr--2">Reserva tu comida ahora y ahorra hasta un 20%</p>
                </div>
              </div>
              <a class="btn btn--primary btn--small u-text-nowrap">Añadir</a>
            </button>
          </div>
          <div class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider show">
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-parking no-rotate o-mr--2"></i>
                <div class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between">
                  <span>Parking</span>
                  <p class="text--small u-text--text-light o-mr--2">Ahórrate disgustos y gana tranquilidad 20%</p>
                </div>
              </div>
              <a class="btn btn--primary btn--small u-text-nowrap">Añadir</a>
            </button>
          </div>
          <div class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider show">
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-desembarque-tardio-2 no-rotate o-mr--2"></i>
                <div class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between">
                  <span>Desembarque tardío</span>
                  <p class="text--small u-text--text-light o-mr--2">Ahórrate disgustos y gana tranquilidad 20%</p>
                </div>
              </div>
              <a class="btn btn--primary btn--small u-text-nowrap">Añadir</a>
            </button>
          </div>
          <div class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider show">
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-insurance-ok no-rotate o-mr--2"></i>
                <div class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between">
                  <span>Seguro anulación</span>
                  <p class="text--small u-text--text-light o-mr--2">Reserva tu comida ahora y ahorra hasta un 20%</p>
                </div>
              </div>
              <a class="btn btn--primary btn--small u-text-nowrap">Añadir</a>
            </button>
          </div>
          <div class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table u-w--100 g-dropdown-divider show">
            <button class="g-dropdown-basic--btn u-d-flex u-align-items-center u-justify-content-between">
              <div class="u-w--100 u-d-flex u-align-items-center">
                <i class="icon-car3 no-rotate o-mr--2"></i>
                <div class="u-w--100 u-d-flex u-flex-column u-flex-lg-row u-align-items-start u-align-items-lg-center u-justify-content-between">
                  <span>Transporte</span>
                  <p class="text--small u-text--text-light o-mr--2">Reserva tu comida ahora y ahorra hasta un 20%</p>
                </div>
              </div>
              <a class="btn btn--primary btn--small u-text-nowrap">Añadir</a>
            </button>
          </div>
        </div>
      </div>
      <div class="o-col-md-24">
        <div class="box no-padding box--mobile">
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table dropdown-collapse-table--edit u-w--100 g-dropdown-divider"
          >
            <div class="dropdown-collapse__header u-w--100">
              <button class="g-dropdown-basic--btn u-text u-d-flex u-align-items-center u-justify-content-between">
                <div class="u-d-flex u-align-items-center">
                  <i class="icon-user no-rotate o-mr--2"></i>
                  <span class="u-text--text-gray">Datos de contacto</span>
                </div>
                <div class="details">
                  <p class="details-text text--small u-text--text-light o-mb--2">
                    Si surge algun problema o cambio te informaremos a través de estos canales de contacto
                  </p>
                  <div class="u-d-flex u-align-items-md-center u-flex-column u-flex-md-row">
                    <p class="details-text text--small u-text--text-light o-mr--2 u-d-flex u-align-items-center">
                      <i class="icon-mail no-rotate o-mr--1"></i>marco@gmail.com
                    </p>
                    <p class="details-text text--small u-text--text-light u-d-flex u-align-items-center">
                      <i class="icon-calling no-rotate o-mr--1"></i>marco@gmail.com
                    </p>
                  </div>
                </div>
                <div class="u-w-tablet--100 u-d-flex u-align-items-center u-justify-content-end">
                  <a
                    class="btn btn--secondary btn--secondary__ghost btn--small"
                    data-micromodal-trigger="modal-gestion-anulacion"
                    >Modificar</a
                  >
                </div>
              </button>
            </div>
          </div>
          <div
            class="g-dropdown-basic dropdown-list dropdown-collapse dropdown-collapse-table dropdown-collapse-table--edit u-w--100 g-dropdown-divider o-mt--2"
          >
            <div class="dropdown-collapse__header u-w--100">
              <button class="g-dropdown-basic--btn u-text u-d-flex u-align-items-center u-justify-content-between">
                <div class="u-d-flex u-align-items-center">
                  <i class="icon-credit-card no-rotate o-mr--2"></i>
                  <span class="u-text--text-gray">Datos de pago</span>
                </div>
                <div class="details">
                  <p class="details-text text--small u-text--text-gray u-d-flex u-align-items-center">
                    <img src="../../../assets/img/visa.svg" alt="" class="o-mr--1" /> Visa terminada en
                    <span class="o-ml--1 u-font-weight-semibold">6788</span>
                  </p>
                </div>
                <div class="u-d-lg-none u-w--100 u-d-flex u-align-items-center u-justify-content-end">
                  <a class="btn btn--secondary btn--secondary__ghost btn--small">Modificar</a>
                </div>
                <div class="summary u-d-flex u-align-items-center u-justify-content-between u-justify-content-lg-end">
                  <p class="u-text--secondary price">87,70 €</p>
                  <a
                    class="btn btn--secondary btn--secondary__ghost btn--small text"
                    data-micromodal-trigger="modal-desglose-precio"
                    >Ver desglose</a
                  >
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="footer-small footer-small--spacer o-mt--0">
  <div class="o-container">
    <button class="btn btn--secondary floating-btn">
      <i class="icon-chat icon"></i>
      Ayuda
    </button>
    <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
      <div class="footer-small__info">
        <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
      </div>
      <div class="footer-small__links">
        <a href="" class="footer-small__link">Política de cookies</a>
        <a href="" class="footer-small__link">Política de privacidad</a>
        <a href="" class="footer-small__link">Condiciones de uso</a>
      </div>
    </div>
  </div>
</section>
