<div class="js-ui-extras u-bg--lighter">
  <!-- Header -->
  <div class="g-nav-sticky">
    <div class="g-header g-header--button">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
        <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
          <i class="icon-arrow-left2 back o-mr--3"></i>
          <p class="title">Selecciona hora y aomodación</p>
        </div>
        <div class="g-header__logo mobile-none">
          <a class="u-text--no-underline">
            <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
          </a>
        </div>
        <button class="btn btn--secondary g-header__btn">
          <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo.svg" alt="" class="mobile-none g-header__btn--logo" />
          <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
        </button>
      </div>
    </div>
    <div class="bar-items u-d-flex u-align-items-center">
      <div class="o-container u-d-flex u-align-items-center u-justify-content-between">
        <div class="bar-items__text">
          <div class="u-d-flex u-align-items-center">
            <p class="text">Barcelona</p>
            <i class="icon-arrow-doble icon o-ml--2 o-mr--2"></i>
            <p class="text">Mallorca</p>
          </div>
          <ul class="bar-items__list u-d-flex u-align-items-center u-justify-content-between">
            <li class="bar-items__item u-d-flex u-align-items-center">
              15 dic <span class="mobile-none">2021</span>- 16 dic
              <span class="mobile-none">2021</span>
            </li>
            <li class="bar-items__item u-d-flex u-align-items-center">2 personas</li>
            <li class="bar-items__item u-d-flex u-align-items-center">1 vehículo</li>
            <li class="bar-items__item u-d-flex u-align-items-center">3 mascotas</li>
          </ul>
        </div>
        <div class="bar-items__buttons u-d-flex u-align-items-center">
          <div class="g-dropdown-basic g-dropdown-basic--details dropdown-list g-dropdown-basic--empty">
            <button class="g-dropdown-basic--btn">
              <p>
                <span class="u-d-block total">Total</span>
                <span class="u-d-block price"><span class="js-summary__total">0,00</span> €</span>
              </p>
              <i class="icon-arrow-down o-ml--1"></i>
            </button>
            <div class="g-dropdown-basic--content">
              <div class="js-dropdown-data g-dropdown-basic--bkg details">
                <div
                  class="g-dropdown__header u-border--bottom-gray u-d-flex u-d-lg-none u-align-items-center u-justify-content-between o-pl--2 o-pr--2 o-mb--2"
                >
                  <p class="title">Tu reserva</p>
                  <i class="icon-close icon"></i>
                </div>
                <div class="g-dropdown__content">
                  <div class="u-d-flex">
                    <i class="icon-arrow-right icon-green"></i>
                    <div
                      class="js-outbound js-travel-box js-outbound-data information u-w--100"
                      data-outbound-total="0"
                    >
                      <p class="title--small o-mb--2">Viaje de ida</p>
                      <h2 class="title">Alcúdia a Barcelona</h2>
                      <p class="text">15 diciembre 2021 a las 13:00. llegada 10:00</p>
                      <p class="text">
                        <span class="js-total-passenger">3</span> pasajeros en
                        <span class="js-accomodation-out-name">Butaca Sirena</span>
                      </p>
                      <div
                        class="details__wrapper u-align-items-center u-justify-content-between u-border--top-gray o-mt--2 o-pt--2 o-pb--2"
                      >
                        <div class="u-d-flex u-justify-content-between o-mb--1">
                          <button class="js-details-out-btn details__btn">
                            <p>Precio total ida</p>
                            <i class="icon-arrow-down o-ml--1"></i>
                          </button>
                          <p><span class="js-total u-font-weight-semibold">32,00</span> €</p>
                        </div>
                        <ul class="js-details-list details__list active">
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text u-text--text-light">Asiento preasignado Básico  ·  4H, 4L</p>
                            <p class="details__list-text u-text--gray u-font-weight-semibold">
                              <span class="js-adult-total">2 x 10,00</span> €
                            </p>
                          </li>
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text u-text--text-light">Asiento primera fila  ·  1G</p>
                            <p class="details__list-text u-text--gray u-font-weight-semibold">
                              <span class="js-seniors60-total">1 x 10,00</span> €
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="u-d-flex u-border--top-gray o-pt--2">
                    <i class="icon-arrow-left icon-green"></i>
                    <div class="js-inbound js-travel-box js-inbound-data information u-w--100" data-inbound-total="0">
                      <p class="title--small o-mb--2">Viaje de vuelta</p>
                      <h2 class="title">Barcelona a Alcúdia</h2>
                      <p class="text">15 diciembre 2021 a las 13:00. llegada 10:00</p>
                      <p class="text">
                        <span class="js-total-passenger">4</span> pasajeros en
                        <span class="js-accomodation-in-name">Butaca Sirena</span>
                      </p>
                      <div class="u-bg o-p--2 u-br--8">
                        <p class="u-text--fz-14">Podrás elegir asiento en el siguiente paso</p>
                      </div>
                      <div
                        class="details__wrapper u-align-items-center u-justify-content-between u-border--top-gray o-mt--2 o-pt--2 o-pb--2"
                      >
                        <div class="u-d-flex u-justify-content-between o-mb--1">
                          <button class="js-details-in-btn details__btn">
                            <p>Precio total vuelta</p>
                            <i class="icon-arrow-down o-ml--1"></i>
                          </button>
                          <p><span class="js-total u-font-weight-semibold">0,00</span> €</p>
                        </div>
                        <ul class="js-details-list details__list active">
                          <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                            <p class="details__list-text u-text--text-light">Asiento Básico  ·  2K, 2L, 2M </p>
                            <p class="details__list-text u-text--gray u-font-weight-semibold">
                              <span class="js-adult-total">3 x 10,00</span> €
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="g-dropdown__content">
                  <div class="details__footer u-d-flex u-justify-content-between u-border--top-gray o-pt--2 o-mt--2">
                    <div>
                      <p class="title--small o-pl--2">Total</p>
                    </div>
                    <p class="title"><span class="js-summary__total">25,00 </span>€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--primary o-ml--2 bar-items__btn">
            Continuar a extras<i class="icon-arrow-right u-d-none u-d-md-block"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>