<div class="o-container">
  <div class="o-row">
    <div class="o-col-md-24">
      <div class="box banner-confirmation u-w--100 u-d-md-flex u-flex-wrap">
        <div class="banner-confirmation__img">
          <img src="../../../assets/img/true-idea.svg" alt="ilustration" class="img" />
        </div>
        <div class="banner-confirmation__box">
          <div class="u-d-lg-flex u-align-items-center u-justify-content-between">
            <div>
              <p class="u-text o-mb--1">¡Gracias Marco!</p>
              <h2 class="u-sub-title banner-confirmation__title">Tu reserva a Mallorca confirmada!</h2>
            </div>
            <div>
              <p class="u-text o-mb--1">Tu localizador</p>
              <h2 class="u-sub-title u-text--secondary">CQYP050</h2>
            </div>
          </div>
          <ul class="list list--check u-w--100">
            <li class="list__item">
              <p>
                Hemos enviado la confirmación a
                <span class="u-text--secondary u-font-weight-semibold o-pr--2">
                  marco@gmail.com<i
                    class="icon-edit edit u-cursor-pointer o-ml--1"
                    data-micromodal-trigger="modal-update-email"
                  ></i
                ></span>
              </p>
            </li>
            <li class="list__item">Modifica tu reserva online cuando quieras</li>
          </ul>
          <div
            class="banner-confirmation__buttons u-d-flex u-align-items-center u-justify-content-end margin-responsive"
          >
            <button class="btn btn--primary btn--primary__border">Ver reserva</button>
            <button class="btn btn--primary" data-micromodal-trigger="modal-download-app3">
              Descargar tarjetas de embarque
            </button>
          </div>
        </div>
        <div class="banner-confirmation__footer u-w--100">
          <div class="g-box-link__wrapper u-d-flex u-justify-content-between u-align-items-md-center">
            <a href="#" class="g-box-link">
              <div class="u-d-flex">
                <i class="icon-home2 u-text--secondary icon"></i>
                <div>
                  <p class="g-box-link--text u-text--gray">Reserva tu alojamiento</p>
                  <p class="g-box-link--text g-box-link--text-small u-text--text-light">
                    Los mejores precios en hoteles
                  </p>
                </div>
                <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
              </div>
            </a>
            <a href="#" class="g-box-link">
              <div class="u-d-flex">
                <i class="icon-ticket u-text--secondary icon"></i>
                <div>
                  <p class="g-box-link--text u-text--gray">Diviértete en tu destino</p>
                  <p class="g-box-link--text g-box-link--text-small u-text--text-light">
                    Miles de eventos, atracciones y actividades
                  </p>
                </div>
                <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
              </div>
            </a>
            <a href="#" class="g-box-link">
              <div class="u-d-flex">
                <i class="icon-taxi u-text--secondary icon"></i>
                <div>
                  <p class="g-box-link--text u-text--gray">Reserva un taxi</p>
                  <p class="g-box-link--text g-box-link--text-small u-text--text-light">
                    Haz tus desplazamientos más cómodos
                  </p>
                </div>
                <img class="g-box-link--arrow" src="../../../assets/img/arrow-right.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
