<section class="footer-small">
  <div class="o-container">
    <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
      <div class="footer-small__info">
        <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
      </div>
      <div class="footer-small__links">
        <a href="" class="footer-small__link">Política de cookies</a>
        <a href="" class="footer-small__link">Política de privacidad</a>
        <a href="" class="footer-small__link">Condiciones de uso</a>
      </div>
    </div>
  </div>
</section>
