<div class="o-container">
  <div class="o-row">
    <div class="o-col-md-24">
      <div class="box box-offer u-d-flex u-align-items-center u-justify-content-between">
        <div class="u-d-flex u-align-items-center">
          <div class="box-offer__number u-d-flex u-align-items-center u-justify-content-center o-mr--3">
            <i class="icon-ticket box-offer__icon"></i> 3
          </div>
          <h3 class="box-offer__title u-text--gray">Ofertas y promociones aplicables</h3>
        </div>
        <i class="icon-arrow-right2 u-text--secondary"></i>
      </div>
    </div>
  </div>
</div>
