<div class="o-container">
  <div class="o-row">
    <div class="o-col-md-12">
      <div class="g-card-radio active">
        <div class="u-d-flex u-align-items-center">
          <i class="g-card-radio--icon icon-boat"></i>
          <p class="g-card-radio--title">Viaje de ida</p>
        </div>
        <label class="g-switch g-switch--large g-switch--second">
          <input type="checkbox" checked="" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="o-col-md-12">
      <div class="g-card-radio">
        <div class="u-d-flex u-align-items-center">
          <i class="g-card-radio--icon icon-boat"></i>
          <p class="g-card-radio--title">Viaje de ida</p>
        </div>
        <label class="g-switch g-switch--large">
          <input type="checkbox" checked="" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
</div>
