<section class="g-header--fixed">
  <div class="g-header g-header--button g-header--button-lg">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-center u-h--100">
      <div class="g-header__back u-d-flex u-align-items-center u-justify-content-start u-w--100 desktop-none">
        <i class="icon-arrow-left2 back o-mr--3"></i>
        <p class="title">Ya casi estás, finaliza tu reserva</p>
      </div>
      <p class="g-header__text u-d-flex u-align-items-center mobile-none">
        <i class="icon-lock icon o-mr--1"></i> Pago 100% seguro
      </p>
      <div class="g-header__logo mobile-none">
        <a href="javascript:void(0)" class="u-text--no-underline">
          <img src="../../../assets/img/logo-formentera.svg" alt="logo" class="img" />
        </a>
      </div>
      <button class="btn btn--secondary g-header__btn">
        <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" class="mobile-none" />
        <span class="g-header__btn-text o-ml--1 mobile-none">Club</span>
      </button>
    </div>
  </div>
</section>
<section class="section__fixed-wrapper u-bg--lighter">
  <div class="o-container">
    <div class="o-row">
      <div class="o-col-24">
        <div class="mobile-none">
          <div class="g-back-btn o-pb--3 o-pt--6 u-border--bottom-gray">
            <i class="g-back-btn--arrow icon-arrow-left2"></i>
            <p class="g-back-btn--text">Ya casi estás, finaliza tu reserva</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section__fixed u-d-flex u-justify-content-between u-w--100 u-h--100">
      <div class="section__fixed-scroll u-w--100">
        <div
          class="box banner-information u-d-flex u-align-items-center u-justify-content-between o-mb--3 o-mt--3 o-mt-lg--0"
        >
          <div class="banner-information__info u-d-md-flex u-align-items-center">
            <i class="icon-info banner-information__icon o-mr--1"></i>
            <div>
              <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                ¿Ya formas parte del Balearia Club?
                <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
              </h2>
              <p class="banner-information__subtitle u-label">Ahorra en esta reserva usando tus puntos</p>
            </div>
          </div>
          <div class="mobile-none">
            <button class="btn btn--primary btn--medium banner-information__btn">Acceder</button>
          </div>
          <div class="u-w--100 u-text-center o-mt--3 u-d-md-none">
            <i class="icon-arrow-down g-icon--green"></i>
          </div>
        </div>
        <div class="box no-shadow alert alert--info u-d-flex u-align-items-lg-center o-mb--3">
          <i class="icon-info alert__icon"></i>
          <div class="alert__info">
            <div class="g-message--info">
              <p class="alert__text">Sube al barco el día y hora que prefieras</p>
              <p class="g-message--info__subtitle">No hace falta seleccionar fechas ni horas. Salen 17 barcos al día</p>
            </div>
          </div>
        </div>
        <!-- Datos pasajeros -->
        <div class="box g-dropdown-basic dropdown-list dropdown-collapse u-w--100 o-mb--3 show">
          <button class="g-dropdown-basic--btn u-text">1 · Datos de pasajeros</button>
          <div class="g-dropdown-basic--content">
            <div class="g-dropdown-basic--bkg u-border--top-gray">
              <form action="">
                <!-- Pasajero 1 -->
                <div class="o-row">
                  <div class="o-col-24 margin-responsive">
                    <h3 class="box--title">Datos de contacto</h3>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-10 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Nombre</label>
                    </div>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-10 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Email</label>
                    </div>
                  </div>
                </div>
                <div
                  class="box--line banner-information banner-information--small banner-information--active u-d-flex u-align-items-center u-justify-content-between o-mb--3"
                >
                  <div class="banner-information__info u-d-md-flex u-align-items-start u-w--100 o-pr--1">
                    <img
                      class="o-mr--2 banner-information__icon banner-information__icon--svg"
                      src="./../../../assets/img/mobile.svg"
                      alt=""
                    />
                    <div class="u-w--100">
                      <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                        Recibe tu tarjeta de embarque por Whatsapp gratis
                        <i class="icon-info tooltips tooltip--with-hover o-ml--1"></i>
                      </h2>
                      <p class="banner-information__subtitle u-label">
                        Recibe tu tarjeta de embarque por Whatsapp gratis
                      </p>
                      <div class="banner-information__content u-border--top-gray o-mt--2 o-pt--2">
                        <p class="banner-information__subtitle u-label o-mb--2">
                          ¿En qué teléfono quieres recibir la tarjeta de embarque?
                        </p>
                        <div class="select-input u-w--100">
                          <select class="form__select" id="extra" name="extra" required>
                            <option value="" selected>+31</option>
                            <option value="tinted">+58</option>
                            <option value="turbo">+51</option>
                            <option value="speed">+56</option>
                          </select>
                          <div class="form__input-wrapper u-w--100">
                            <input class="g-input form__input" type="text" name="label" placeholder=" " />
                            <label>Teléfono</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="banner-information__action">
                    <label class="g-switch g-switch--second">
                      <input type="checkbox" checked />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="o-row o-mb--4 o-mt--4">
                  <div class="o-col-md-12 o-col-lg-24 u-d-flex u-align-items-center">
                    <div class="g-calendar--check">
                      <label class="control control--checkbox"
                        >Todos los pasajeros de la reserva son Residentes en Baleares
                        <i class="icon-info tooltips tooltip--with-hover u-text--secondary"></i>
                        <input type="checkbox" />
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Pasajero 1 -->
                <div class="o-row o-mb--3">
                  <div class="o-col-24">
                    <h3 class="box--title">Pasajero 1 <span class="box--text box--text-light o-ml--3">Adulto</span></h3>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-8 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Nombre</label>
                    </div>
                  </div>
                  <div class="o-col-md-12 o-col-lg-8 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Primer apellido</label>
                    </div>
                  </div>
                  <div class="o-col-md-12 o-col-lg-8 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Segundo apellido</label>
                    </div>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-9 margin-responsive">
                    <div class="select-input u-w--100">
                      <select class="form__select" id="extra" name="extra" required>
                        <option value="" selected>DNI</option>
                        <option value="tinted">DNI</option>
                        <option value="turbo">DNI</option>
                        <option value="speed">DNI</option>
                      </select>
                      <div class="form__input-wrapper u-w--100">
                        <input class="g-input form__input" type="text" name="label" placeholder=" " />
                        <label>Documento de identidad</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="o-row o-mb--4 o-mt--2">
                  <div class="o-col-md-12 o-col-lg-24 u-d-flex u-align-items-center">
                    <p class="u-text-default">Todos los pasajeros de la reserva son Residentes en Baleares</p>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-12 margin-responsive">
                    <div class="form__input-wrapper">
                      <select class="form__select" id="extra" name="extra" required="">
                        <option value="" selected=""></option>
                        <option value="tinted">Localidad</option>
                        <option value="turbo">Label</option>
                        <option value="speed">Label</option>
                      </select>
                      <label>Localidad</label>
                    </div>
                  </div>
                  <div class="o-col-md-12 o-col-lg-12 margin-responsive">
                    <div class="form__input-wrapper">
                      <select class="form__select" id="extra" name="extra" required="">
                        <option value="" selected=""></option>
                        <option value="tinted">Tipo de documento acreditativo</option>
                        <option value="turbo">Label</option>
                        <option value="speed">Label</option>
                      </select>
                      <label>Tipo de documento acreditativo</label>
                    </div>
                  </div>
                </div>
                <div class="o-row o-mb--4 o-mt--2">
                  <div class="o-col-md-12 o-col-lg-24 u-d-flex u-align-items-center">
                    <div class="g-calendar--check">
                      <label class="control control--checkbox"
                        >¿Necesitas asistencia especial?
                        <i class="icon-info tooltips tooltip--with-hover u-text--secondary"></i>
                        <input type="checkbox" />
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Pasajero 2 -->
                <div class="o-row o-mb--3">
                  <div class="o-col-24">
                    <h3 class="box--title">Pasajero 2 <span class="box--text box--text-light o-ml--3">Adulto</span></h3>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-8 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Nombre</label>
                    </div>
                  </div>
                  <div class="o-col-md-12 o-col-lg-8 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Primer apellido</label>
                    </div>
                  </div>
                  <div class="o-col-md-12 o-col-lg-8 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Segundo apellido</label>
                    </div>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-9 margin-responsive">
                    <div class="select-input u-w--100">
                      <select class="form__select" id="extra" name="extra" required>
                        <option value="" selected>DNI</option>
                        <option value="tinted">DNI</option>
                        <option value="turbo">DNI</option>
                        <option value="speed">DNI</option>
                      </select>
                      <div class="form__input-wrapper u-w--100">
                        <input class="g-input form__input" type="text" name="label" placeholder=" " />
                        <label>Documento de identidad</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="o-row o-mb--4 o-mt--2">
                  <div class="o-col-md-12 o-col-lg-24 u-d-flex u-align-items-center">
                    <p class="u-text-default">Todos los pasajeros de la reserva son Residentes en Baleares</p>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-12 margin-responsive">
                    <div class="form__input-wrapper">
                      <select class="form__select" id="extra" name="extra" required="">
                        <option value="" selected=""></option>
                        <option value="tinted">Localidad</option>
                        <option value="turbo">Label</option>
                        <option value="speed">Label</option>
                      </select>
                      <label>Localidad</label>
                    </div>
                  </div>
                  <div class="o-col-md-12 o-col-lg-12 margin-responsive">
                    <div class="form__input-wrapper">
                      <select class="form__select" id="extra" name="extra" required="">
                        <option value="" selected=""></option>
                        <option value="tinted">Tipo de documento acreditativo</option>
                        <option value="turbo">Label</option>
                        <option value="speed">Label</option>
                      </select>
                      <label>Tipo de documento acreditativo</label>
                    </div>
                  </div>
                </div>
                <div class="o-row o-mb--4 o-mt--2">
                  <div class="o-col-md-12 o-col-lg-24 u-d-flex u-align-items-center">
                    <div class="g-calendar--check">
                      <label class="control control--checkbox"
                        >¿Necesitas asistencia especial?
                        <i class="icon-info tooltips tooltip--with-hover u-text--secondary"></i>
                        <input type="checkbox" />
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Pasajero 3 -->
                <div class="o-row o-mb--3">
                  <div class="o-col-24">
                    <h3 class="box--title">Pasajero 3 <span class="box--text box--text-light o-ml--3">Adulto</span></h3>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-8 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Nombre</label>
                    </div>
                  </div>
                  <div class="o-col-md-12 o-col-lg-8 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Primer apellido</label>
                    </div>
                  </div>
                  <div class="o-col-md-12 o-col-lg-8 margin-responsive">
                    <div class="form__input-wrapper">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Segundo apellido</label>
                    </div>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-9 margin-responsive">
                    <div class="select-input u-w--100">
                      <select class="form__select" id="extra" name="extra" required>
                        <option value="" selected>DNI</option>
                        <option value="tinted">DNI</option>
                        <option value="turbo">DNI</option>
                        <option value="speed">DNI</option>
                      </select>
                      <div class="form__input-wrapper u-w--100">
                        <input class="g-input form__input" type="text" name="label" placeholder=" " />
                        <label>Documento de identidad</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="o-row o-mb--4 o-mt--2">
                  <div class="o-col-md-12 o-col-lg-24 u-d-flex u-align-items-center">
                    <p class="u-text-default">Todos los pasajeros de la reserva son Residentes en Baleares</p>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-12 o-col-lg-12 margin-responsive">
                    <div class="form__input-wrapper">
                      <select class="form__select" id="extra" name="extra" required="">
                        <option value="" selected=""></option>
                        <option value="tinted">Localidad</option>
                        <option value="turbo">Label</option>
                        <option value="speed">Label</option>
                      </select>
                      <label>Localidad</label>
                    </div>
                  </div>
                  <div class="o-col-md-12 o-col-lg-12 margin-responsive">
                    <div class="form__input-wrapper">
                      <select class="form__select" id="extra" name="extra" required="">
                        <option value="" selected=""></option>
                        <option value="tinted">Tipo de documento acreditativo</option>
                        <option value="turbo">Label</option>
                        <option value="speed">Label</option>
                      </select>
                      <label>Tipo de documento acreditativo</label>
                    </div>
                  </div>
                </div>
                <div class="o-row o-mb--4 o-mt--2">
                  <div class="o-col-md-12 o-col-lg-24 u-d-flex u-align-items-center">
                    <div class="g-calendar--check">
                      <label class="control control--checkbox"
                        >¿Necesitas asistencia especial?
                        <i class="icon-info tooltips tooltip--with-hover u-text--secondary"></i>
                        <input type="checkbox" />
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="o-row">
                  <div class="o-col-md-8">
                    <button class="btn btn--primary u-w--100">Guardar y continuar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Datos del pago -->
        <div class="box g-dropdown-basic dropdown-list dropdown-collapse disabled u-w--100">
          <button class="g-dropdown-basic--btn u-text">2 · Datos de pago</button>
          <div class="g-dropdown-basic--content">
            <div class="g-dropdown-basic--bkg u-border--top-gray">content</div>
          </div>
        </div>
      </div>

      <div class="section__fixed-sidebar">
        <div class="g-dropdown-basic dropdown-list g-dropdown-basic--details u-w--100">
          <button class="g-dropdown-basic--btn u-w--100 desktop-none">
            <p>
              <span class="u-d-block">Total</span>
              <span class="u-d-block">70,00 €</span>
            </p>
            <i class="icon-arrow-down o-ml--1"></i>
          </button>
          <div class="g-dropdown-basic--content">
            <div class="g-dropdown-basic--bkg details">
              <div
                class="g-dropdown__header u-border--bottom-gray u-d-flex u-d-lg-none u-align-items-center u-justify-content-between o-pl--2 o-pr--2 o-mb--2"
              >
                <p class="title">Tu reserva</p>
                <i class="icon-close icon"></i>
              </div>
              <div class="g-dropdown__content">
                <div class="u-d-flex">
                  <i class="icon-arrow-doble icon-green"></i>
                  <div class="information u-w--100">
                    <p class="title--small o-mb--2">Billetes ida y vuelta:</p>
                    <h2 class="title">Mallorca a Barcelona</h2>
                    <p class="text">4 passajeros en Butaca Sirena</p>
                    <div class="details__wrapper u-align-items-center u-justify-content-between o-mt--2">
                      <div class="u-d-flex u-justify-content-between u-border--top-gray o-pt--2 o-pb--2">
                        <button class="details__btn">
                          <p>Precio total</p>
                          <i class="icon-arrow-down icon-green o-ml--1"></i>
                        </button>
                        <p>20,00 €</p>
                      </div>
                      <!-- add class active -->
                      <ul class="details__list">
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Adultos</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Niños</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Bebés</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Coche o furgoneta</p>
                          <p class="u-font-weight-semibold">1 x 10,00 €</p>
                        </li>
                      </ul>
                      <ul class="details__list">
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Seguro de viaje</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                        <li class="u-d-flex u-align-items-center u-justify-content-between o-mb--1">
                          <p class="details__list-text">Menú desayuno</p>
                          <p class="u-font-weight-semibold">2 x 10,00 €</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="u-d-flex u-justify-content-between u-border--top-gray o-pt--2 o-pb--2">
                  <div class="u-d-flex u-align-items-center">
                    <i class="icon-discount o-ml--1 o-mr--1 g-icon--green g-icon--medium"></i>
                    <p>Descuento código promocional</p>
                  </div>
                  <p>-25,00 €</p>
                </div>
                <div
                  class="details__footer u-d-flex u-justify-content-between u-border--top-gray o-pt--4 u-align-items-center"
                >
                  <div>
                    <p class="title--small">Total</p>
                  </div>
                  <p class="title">25,00 €</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer-small">
  <div class="o-container">
    <button class="btn btn--secondary floating-btn">
      <i class="icon-chat icon"></i>
      Ayuda
    </button>
    <div class="footer-small__row u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3">
      <div class="footer-small__info">
        <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
      </div>
      <div class="footer-small__links">
        <a href="" class="footer-small__link">Política de cookies</a>
        <a href="" class="footer-small__link">Política de privacidad</a>
        <a href="" class="footer-small__link">Condiciones de uso</a>
      </div>
    </div>
  </div>
</section>
