<div class="o-container">
  <div class="o-row">
    <div class="o-col-lg-12 u-border-lg--right-gray">
      <div class="g-card-accountant">
        <div class="u-d-flex u-align-items-center">
          <i class="g-card-radio--icon icon-boat"></i>
          <p class="g-card-radio--title">Viaje de ida</p>
        </div>
        <div class="g-accountant--item">
          <div class="g-accountant--item__nro">
            <span class="nro">0 unidades</span>
            <button class="btn btn--primary btn--icon btn--icon__small btn--small delete">
              <i class="icon-delete"></i>
            </button>
            <button class="btn btn--primary btn--icon btn--icon__small btn--small add">
              <i class="icon-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
