<div class="o-container">
  <div class="o-row o-mb--3">
    <div class="o-col-md-4">
      <div class="box-radio">
        <input type="radio" id="id1" name="drone" />
        <label for="id1" class="label u-d-flex u-align-items-center">
          <i class="icon-seat icon"></i>
          <div class="box-radio__text">
            <p class="box-radio__title">Butacas <span class="small">desde</span></p>
            <p class="box-radio__text-bold">20,00€</p>
          </div>
        </label>
      </div>
    </div>
    <div class="o-col-md-4">
      <div class="box-radio">
        <input type="radio" id="id2" name="drone" />
        <label for="id2" class="label u-d-flex u-align-items-center">
          <i class="icon-cabin icon"></i>
          <div class="box-radio__text">
            <p class="box-radio__title">Camarote <span class="small">desde</span></p>
            <p class="box-radio__text-bold">150,00€</p>
          </div>
        </label>
      </div>
    </div>
    <div class="o-col-md-4">
      <div class="box-radio disabled tooltips">
        <div class="tooltips__content">
          <p class="tooltips__title u-d-flex u-align-items-center">
            <i class="icon-alert tooltips__icon o-mr--1"></i>Este barco no tiene camarotes
          </p>
        </div>
        <input type="radio" id="id2" name="drone" />
        <label for="id2" class="label u-d-flex u-align-items-center">
          <i class="icon-cabin icon"></i>
          <div class="box-radio__text">
            <p class="box-radio__title">Camarote <span class="small">desde</span></p>
            <p class="box-radio__text-bold">150,00€</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="o-row">
    <div class="o-col-md-4">
      <div class="box-radio check">
        <input type="radio" id="id4" name="drone" />
        <label for="id4" class="label u-d-flex u-align-items-center">
          <span class="g-radiobtn--checkmark"></span>
          <div>hola</div>
        </label>
      </div>
    </div>
  </div>
</div>
