<section class="o-container">
  <div class="o-row">
    <div class="o-col-md-24">
      <div class="g-outstanding">
        <img class="g-outstanding--bkg" src="../../../assets/img/outstanding.jpeg" alt="">
        <div class="g-outstanding--info">
          <img class="logo" src="../../../assets/img/rumbo-verde.png" alt="">
          <p class="subtitle">Es nuestro #RumboVerde</p>
          <h3 class="title o-mb--2">Queremos navegar hacia un mundo más sostenible</h3>
          <button class="btn btn--transparent">Quiero saber más<i class="icon-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>