<div class="o-container">
  <div class="o-row">
    <div class="o-col-md-24 o-mb--3">
      <div class="box box--medium-padding slider--small o-mb--3">
        <div class="g-extra-banner">
          <div class="g-extra-banner--info">
            <i class="icon icon-user"></i>
            <div>
              <p class="title">Ahorra hasta un 20% con los Bonos Restaurante</p>
              <p class="text">Canjea fácilmente los menús con el código QR de tu tarjeta de embarque</p>
            </div>
          </div>
          <button class="btn btn--primary btn--medium">Descúbrelos</button>
        </div>
      </div>
    </div>
    <div class="o-col-md-24 o-mb--3">
      <div class="box g-extra-banner g-extra-banner--border">
        <div class="g-extra-banner__content u-d-flex u-align-items-center">
          <div class="g-extra-banner--info">
            <img src="../../../assets/img/balearia-club.svg" alt="ilustrationBalearia" class="img" />
            <div class="g-extra-banner--padding">
              <p class="title">Con Balearia Club, viajar tiene recompensa</p>
              <p class="text">
                Crea tu cuenta y gana tus primeros <span class="u-font-weight-semibold"> 35 puntos!</span>
              </p>
            </div>
          </div>
          <div class="g-extra-banner--padding">
            <button class="btn btn--primary btn--primary__border btn--medium">Crear cuenta ahora</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
