<div class="u-bg--lighter">
  <!-- preheader -->
  <section class="g-pre-header u-d-none u-d-md-block">
    <div class="o-container">
      <div class="u-d-flex u-justify-content-end">
        <a class="btn btn--transparent btn--small o-mr--2">Carga</a>
        <a class="btn btn--transparent btn--small">Agencias</a>
      </div>
    </div>
  </section>

  <!-- header -->
  <section class="g-header">
    <div class="o-container u-d-flex u-align-items-center u-justify-content-between u-h--100 wrapper">
      <ul class="g-header__list first u-d-md-flex u-align-items-center u-justify-content-between">
        <li class="g-header__item" id="offer">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold"
            >Ofertas <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow"
          /></a>
          <div class="g-header__submenu">
            <div class="o-container u-d-lg-flex no-padding-mobile">
              <div class="g-header__sub-header back">
                <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Ofertas</h2>
              </div>
              <ul class="g-header__sublist">
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Baleares <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Argelia <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Francia <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Estrecho - sur <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Canarias <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >EE.UU - Caribe <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
              </ul>
              <div class="g-header__sub-content u-w--100">
                <div class="g-header__title-link u-d-flex u-align-items-center u-justify-content-between">
                  <h2 class="g-header__sub-title">Ofertas destacadas de Baleares</h2>
                  <button class="btn btn--primary btn--primary__ghost btn-link">
                    Ver todos<i class="icon-arrow-right"></i>
                  </button>
                </div>
                <div class="g-header__sub-header">
                  <h2 class="g-header__sub-header-title back-two">
                    <i class="icon-arrow-right o-mr--1 icon"></i>Ofertas
                  </h2>
                  <button class="btn btn--primary btn--primary__ghost">
                    Ver todas<i class="icon-arrow-right"></i>
                  </button>
                </div>
                <div class="o-row padding-mobile">
                  <div class="o-col-md-8">
                    <div class="g-header__box">
                      <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                      <div
                        class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                      >
                        <div class="g-header__box-text">
                          <h3 class="g-header__box-title">Ibiza</h3>
                          <p class="g-header__box-price">
                            <span class="u-font-weight-bold number">33</span>
                            <span class="coin">€</span>
                            <span class="text--small">Desde</span>
                          </p>
                        </div>
                        <button class="btn btn--primary btn--medium">Descúbrelo<i class="icon-arrow-right"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="o-col-md-8">
                    <div class="g-header__box">
                      <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                      <div
                        class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                      >
                        <div class="g-header__box-text">
                          <h3 class="g-header__box-title">Mallorca</h3>
                          <p class="g-header__box-price">
                            <span class="u-font-weight-bold number">33</span>
                            <span class="coin">€</span>
                            <span class="text--small">Desde</span>
                          </p>
                        </div>
                        <button class="btn btn--primary btn--medium">Descúbrelo<i class="icon-arrow-right"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="o-col-md-8">
                    <div class="g-header__box">
                      <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                      <div
                        class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                      >
                        <div class="g-header__box-text">
                          <h3 class="g-header__box-title">Menorca</h3>
                          <p class="g-header__box-price">
                            <span class="u-font-weight-bold number">33</span>
                            <span class="coin">€</span>
                            <span class="text--small">Desde</span>
                          </p>
                        </div>
                        <button class="btn btn--primary btn--medium">Descúbrelo<i class="icon-arrow-right"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="g-header__item" id="balearia">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold"
            >Viajar con Balearia <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow"
          /></a>
          <div class="g-header__submenu">
            <div class="o-container u-d-lg-flex no-padding-mobile">
              <div class="g-header__sub-header back">
                <h2 class="g-header__sub-header-title">
                  <i class="icon-arrow-right o-mr--1 icon"></i>Viajar con Balearia
                </h2>
                <button class="btn btn--primary btn--primary__ghost">Ver todos<i class="icon-arrow-right"></i></button>
              </div>
              <ul class="g-header__sublist">
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Nuestros barcos <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viaja con mascotas <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viaja con vehículo <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viajes sostenibles <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viaja en Classe VIP <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100 u-d-lg-none experience">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Experiencia a bordo <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100 u-d-lg-none info">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Info práctica <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100 u-d-lg-none travel">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Viajes para ti <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
              </ul>
              <div class="g-header__sub-content u-w--100">
                <div class="o-container no-padding-mobile">
                  <div class="o-row">
                    <div class="o-col-lg-6" id="experience">
                      <div class="g-header__sub-header back-two">
                        <h2 class="g-header__sub-header-title">
                          <i class="icon-arrow-right o-mr--1 icon"></i>Experiencia a bordo
                        </h2>
                        <button class="btn btn--primary btn--primary__ghost">
                          Ver todas<i class="icon-arrow-right"></i>
                        </button>
                      </div>
                      <h3 class="g-header__title-small">Experiencia a bordo</h3>
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Acomodaciones</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Series y películas</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Internet y Wifi</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Niños</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Comida y bebida</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Instalaciones</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Actividades y eventos</a
                      >
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6" id="info">
                      <div class="g-header__sub-header back-two">
                        <h2 class="g-header__sub-header-title">
                          <i class="icon-arrow-right o-mr--1 icon"></i>Info práctica
                        </h2>
                        <button class="btn btn--primary btn--primary__ghost">
                          Ver todas<i class="icon-arrow-right"></i>
                        </button>
                      </div>
                      <h3 class="g-header__title-small">Info práctica</h3>
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Información COVID-19</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Puertos y puntos de venta</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Seguridad</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Link helpdesk</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Link helpdesk</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Link helpdesk</a
                      >
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6" id="travel">
                      <div class="g-header__sub-header back-two">
                        <h2 class="g-header__sub-header-title">
                          <i class="icon-arrow-right o-mr--1 icon"></i>Viajes para ti
                        </h2>
                        <button class="btn btn--primary btn--primary__ghost">
                          Ver todas<i class="icon-arrow-right"></i>
                        </button>
                      </div>
                      <h3 class="g-header__title-small">Viajes para ti</h3>
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Viaja en familia</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Viaja en grupo</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Viaje de aventuras</a
                      >
                      <a href="javascript:void(0)" class="g-header__link-text u-d-block padding-text fw-normal"
                        >Alojamiento y actividades</a
                      >
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="g-header__item" id="route">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold"
            >Rutas <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow"
          /></a>
          <div class="g-header__submenu">
            <div class="o-container u-d-lg-flex no-padding-mobile">
              <div class="g-header__sub-header u-d-md-none back">
                <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Rutas</h2>
              </div>
              <ul class="g-header__sublist">
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Baleares <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                  <div class="u-d-flex u-align-items-center u-justify-content-between" style="display: none">
                    <h2 class="g-header__sub-header-title u-d-md-none">
                      <i class="icon-arrow-right o-mr--1 icon"></i>Rutas
                    </h2>
                    <button class="btn btn--primary btn--primary__ghost btn-mobile u-d-md-none">
                      Ver todas<i class="icon-arrow-right"></i>
                    </button>
                  </div>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Argelia <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Francia <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Estrecho - sur <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >Canarias <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
                <li class="g-header__subitem u-w--100">
                  <a
                    href="javascript:void(0)"
                    class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                    >EE.UU - Caribe <img src="../../../assets/img/arrow-right.svg" alt=""
                  /></a>
                </li>
              </ul>
              <div class="g-header__sub-content u-w--100">
                <div class="g-header__title-link u-d-flex u-align-items-center u-justify-content-between">
                  <h2 class="g-header__sub-title">Rutas destacadas de Baleares</h2>
                  <button class="btn btn--primary btn--primary__ghost btn-link">
                    Ver todos<i class="icon-arrow-right"></i>
                  </button>
                </div>
                <div class="g-header__sub-header u-d-md-none back-two">
                  <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Rutas</h2>
                </div>
                <div class="o-container">
                  <div class="o-row o-mb-lg--2 row--margin" id="list-route">
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Barcelona <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Mallorca <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Valencia <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Ibiza <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                  <div class="o-row" id="list-route-two">
                    <div class="o-col-lg-6 dropdown__box content--padding">
                      <h3 class="g-header__title-small">
                        Desde Formentera <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Mallorca <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Valencia <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                    <div class="o-col-lg-6 dropdown__box">
                      <h3 class="g-header__title-small">
                        Desde Ibiza <img src="../../../assets/img/arrow-down.png" alt="" class="arrow-icon" />
                      </h3>
                      <div class="dropdown__content">
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Formentera</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                        <a href="javascript:void(0)" class="g-header__link-text u-d-block fw-normal"
                          >Ferry Barcelona - Ibiza</a
                        >
                      </div>
                      <button class="btn btn--primary btn--primary__ghost btn-desktop">
                        Ver todos<i class="icon-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="g-header__item" id="destiny">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold"
            >Destinos <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow"
          /></a>
          <div class="g-header__submenu">
            <div class="g-header__sub-header back">
              <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Destinos</h2>
              <button class="btn btn--primary btn--primary__ghost">Ver todos<i class="icon-arrow-right"></i></button>
            </div>
            <ul class="g-header__sublist u-d-lg-none">
              <li class="g-header__subitem u-w--100 islas">
                <a
                  href="javascript:void(0)"
                  class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                  >Islas Baleares <img src="../../../assets/img/arrow-right.svg" alt=""
                /></a>
              </li>
              <li class="g-header__subitem u-w--100 peninsula">
                <a
                  href="javascript:void(0)"
                  class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                  >Península Ibérica <img src="../../../assets/img/arrow-right.svg" alt=""
                /></a>
              </li>
              <li class="g-header__subitem u-w--100 canarias">
                <a
                  href="javascript:void(0)"
                  class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                  >Canarias <img src="../../../assets/img/arrow-right.svg" alt=""
                /></a>
              </li>
              <li class="g-header__subitem u-w--100 africa">
                <a
                  href="javascript:void(0)"
                  class="g-header__subitem-link u-d-flex u-align-items-center u-justify-content-between"
                  >Norte de África<img src="../../../assets/img/arrow-right.svg" alt=""
                /></a>
              </li>
            </ul>
            <div class="o-container col--mobile">
              <h3 class="g-header__title-small">Top destinos ahora</h3>
              <div class="g-header__box small">
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                <div
                  class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                >
                  <div class="g-header__box-text">
                    <h3 class="g-header__box-title">Mallorca</h3>
                    <p class="g-header__box-price">
                      <span class="u-font-weight-bold number">33</span>
                      <span class="coin">€</span>
                      <span class="text--small">Desde</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="g-header__box small">
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                <div
                  class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                >
                  <div class="g-header__box-text">
                    <h3 class="g-header__box-title">Mallorca</h3>
                    <p class="g-header__box-price">
                      <span class="u-font-weight-bold number">33</span>
                      <span class="coin">€</span>
                      <span class="text--small">Desde</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="g-header__sub-content u-w--100">
              <div class="o-container no-padding-mobile">
                <div class="o-row o-mb--2 u-w--100 u-justify-content-md-between row--padding">
                  <div class="o-col-lg-3 col" id="islas">
                    <div class="g-header__sub-header back-two">
                      <h2 class="g-header__sub-header-title">
                        <i class="icon-arrow-right o-mr--1 icon"></i>Islas Baleares
                      </h2>
                    </div>
                    <h3 class="g-header__title-small">Islas Baleares</h3>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Mallorca <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Ibiza <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Menorca <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Formentera <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                  </div>
                  <div class="o-col-lg-3 col" id="peninsula">
                    <div class="g-header__sub-header back-two">
                      <h2 class="g-header__sub-header-title">
                        <i class="icon-arrow-right o-mr--1 icon"></i>Península Ibérica
                      </h2>
                    </div>
                    <h3 class="g-header__title-small">Península Ibérica</h3>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Barcelona <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Dénia <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Valencia <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Almería <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Huelva <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Málaga <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                  </div>
                  <div class="o-col-lg-3 col" id="canarias">
                    <div class="g-header__sub-header back-two">
                      <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Canarias</h2>
                    </div>
                    <h3 class="g-header__title-small">Canarias</h3>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Las Palmas de Gran Canaria
                      <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Tenerife <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                  </div>
                  <div class="o-col-lg-3 col" id="africa">
                    <div class="g-header__sub-header back-two">
                      <h2 class="g-header__sub-header-title">
                        <i class="icon-arrow-right o-mr--1 icon"></i>Norte de África
                      </h2>
                    </div>
                    <h3 class="g-header__title-small">Norte de África</h3>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Nador <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Mostaganem <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Tanger <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Ceuta <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Melilla <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                    <a href="javascript:void(0)" class="g-header__link-text u-d-block mobile"
                      >Alhucemas <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow-icon"
                    /></a>
                  </div>
                  <div class="o-col-md-8 o-col-lg-6 col--desktop">
                    <h3 class="g-header__title-small">Top destinos ahora</h3>
                    <div class="g-header__box small">
                      <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                      <div
                        class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                      >
                        <div class="g-header__box-text">
                          <h3 class="g-header__box-title">Mallorca</h3>
                          <p class="g-header__box-price">
                            <span class="u-font-weight-bold number">33</span>
                            <span class="coin">€</span>
                            <span class="text--small">Desde</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="g-header__box small">
                      <img src="../../../assets/img/destination-2.jpeg" alt="" class="g-header__box-img" />
                      <div
                        class="g-header__box-info u-d-flex u-align-items-end u-justify-content-between u-flex-wrap o-pr--3 o-pl--3 o-pb--3 u-w--100"
                      >
                        <div class="g-header__box-text">
                          <h3 class="g-header__box-title">Mallorca</h3>
                          <p class="g-header__box-price">
                            <span class="u-font-weight-bold number">33</span>
                            <span class="coin">€</span>
                            <span class="text--small">Desde</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="g-header__logo">
        <i class="icon-menu toggle icon" id="open_header"></i>
        <a href="javascript:void(0)">
          <img src="../../../assets/img/logo.svg" alt="logo" class="img" />
        </a>
        <div>
          <i class="icon-close close" id="close_header"></i>
        </div>
        <div class="g-header__logo-help">
          <i class="icon-help icon"></i>
          <button class="btn btn--secondary g-header__btn"><i class="icon-user o-mr--1"></i></button>
        </div>
      </div>
      <ul class="g-header__list last u-d-md-flex u-align-items-center u-justify-content-between">
        <li class="g-header__item active" id="reservation">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold fw-normal">Mis reservas</a>
        </li>
        <li class="g-header__item" id="help">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold fw-normal">Ayuda</a>
        </li>
        <li class="g-header__item language" id="language">
          <a href="javascript:void(0)" class="g-header__item-link">Español</a>
          <div class="g-header__submenu">
            <div class="g-header__sub-header back">
              <h2 class="g-header__sub-header-title"><i class="icon-arrow-right o-mr--1 icon"></i>Idioma</h2>
            </div>
            <div class="o-container">
              <div class="o-row o-mb--2 u-w--100 u-justify-content-md-between">
                <div class="o-col-md-8 o-col-lg-3">
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">Español</a>
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">Català</a>
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">Français</a>
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">English</a>
                  <a href="javascript:void(0)" class="g-header__link-text u-d-block">Italiano</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="g-header__item club" id="club">
          <a href="javascript:void(0)" class="g-header__item-link u-font-weight-semibold"
            >Balearia Club <img src="../../../assets/img/arrow-right.svg" alt="" class="arrow"
          /></a>
          <p class="text">El club de socios de Balearia donde viajar tiene recompensa.</p>
          <div class="btn__wrapper u-d-flex u-align-items-center u-justify-content-between">
            <button class="btn btn--primary btn--medium">Únete ahora</button>
            <button class="btn btn--primary btn--primary__border btn--medium">Iniciar sesión</button>
          </div>
        </li>
        <li class="g-header__item language" id="load">
          <a href="javascript:void(0)" class="g-header__item-link">Carga</a>
        </li>
        <li class="g-header__item language" id="agency">
          <a href="javascript:void(0)" class="g-header__item-link">Agencias</a>
        </li>

        <li class="g-header__item g-header__btn-box">
          <button class="btn btn--secondary g-header__btn">
            <i class="icon-user o-mr--1"></i><img src="../../../assets/img/logo-small.png" alt="" />
            <span class="g-header__btn-text o-ml--1">Club</span>
          </button>
        </li>
      </ul>
    </div>
  </section>

  <section class="o-container">
    <div class="o-row u-justify-content-center">
      <div class="o-col-lg-22">
        <div class="box--irregular box--irregular--full">
          <div class="o-mt--7 mobile-none"></div>
          <div class="o-row login o-col-lg-24 box--double">
            <div class="o-col-lg-12 box--double__img">
              <img class="img u-w--100 mobile-none g-object-cover g-mx-h--780px" src="../../../assets/img/login-bg-desktop.svg" alt="" />
            </div>
            <div class="o-col-lg-12 box--double__text">
              <div class="o-col-lg-24">
                <div class="o-mt--5 o-pr-lg--4 o-pl-lg--4">
                  <h2 class="title--bold o-mb--1 o-mt--2 o-mb--2">Accede a tu reserva</h2>
                  <div class="o-pb--3">
                    <p class="label__link">¿Ya tienes cuenta en Balearia Club? </p>
                    <a href="#" class="g-link g-link--orange o-ml--1 mobile-none">Inicia sesión ahora</a>
                    <a href="#" class="g-link g-link--orange o-ml--1 desktop-none">Inicia sesión ahora</a>
                  </div>
                  <p class="u-text--fz-14 o-mb--3">Accediendo a tu reserva podrás mejorar tu viaje con servicios extra, ver tus tarjetas de embarque, realizar los cambios incluidos en tu tarifa y mucho más!</p>
                  <div class="o-mb--3">
                    <div class="form__input-wrapper o-mb--3">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>DNI</label>
                    </div>
                    <div class="form__input-wrapper o-mb--1">
                      <input class="g-input form__input" type="text" name="label" placeholder=" " />
                      <label>Localizador</label>
                    </div>
                    <p class="u-help u-text--gray-light o-mb--1">
                      Código con 7 letras y números que encontrarás en tu email de confirmación de reserva
                    </p>
                  </div>
                  <button class="btn btn--primary btn--medium o-mb--1 u-w--100">Acceder a mi reserva</button>
                </div>
                <div class="mobile-none o-pr-lg--4 o-pl-lg--4 o-pt--2">
                  <h2 class="subtitle--bold o-mb--3 o-mt--3">
                    Haciéndote del Balearia Club, tus reservas tienen recompensa, siempre
                  </h2>
                  <ul class="list list--check-circle o-mb--3">
                    <li class="list__item o-mb--1">Consigue descuentos y recompensas</li>
                    <li class="list__item o-mb--1">Mejora tu experiencia a bordo</li>
                    <li class="list__item o-mb--1">Reserva más rápido y más fácil</li>
                    <li class="list__item o-mb--1">Diviértete completando misiones</li>
                  </ul>
                  <div class="link-icon u-d-md-flex u-align-items-center">
                    <a href="#" class="link-icon__link mobile-none">Descubre todas las ventajas del Club Balearia</a>
                    <i class="icon-arrow-right link-icon__icon o-pl--1"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-row u-justify-content-center o-mb--12 o-mt--3 o-mt-lg--0">
      <div class="o-col-lg-22">
        <div class="box banner-information">
          <div class="o-row u-w--100">
            <div class="o-col-md-12 o-col-lg-16 u-d-flex u-flex-column u-justify-content-between">
              <div class="u-d-flex u-align-items-start">
                <img src="../../../assets/img/mobile.svg" alt="" class="o-mr--2 u-img--large">
                <div>
                  <h2 class="banner-information__title u-text u-d-flex u-align-items-center">
                    Descarga la app Balearia mejora tu experiencia a bordo
                  </h2>
                  <p class="banner-information__subtitle u-label">
                    Internet gratis, las tarjetas de embarque en tu móvil y entretenimiento a bordo
                  </p>
                </div>
              </div>
              <div class="banner-information__btns u-d-flex u-flex-md-wrap margin-mobile">
                <button class="btn btn--primary btn--medium banner-information__btn u-d-block u-w-mobile--100 o-mr--2" data-micromodal-trigger="modal-download-app">
                  Descargar la app
                </button>
                <button class="btn btn--primary btn--primary__border btn--medium banner-information__btn u-d-block u-w-mobile--100" data-micromodal-trigger="modal-download-app">
                  Descubre más
                </button>
              </div>
            </div>
            <div class="o-col-md-12 o-col-lg-8">
              <ul class="list">
                <li class="list__item u-text--text-light u-d-flex u-align-items-center o-mb--3">
                  <i class="icon-cine o-mr--1"></i>
                  <span class="u-text-default u-text-default--small">Cine y telévisión a bordo con series y películas</span>
                </li>
                <li class="list__item u-text--text-light u-d-flex u-align-items-center o-mb--3">
                  <i class="icon-game o-mr--1"></i>
                  <span class="u-text-default u-text-default--small">Entretenimiento a bordo con juegos y revistas online</span>
                </li>
                <li class="list__item u-text--text-light u-d-flex u-align-items-center o-mb--3">
                  <i class="icon-pet o-mr--1"></i>
                  <span class="u-text-default u-text-default--small">Mira tus mascotas con nuestra cámaras en tiempo real</span>
                </li>
                <li class="list__item u-text--text-light u-d-flex u-align-items-center">
                  <i class="icon-lighting o-mr--1"></i>
                  <span class="u-text-default u-text-default--small">Y mucho más</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <section class="footer-small mobile-none">
    <div class="o-container">
      <div
        class="footer-small__row u-border--top-gray u-d-flex u-justify-content-between u-align-items-center o-pt--3 o-pb--3"
      >
        <div class="footer-small__info">
          <p class="footer-small__text">2021 Baleària. Todos los derechos reservados.</p>
        </div>
        <div class="footer-small__links">
          <a class="footer-small__link">Política de cookies</a>
          <a class="footer-small__link">Política de privacidad</a>
          <a class="footer-small__link">Condiciones de uso</a>
        </div>
      </div>
    </div>
  </section>
</div>