<section class="home__slider">
  <div class="o-row">
    <div class="o-col-md-24">
      <div class="swiper mySwiper2 g-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card">
              <div class="card__img">
                <div class="circle-tag u-d-flex u-align-items-center u-justify-content-center">Ultimas plazas</div>
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="img" />
                <div class="card__text">
                  <p class="text">En navidad</p>
                  <div class="title-box">
                    <h3 class="title">Alcúdia</h3>
                    <h3 class="title">Barcelona</h3>
                  </div>
                </div>
              </div>
              <div class="card__info">
                <p class="card__title">Viajando en acomodación Neptuno</p>
                <div class="card__details u-align-items-end u-justify-content-between o-mb--1 o-mt--4">
                  <p class="o-m--0 u-d-flex u-align-items-center">
                    <span class="card__discount u-font-weight-bold">-30</span><span class="percentage">%</span
                    ><span class="o-ml--1 text--small">de descuento</span>
                  </p>
                  <a href="#" class="card__link">ver detalles</a>
                </div>
                <button class="btn btn--primary btn--medium">Reservar ahora</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="card__img">
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="img" />
                <div class="card__text">
                  <p class="text">En navidad</p>
                  <div class="title-box">
                    <h3 class="title">Alcúdia</h3>
                    <h3 class="title">Barcelona</h3>
                  </div>
                </div>
              </div>
              <div class="card__info">
                <p class="card__title">Viajando en acomodación Neptuno</p>
                <div class="card__details u-align-items-end u-justify-content-between o-mb--1 o-mt--4">
                  <p class="o-m--0 u-d-flex u-align-items-center">
                    <span class="card__discount u-font-weight-bold">-30</span><span class="percentage">%</span
                    ><span class="o-ml--1 text--small">de descuento</span>
                  </p>
                  <a href="#" class="card__link">ver detalles</a>
                </div>
                <button class="btn btn--primary btn--medium">Reservar ahora</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="card__img">
                <img src="../../../assets/img/destination-2.jpeg" alt="" class="img" />
                <div class="card__text">
                  <p class="text">En navidad</p>
                  <div class="title-box">
                    <h3 class="title">Alcúdia</h3>
                    <h3 class="title">Barcelona</h3>
                  </div>
                </div>
              </div>
              <div class="card__info">
                <p class="card__title">Viajando en acomodación Neptuno</p>
                <div class="card__details u-align-items-end u-justify-content-between o-mb--1 o-mt--4">
                  <p class="o-m--0 u-d-flex u-align-items-center">
                    <span class="card__discount u-font-weight-bold">-30</span><span class="percentage">%</span
                    ><span class="o-ml--1 text--small">de descuento</span>
                  </p>
                  <a href="#" class="card__link">ver detalles</a>
                </div>
                <button class="btn btn--primary btn--medium">Reservar ahora</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
