<!-- padding for better visualization only -->
<div style="padding: 20px">
  <div class="c-check-accordion__header">
    <div class="g-calendar--check">
      <label class="control control--checkbox"
        >¿Viajas con equipamiento adicional?
        <input type="checkbox" />
        <div class="control__indicator"></div>
      </label>
    </div>
  </div>
  <div class="c-check-accordion__content">
    <div class="o-row">
      <div class="o-col-md-12 o-col-md-6 o-col-lg-8 margin-responsive">
        <div class="form__input-wrapper">
          <select class="form__select" id="extra" name="extra" required>
            <option value="" selected></option>
            <option value="elder">Persona mayor</option>
            <option value="pregnant">Embarazada</option>
            <option value="vision">Discapacidad visual</option>
          </select>
          <label>Selecciona tipo de asistencia</label>
        </div>
      </div>
      <div class="o-col-sm-12 o-col-md-6 o-col-lg-4 margin-responsive">
        <div class="form__input-wrapper">
          <input class="g-input form__input" type="text" name="label" placeholder=" " />
          <label>Número de afiliación</label>
        </div>
      </div>
    </div>
  </div>
</div>
