<div class="o-container o-pt--3">
  <div class="o-row">
    <div class="o-col-md-4">
      <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center disabled">
        <p class="title o-mb--1">Dom. 15 dic</p>
       <i class="icon-boat icon"></i>
      </div>
    </div>
    <div class="o-col-md-4">
      <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center active">
        <p class="title o-mb--1">Dom. 15 dic</p>
        <p class="text">-</p>
      </div>
    </div>
    <div class="o-col-md-4">
      <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
        <p class="title o-mb--1">Dom. 15 dic</p>
        <p class="text">24,50€</p>
      </div>
    </div>
    <div class="o-col-md-4">
      <div class="box__text u-d-flex u-flex-column u-align-items-center u-justify-content-center">
        <p class="title o-mb--1">Dom. 15 dic</p>
        <p class="text">24,50€</p>
      </div>
    </div>
  </div>
</div>